<font size="6">Calculate GHG Intensity per GDP, PPP </font>

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib

<font size="4">Load Environment Variables</font>

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [5]:
# Show available schemas to ensure trino connection is set correctly
ingest_catalog = 'osc_datacommons_dev'
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('default',)
('demo_dv',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('sandbox',)

In [6]:
# define source and destination tables
# LULUCF (Land Use, Land-Use Change and Forestry)

ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_unfccc_results'
src_table_1 = 'sf_unfccc_with_lulucf'
src_table_2 = 'sf_unfccc_without_lulucf'
src_table_3 = 'sf_wdi_gdp'

In [7]:
def requantify_df(df):
    units_col = None
    columns_reversed = reversed(df.columns)
    for col in columns_reversed:
        if col.endswith("_units"):
            if units_col:
                # We expect _units column to follow a non-units column
                raise ValueError
            units_col = col
            continue
        if units_col:
            if col + '_units' != units_col:
                raise ValueError
            if (df[units_col]==df[units_col][0]).all():
                # Make a PintArray
                new_col = PintArray(df[col], dtype=f"pint[{ureg(df[units_col][0]).u}]")
            else:
                # Make a pd.Series of Quantity in a way that does not throw UnitStrippedWarning
                new_col = pd.Series(data=df[col], name=col) * pd.Series(data=df[units_col].map(lambda x: ureg(x).u), name=col)
            df = df.drop(columns=units_col)
            df[col] = new_col
            units_col = None
    return df

In [8]:
import pandas as pd
from functools import reduce
import matplotlib.pyplot as plot
import pandas as pd
import pint
from pint import set_application_registry, Quantity
from pint_pandas import PintArray, PintType
from pint_pandas.pint_array import is_pint_type
from openscm_units import unit_registry
#PintType.ureg = unit_registry
ureg = unit_registry
Q_ = ureg.Quantity
ureg.define("CO2e=CO2=CO2eq=CO2_eq")
ureg.define("USD=[currency]=$")
set_application_registry(ureg)



sql=f"""
select country_iso_code,country_name,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_1} """ 
df1 = pd.read_sql(sql, engine)
#df1["units"] = "kt"
df1 = requantify_df(df1).convert_dtypes()
df1
df1.info(verbose=True)
sql=f"""
select country_iso_code,country_name,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_2}"""
df2 = pd.read_sql(sql, engine)
df2 = requantify_df(df2).convert_dtypes()
#df2
# gdp
sql=f"""
select country_iso_code,validity_date,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where attribute='GDP (current US$)'"""
df3 = pd.read_sql(sql, engine)
df3 = requantify_df(df3).convert_dtypes()
# gdp ppp
sql=f"""
select country_iso_code,validity_date,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where attribute='GDP, PPP (current international $)'"""
df4 = pd.read_sql(sql, engine)
df4 = requantify_df(df4).convert_dtypes()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2212 entries, 0 to 2211
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_iso_code  2212 non-null   string
 1   country_name      2212 non-null   string
 2   validity_date     2212 non-null   Int64
 3   attribute         2212 non-null   string
 4   value             2212 non-null   pint[CO2e * kt]
dtypes: Int64(1), pint[CO2e * kt](1), string(3)
memory usage: 88.7 KB

Read the source tables into dataframes

<font size="4">Merge the source dataframes in a single dataframe and calculate ghg intensity values</font>

In [9]:

df_result = pd.merge(df1,df2,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()
df_result.drop(columns=['country_name_y','attribute_x','attribute_y'],inplace=True)
df_result.rename(columns={"country_name_x":"country_name","value_x": "ghg_total_with_lulucf", "value_y": "ghg_total_without_lulucf"},inplace=True)

###

df_result = pd.merge(df_result,df3,on=['country_iso_code','validity_date'],how="outer")  
df_result.rename(columns={"value":"gdp"},inplace=True)
###
df_result = pd.merge(df_result,df4,on=['country_iso_code','validity_date'],how="outer")  
df_result.rename(columns={"value":"gdp_ppp"},inplace=True)



df_result["ghg_intensity_with_lulucf_per_gdp"] = df_result["ghg_total_with_lulucf"]/df_result["gdp_ppp"]*1000000
df_result["ghg_intensity_without_lulucf_per_gdp"] = df_result["ghg_total_without_lulucf"]/df_result["gdp_ppp"]*1000000
df_result.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12948 entries, 0 to 12947
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country_iso_code                      12948 non-null  string
 1   country_name                          2212 non-null   string
 2   validity_date                         12948 non-null  Int64
 3   ghg_total_with_lulucf                 2212 non-null   pint[CO2e * kt]
 4   ghg_total_without_lulucf              2212 non-null   pint[CO2e * kt]
 5   gdp                                   12854 non-null  pint[USD]
 6   gdp_ppp                               7210 non-null   pint[USD]
 7   ghg_intensity_with_lulucf_per_gdp     2045 non-null   pint[CO2e * kt / USD]
 8   ghg_intensity_without_lulucf_per_gdp  2045 non-null   pint[CO2e * kt / USD]
dtypes: Int64(1), pint[CO2e * kt / USD](2), pint[CO2e * kt](2), pint[USD](2), string(2)
memory usage: 1.0 MB

In [10]:
# If DF_COL contains Pint quantities (because it is a PintArray or an array of Pint Quantities),
# return a two-column dataframe of magnitudes and units.
# If DF_COL contains no Pint quanities, return it unchanged.

def dequantify_column(df_col: pd.Series):
    if type(df_col.values)==PintArray:
        return pd.DataFrame({df_col.name: df_col.values.quantity.m,
                             df_col.name + "_units": str(df_col.values.dtype.units)},
                            index=df_col.index)
    elif df_col.size==0:
        return df_col
    elif isinstance(df_col.iloc[0], Quantity):
        values = df_col.map(lambda x: (x.m, x.u))
        return pd.DataFrame({df_col.name: df_col.map(lambda x: x.m),
                             df_col.name + "_units": df_col.map(lambda x: str(x.u))},
                            index=df_col.index)
    else:
        return df_col

# Rewrite dataframe DF so that columns containing Pint quantities are represented by a column for the Magnitude and column for the Units.
# The magnitude column retains the original column name and the units column is renamed with a _units suffix.
def dequantify_df(df):
    return pd.concat([dequantify_column(df[col]) for col in df.columns], axis=1)

In [11]:
df1 = dequantify_df(df1)
df2 = dequantify_df(df2)
df3 = dequantify_df(df3)
df_result = dequantify_df(df_result)
df_result=df_result.convert_dtypes()
df_result.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12948 entries, 0 to 12947
Data columns (total 15 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country_iso_code                            12948 non-null  string
 1   country_name                                2212 non-null   string
 2   validity_date                               12948 non-null  Int64
 3   ghg_total_with_lulucf                       2212 non-null   Float64
 4   ghg_total_with_lulucf_units                 12948 non-null  string
 5   ghg_total_without_lulucf                    2212 non-null   Float64
 6   ghg_total_without_lulucf_units              12948 non-null  string
 7   gdp                                         12854 non-null  Float64
 8   gdp_units                                   12948 non-null  string
 9   gdp_ppp                                     7210 non-null   Float64
 10  gdp_ppp_units                               12948 non-null  string
 11  ghg_intensity_with_lulucf_per_gdp           2045 non-null   Float64
 12  ghg_intensity_with_lulucf_per_gdp_units     12948 non-null  string
 13  ghg_intensity_without_lulucf_per_gdp        2045 non-null   Float64
 14  ghg_intensity_without_lulucf_per_gdp_units  12948 non-null  string
dtypes: Float64(6), Int64(1), string(8)
memory usage: 1.7 MB

In [12]:

# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
CREATE SCHEMA if not exists {ingest_catalog}.{ingest_schema}
 AUTHORIZATION USER mersin35
 WITH (
     location = 's3a://osc-datacommons-s3-bucket-dev02/data/pcaf_covereign.db'
 )
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

CREATE SCHEMA if not exists osc_datacommons_dev.pcaf_sovereign_footprint
 AUTHORIZATION USER mersin35
 WITH (
     location = 's3a://osc-datacommons-s3-bucket-dev02/data/pcaf_covereign.db'
 )

[(True,)]

Run these in a notebook cell if you need to install onto your nb env

<font size="5">Save the results in Trino</font>

In [13]:

# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
CREATE SCHEMA if not exists {ingest_catalog}.{ingest_schema}
 AUTHORIZATION USER mersin35
 WITH (
     location = 's3a://osc-datacommons-s3-bucket-dev02/data/pcaf_covereign.db'
 )
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

CREATE SCHEMA if not exists osc_datacommons_dev.pcaf_sovereign_footprint
 AUTHORIZATION USER mersin35
 WITH (
     location = 's3a://osc-datacommons-s3-bucket-dev02/data/pcaf_covereign.db'
 )

[(True,)]

In [14]:
import osc_ingest_trino as osc
#df_result['validity_date']=pd.to_datetime(df_result['validity_date'], unit='D')
#df_result=df_result.convert_dtypes()
#df_result.info()
columnschema = osc.create_table_schema_pairs(df_result) 
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_unfccc_results

[(True,)]

In [15]:
tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['country_iso_code']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
print(qres.fetchall())

create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_unfccc_results(
    country_iso_code varchar,
    country_name varchar,
    validity_date bigint,
    ghg_total_with_lulucf double,
    ghg_total_with_lulucf_units varchar,
    ghg_total_without_lulucf double,
    ghg_total_without_lulucf_units varchar,
    gdp double,
    gdp_units varchar,
    gdp_ppp double,
    gdp_ppp_units varchar,
    ghg_intensity_with_lulucf_per_gdp double,
    ghg_intensity_with_lulucf_per_gdp_units varchar,
    ghg_intensity_without_lulucf_per_gdp double,
    ghg_intensity_without_lulucf_per_gdp_units varchar
) with (
    format = 'ORC',
    partitioning = array['country_iso_code']
)

[(True,)]

In [16]:
# Delete all data from our db, so we start with empty table
sql=f"""
delete from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
qres = engine.execute(sql)
print(qres.fetchall())

[(None,)]

In [17]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
pd.read_sql(sql, engine)

Empty DataFrame
Columns: [country_iso_code, country_name, validity_date, ghg_total_with_lulucf, ghg_total_with_lulucf_units, ghg_total_without_lulucf, ghg_total_without_lulucf_units, gdp, gdp_units, gdp_ppp, gdp_ppp_units, ghg_intensity_with_lulucf_per_gdp, ghg_intensity_with_lulucf_per_gdp_units, ghg_intensity_without_lulucf_per_gdp, ghg_intensity_without_lulucf_per_gdp_units]
Index: []

In [18]:
print(ingest_catalog)
#df=df.drop(df[df.country_name=="cote d'ivoire"].index)
df_result.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

osc_datacommons_dev
constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_unfccc_results"
inserting 1000 records
  ('BFA', 'Burkina Faso', 2009, 57388.2193344, 'CO2e * kt', 18158.7793344, 'CO2e * kt', 9450697335.53565, 'USD', 21366020198.687, 'USD', 2.68595736598277, 'CO2e * kt / USD', 0.8498905816589981, 'CO2e * kt / USD')
  ('BFA', 'Burkina Faso', 2010, 59937.63, 'CO2e * kt', 18974.78, 'CO2e * kt', 10109618964.2848, 'USD', 23440650603.1545, 'USD', 2.556995154048069, 'CO2e * kt / USD', 0.8094817981479784, 'CO2e * kt / USD')
  ('BFA', 'Burkina Faso', 2011, 60948.49, 'CO2e * kt', 19482.97, 'CO2e * kt', 12080296644.0643, 'USD', 25515102554.621, 'USD', 2.3887221252403594, 'CO2e * kt / USD', 0.7635858001468809, 'CO2e * kt / USD')
  ...
  ('KOR', 'Republic of Korea', 1995, 402792.71, 'CO2e * kt', 433716.16, 'CO2e * kt', 566583427334.137, 'USD', 608871842065.342, 'USD', 0.661539394946718, 'CO2e * kt / USD', 0.7123275047977257, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('KOR', 'Republic of Korea', 1996, 436071.51, 'CO2e * kt', 470428.66, 'CO2e * kt', 610169556840.077, 'USD', 668944044114.198, 'USD', 0.6518803984232148, 'CO2e * kt / USD', 0.7032406733255723, 'CO2e * kt / USD')
  ('KOR', 'Republic of Korea', 1997, 463011.23, 'CO2e * kt', 502054.52, 'CO2e * kt', 569754543829.957, 'USD', 722468658677.207, 'USD', 0.6408737935396994, 'CO2e * kt / USD', 0.6949152935149174, 'CO2e * kt / USD')
  ('KOR', 'Republic of Korea', 1998, 383784.55, 'CO2e * kt', 431384.93, 'CO2e * kt', 383330931042.356, 'USD', 693124625328.878, 'USD', 0.553702084697827, 'CO2e * kt / USD', 0.6223771515769099, 'CO2e * kt / USD')
  ...
  ('NOR', 'Norway', 1998, 38096.28776579562, 'CO2e * kt', 54779.96838164902, 'CO2e * kt', 154163364302.66, 'USD', 124906978407.393, 'USD', 0.30499727278280536, 'CO2e * kt / USD', 0.4385661160017838, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('NOR', 'Norway', 1999, 37678.55101977032, 'CO2e * kt', 55736.95024326501, 'CO2e * kt', 162284465073.341, 'USD', 136333970612.487, 'USD', 0.2763694980091726, 'CO2e * kt / USD', 0.4088265748651202, 'CO2e * kt / USD')
  ('NOR', 'Norway', 2000, 35529.05826853974, 'CO2e * kt', 55117.39231579161, 'CO2e * kt', 171247131268.604, 'USD', 165880541991.868, 'USD', 0.2141846044262472, 'CO2e * kt / USD', 0.3322715952935193, 'CO2e * kt / USD')
  ('NOR', 'Norway', 2001, 34860.85685230528, 'CO2e * kt', 56349.06938868183, 'CO2e * kt', 173972218824.027, 'USD', 170458684985.429, 'USD', 0.2045120602407864, 'CO2e * kt / USD', 0.33057317902868144, 'CO2e * kt / USD')
  ...
  ('CIV', NULL, 2018, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 58011466450.8643, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('CMR', NULL, 2018, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 39973839064.6084, 'USD', 95846283525.1766, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('COD', NULL, 2018, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 47146004586.6824, 'USD', 93480842340.5166, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('COG', NULL, 2018, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 13670036995.9959, 'USD', 21096755036.4186, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('NOR', NULL, 1960, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 5163271598.15702, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('NPL', NULL, 1960, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 508334413.965087, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('NZL', NULL, 1960, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 5485854791.97096, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('OED', NULL, 1960, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 1080922981905.54, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('CHN', NULL, 1991, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 383373318083.624, 'USD', 1259038032531.46, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('CIV', NULL, 1991, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 10492628915.4927, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('CMR', NULL, 1991, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 11840192674.1246, 'USD', 22905827117.8255, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('COD', NULL, 1991, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 9633911368.01541, 'USD', 28909375696.9554, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('SYR', NULL, 1989, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 18609532293.9866, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('TCD', NULL, 1989, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 1433686309.83642, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('TEA', NULL, 1989, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 621593456816.348, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('TEC', NULL, 1989, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 951630587536.993, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('UKR', NULL, 1988, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 74703706816.8446, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('UMC', NULL, 1988, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 2138792727444.1, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('URY', NULL, 1988, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 8213515458.51139, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('USA', NULL, 1988, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 5236438000000.0, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('JAM', NULL, 1974, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 2375096249.03751, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('JOR', NULL, 1974, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 1197454206.76808, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('JPN', NULL, 1974, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 479625998613.406, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('KEN', NULL, 1974, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 2969942180.34692, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('PER', NULL, 2020, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 202014363787.233, 'USD', 391656783058.764, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('PHL', NULL, 2020, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 361489325230.731, 'USD', 919368711912.142, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('PLW', NULL, 2020, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 257700000.0, 'USD', 295297363.622449, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('PNG', NULL, 2020, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 24668899683.4299, 'USD', 38352634153.0297, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('LIC', NULL, 1990, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 111023037406.573, 'USD', 229042096871.461, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('LKA', NULL, 1990, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 8032551173.24014, 'USD', 39941097175.3291, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('LMC', NULL, 1990, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 1049079871023.28, 'USD', 4104271670831.09, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('LMY', NULL, 1990, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 3755440873122.71, 'USD', 10772109287004.6, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('TSA', NULL, 1994, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 432324272247.724, 'USD', 1859754965357.76, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('TSS', NULL, 1994, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 325037790478.563, 'USD', 1026198949430.23, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('TTO', NULL, 1994, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 4947205860.01451, 'USD', 11123307413.6588, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('UMC', NULL, 1994, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 3192521243447.74, 'USD', 7900389942943.02, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('JOR', NULL, 1977, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 2096568478.59095, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 948 records
  ('JPN', NULL, 1977, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 721411786536.814, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('KEN', NULL, 1977, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 4494378855.33109, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('KIR', NULL, 1977, NULL, 'CO2e * kt', NULL, 'CO2e * kt', 38748059.4366822, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('IRN', NULL, 1991, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 'USD', 471389262572.439, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(948,)]

In [19]:
df_result.to_csv(ingest_table+".csv")
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}"""
pd.read_sql(sql, engine)

,country_iso_code,country_name,validity_date,ghg_total_with_lulucf,ghg_total_with_lulucf_units,ghg_total_without_lulucf,ghg_total_without_lulucf_units,gdp,gdp_units,gdp_ppp,gdp_ppp_units,ghg_intensity_with_lulucf_per_gdp,ghg_intensity_with_lulucf_per_gdp_units,ghg_intensity_without_lulucf_per_gdp,ghg_intensity_without_lulucf_per_gdp_units
0,OMN,None,1971,NaN,CO2e * kt,NaN,CO2e * kt,3.010106e+08,USD,NaN,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
1,OMN,None,1997,NaN,CO2e * kt,NaN,CO2e * kt,1.583745e+10,USD,8.071914e+10,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
2,OMN,None,1996,NaN,CO2e * kt,NaN,CO2e * kt,1.527776e+10,USD,7.478872e+10,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
3,OMN,None,2008,NaN,CO2e * kt,NaN,CO2e * kt,6.090545e+10,USD,1.394833e+11,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
4,OMN,None,2011,NaN,CO2e * kt,NaN,CO2e * kt,7.749753e+10,USD,1.612018e+11,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12943,SSF,None,1968,NaN,CO2e * kt,NaN,CO2e * kt,4.793797e+10,USD,NaN,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
12944,SSF,None,2019,NaN,CO2e * kt,NaN,CO2e * kt,1.804482e+12,USD,4.473166e+12,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
12945,CEB,None,2013,NaN,CO2e * kt,NaN,CO2e * kt,1.422764e+12,USD,2.485411e+12,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
12946,CEB,None,2009,NaN,CO2e * kt,NaN,CO2e * kt,1.290896e+12,USD,2.064386e+12,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD
12947,CEB,None,2020,NaN,CO2e * kt,NaN,CO2e * kt,1.653248e+12,USD,3.447095e+12,USD,NaN,CO2e * kt / USD,NaN,CO2e * kt / USD