In [ ]:
# Ingest EDGAR fossil-CO2-GHG data into Trino pipeline

In [ ]:
Run these in a notebook cell if you need to install onto your nb env

In [ ]:
# 'capture' magic prevents long outputs from spamming your notebook
#%%capture pipoutput

# For loading predefined environment variables from files
# Typically used to load sensitive access credentials
%pip install python-dotenv

# Standard python package for interacting with S3 buckets
%pip install boto3

# Interacting with Trino and using Trino with sqlalchemy
%pip install trino sqlalchemy sqlalchemy-trino

# Pandas and parquet file i/o
%pip install pandas pyarrow fastparquet

# OS-Climate utilities to make data ingest easier
%pip install osc-ingest-tools

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib

In [ ]:
Load Environment Variables

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [21]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_iceberg_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'pcaf_sovereign_edgar'

In [23]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_iceberg_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [14]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

In [ ]:
Open a Trino connection using JWT for authentication

In [6]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
create schema if not exists {ingest_catalog}.{ingest_schema}
"""
qres = engine.execute(sql)
print(qres.fetchall())

[(True,)]

In [8]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo',)
('company_data',)
('default',)
('defaultschema1',)
('demo',)
('eje_test_iceberg',)
('epa_frs',)
('epa_ghgrp',)
('epacems',)
('epacems_y95_al',)
('essd',)
('ghgrp_demo',)
('gleif',)
('gleif_mdt',)
('iceberg_demo',)
('information_schema',)
('ingest_schema',)
('iso3166',)
('itr_mdt',)
('metastore',)
('metastore_iceberg',)
('osc_corp_data',)
('pcaf_sovereign_footprint',)
('physical_risk_project',)
('pudl',)
('rmi_20210929',)
('rmi_20211120',)
('rmi_20220119',)
('rmi_utility_transition_hub',)
('sec_dera',)
('sfi_geoasset',)
('team1',)
('team2',)
('testaccessschema1',)
('testdb',)
('urgentem',)
('us_census',)
('wri',)
('wri_demo',)
('wri_dev',)
('wri_gppd',)
('wri_gppd_md',)
('wri_new',)
('wri_test',)

In [ ]:
Load GDP file (updated sporadically from https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD)

In [7]:
import pandas as pd

ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/EDGAR/EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls')
ticker_file.download_file(f'/tmp/EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls')
#ticker_df = pd.read_csv(f'/tmp/API_NY.GDP.PCAP.PP.CD_DS2_en_csv_v2.csv',sep=",",skiprows=4)
#ticker_df
%run TransposeXLS.py --config Edgar.ini --output=EDGAR.csv 
df = pd.read_csv('EDGAR.csv')
#df = df[df['country_name'] == 'Germany']
#df_germany = df_germany[['data_provider','country_iso_code','validity_date','attribute','value']]
df= df[['rec_source','data_provider','country_iso_code','country_name','validity_date','attribute','value']].dropna(subset=['value'])
df["country_iso_code"]='###'
df.validity_date = df.validity_date.astype(str)
df = df.convert_dtypes()
print(df.info(verbose=True))
df
#df

Edgar.ini
file_list:
['/tmp/EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls']
/tmp/EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls
2
xls
/tmp/EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021
<configparser.ConfigParser object at 0x7fdbb6daf430>
['']
                    Country          1970          1971          1972  \
0               Afghanistan      1.718206      1.716487      1.712408
1                   Albania      4.813550      4.813862      5.497650
2                   Algeria     18.931573     22.315750     34.375052
3                    Angola      8.952568      8.538305     10.388538
4                  Anguilla      0.002168      0.002168      0.002264
..                      ...           ...           ...           ...
208  International Aviation    168.816953    168.816953    178.760913
209  International Shipping    353.856240    353.856240    370.877710
210                     NaN           NaN           NaN           NaN
211                    EU27   3528.485156   3540.483237   3684.623393
212            GLOBAL TOTAL  15829.197736  15782.710885  16585.857919

             1973          1974          1975          1976          1977  \
0        1.710739      2.170061      2.021272      1.854728      2.246084
1        4.938487      5.318426      5.413044      5.784296      6.196267
2       46.475229     39.302546     35.717157     46.326272     51.292040
3       11.372229     11.833737     10.930396      7.317477     12.057857
4        0.002109      0.002350      0.002584      0.002434      0.002537
..            ...           ...           ...           ...           ...
208    186.622555    179.139049    173.235546    173.687915    189.342116
209    391.732931    366.049857    341.223212    352.024311    351.735981
210           NaN           NaN           NaN           NaN           NaN
211   3874.974309   3820.613580   3732.316292   3987.806447   3973.115533
212  17563.935419  17508.014530  17462.222803  18434.684985  18991.504405

             1978  ...          2011          2012          2013  \
0        1.889470  ...     11.936329      9.883010      8.172492
1        6.818255  ...      4.996602      4.557477      4.791336
2       56.574179  ...    122.858497    137.220502    141.534019
3       14.239288  ...     24.842759     24.199331     27.831635
4        0.002902  ...      0.026008      0.026023      0.027941
..            ...  ...           ...           ...           ...
208    196.252916  ...    474.450089    478.193813    486.338265
209    354.008412  ...    663.506321    616.930412    614.897420
210           NaN  ...           NaN           NaN           NaN
211   4110.343613  ...   3323.403330   3254.124753   3175.294802
212  19651.264518  ...  35185.713183  35705.304527  36170.868926

             2014          2015          2016          2017          2018  \
0        7.373225      7.711371      6.340675      8.608757      8.711733
1        5.114740      4.894060      4.724663      5.346659      5.372932
2      152.187214    161.479479    159.230628    162.096889    170.925174
3       30.420348     32.606670     33.071920     28.248618     26.454254
4        0.027896      0.028005      0.028340      0.029062      0.028223
..            ...           ...           ...           ...           ...
208    502.588404    530.376870    553.786633    584.863307    609.402253
209    636.150763    660.114846    678.676733    697.135045    703.568764
210           NaN           NaN           NaN           NaN           NaN
211   3033.813505   3090.960274   3100.832680   3126.371796   3071.707125
212  36370.547696  36385.948190  36465.589461  36935.593268  37716.180670

             2019          2020
0       12.047469     11.947864
1        5.576278      5.103103
2      176.625391    163.473371
3       24.458093     22.513601
4        0.027580      0.023859
..            ...           ...
208    615.885560    337.116016
209    773.713838    764.816920
210           NaN           NaN
211   2932.557013   2621.850632
212  37911.369128  35962.870638

[213 rows x 52 columns]
eval_components
['$sheet_name']
['Country', 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
$sheet_name
['']
               country_name          1970          1971          1972  \
0               Afghanistan      1.718206      1.716487      1.712408
1                   Albania      4.813550      4.813862      5.497650
2                   Algeria     18.931573     22.315750     34.375052
3                    Angola      8.952568      8.538305     10.388538
4                  Anguilla      0.002168      0.002168      0.002264
..                      ...           ...           ...           ...
208  International Aviation    168.816953    168.816953    178.760913
209  International Shipping    353.856240    353.856240    370.877710
210                     NaN           NaN           NaN           NaN
211                    EU27   3528.485156   3540.483237   3684.623393
212            GLOBAL TOTAL  15829.197736  15782.710885  16585.857919

             1973          1974          1975          1976          1977  \
0        1.710739      2.170061      2.021272      1.854728      2.246084
1        4.938487      5.318426      5.413044      5.784296      6.196267
2       46.475229     39.302546     35.717157     46.326272     51.292040
3       11.372229     11.833737     10.930396      7.317477     12.057857
4        0.002109      0.002350      0.002584      0.002434      0.002537
..            ...           ...           ...           ...           ...
208    186.622555    179.139049    173.235546    173.687915    189.342116
209    391.732931    366.049857    341.223212    352.024311    351.735981
210           NaN           NaN           NaN           NaN           NaN
211   3874.974309   3820.613580   3732.316292   3987.806447   3973.115533
212  17563.935419  17508.014530  17462.222803  18434.684985  18991.504405

             1978  ...          2012          2013          2014  \
0        1.889470  ...      9.883010      8.172492      7.373225
1        6.818255  ...      4.557477      4.791336      5.114740
2       56.574179  ...    137.220502    141.534019    152.187214
3       14.239288  ...     24.199331     27.831635     30.420348
4        0.002902  ...      0.026023      0.027941      0.027896
..            ...  ...           ...           ...           ...
208    196.252916  ...    478.193813    486.338265    502.588404
209    354.008412  ...    616.930412    614.897420    636.150763
210           NaN  ...           NaN           NaN           NaN
211   4110.343613  ...   3254.124753   3175.294802   3033.813505
212  19651.264518  ...  35705.304527  36170.868926  36370.547696

             2015          2016          2017          2018          2019  \
0        7.711371      6.340675      8.608757      8.711733     12.047469
1        4.894060      4.724663      5.346659      5.372932      5.576278
2      161.479479    159.230628    162.096889    170.925174    176.625391
3       32.606670     33.071920     28.248618     26.454254     24.458093
4        0.028005      0.028340      0.029062      0.028223      0.027580
..            ...           ...           ...           ...           ...
208    530.376870    553.786633    584.863307    609.402253    615.885560
209    660.114846    678.676733    697.135045    703.568764    773.713838
210           NaN           NaN           NaN           NaN           NaN
211   3090.960274   3100.832680   3126.371796   3071.707125   2932.557013
212  36385.948190  36465.589461  36935.593268  37716.180670  37911.369128

             2020                     attribute
0       11.947864  fossil_CO2_totals_by_country
1        5.103103  fossil_CO2_totals_by_country
2      163.473371  fossil_CO2_totals_by_country
3       22.513601  fossil_CO2_totals_by_country
4        0.023859  fossil_CO2_totals_by_country
..            ...                           ...
208    337.116016  fossil_CO2_totals_by_country
209    764.816920  fossil_CO2_totals_by_country
210           NaN  fossil_CO2_totals_by_country
211   2621.850632  fossil_CO2_totals_by_country
212  35962.870638  fossil_CO2_totals_by_country

[213 rows x 53 columns]
eval_components
['"fossil_CO2_by_sector_and_countr"', "'('", 'Sector', "')'"]
['Sector', 'Country', 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
"fossil_CO2_by_sector_and_countr"
'('
Sector
')'
['']
               country_name          1970          1971          1972  \
0               Afghanistan      1.718206      1.716487      1.712408
1                   Albania      4.813550      4.813862      5.497650
2                   Algeria     18.931573     22.315750     34.375052
3                    Angola      8.952568      8.538305     10.388538
4                  Anguilla      0.002168      0.002168      0.002264
..                      ...           ...           ...           ...
208  International Aviation    168.816953    168.816953    178.760913
209  International Shipping    353.856240    353.856240    370.877710
210                     NaN           NaN           NaN           NaN
211                    EU27   3528.485156   3540.483237   3684.623393
212            GLOBAL TOTAL  15829.197736  15782.710885  16585.857919

             1973          1974          1975          1976          1977  \
0        1.710739      2.170061      2.021272      1.854728      2.246084
1        4.938487      5.318426      5.413044      5.784296      6.196267
2       46.475229     39.302546     35.717157     46.326272     51.292040
3       11.372229     11.833737     10.930396      7.317477     12.057857
4        0.002109      0.002350      0.002584      0.002434      0.002537
..            ...           ...           ...           ...           ...
208    186.622555    179.139049    173.235546    173.687915    189.342116
209    391.732931    366.049857    341.223212    352.024311    351.735981
210           NaN           NaN           NaN           NaN           NaN
211   3874.974309   3820.613580   3732.316292   3987.806447   3973.115533
212  17563.935419  17508.014530  17462.222803  18434.684985  18991.504405

             1978  ...          2012          2013          2014  \
0        1.889470  ...      9.883010      8.172492      7.373225
1        6.818255  ...      4.557477      4.791336      5.114740
2       56.574179  ...    137.220502    141.534019    152.187214
3       14.239288  ...     24.199331     27.831635     30.420348
4        0.002902  ...      0.026023      0.027941      0.027896
..            ...  ...           ...           ...           ...
208    196.252916  ...    478.193813    486.338265    502.588404
209    354.008412  ...    616.930412    614.897420    636.150763
210           NaN  ...           NaN           NaN           NaN
211   4110.343613  ...   3254.124753   3175.294802   3033.813505
212  19651.264518  ...  35705.304527  36170.868926  36370.547696

             2015          2016          2017          2018          2019  \
0        7.711371      6.340675      8.608757      8.711733     12.047469
1        4.894060      4.724663      5.346659      5.372932      5.576278
2      161.479479    159.230628    162.096889    170.925174    176.625391
3       32.606670     33.071920     28.248618     26.454254     24.458093
4        0.028005      0.028340      0.029062      0.028223      0.027580
..            ...           ...           ...           ...           ...
208    530.376870    553.786633    584.863307    609.402253    615.885560
209    660.114846    678.676733    697.135045    703.568764    773.713838
210           NaN           NaN           NaN           NaN           NaN
211   3090.960274   3100.832680   3126.371796   3071.707125   2932.557013
212  36385.948190  36465.589461  36935.593268  37716.180670  37911.369128

             2020                     attribute
0       11.947864  fossil_CO2_totals_by_country
1        5.103103  fossil_CO2_totals_by_country
2      163.473371  fossil_CO2_totals_by_country
3       22.513601  fossil_CO2_totals_by_country
4        0.023859  fossil_CO2_totals_by_country
..            ...                           ...
208    337.116016  fossil_CO2_totals_by_country
209    764.816920  fossil_CO2_totals_by_country
210           NaN  fossil_CO2_totals_by_country
211   2621.850632  fossil_CO2_totals_by_country
212  35962.870638  fossil_CO2_totals_by_country

[213 rows x 53 columns]
eval_components
['$sheet_name']
['Country', 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
$sheet_name
['']
               country_name          1970          1971          1972  \
0               Afghanistan      1.718206      1.716487      1.712408
1                   Albania      4.813550      4.813862      5.497650
2                   Algeria     18.931573     22.315750     34.375052
3                    Angola      8.952568      8.538305     10.388538
4                  Anguilla      0.002168      0.002168      0.002264
..                      ...           ...           ...           ...
208  International Aviation    168.816953    168.816953    178.760913
209  International Shipping    353.856240    353.856240    370.877710
210                     NaN           NaN           NaN           NaN
211                    EU27   3528.485156   3540.483237   3684.623393
212            GLOBAL TOTAL  15829.197736  15782.710885  16585.857919

             1973          1974          1975          1976          1977  \
0        1.710739      2.170061      2.021272      1.854728      2.246084
1        4.938487      5.318426      5.413044      5.784296      6.196267
2       46.475229     39.302546     35.717157     46.326272     51.292040
3       11.372229     11.833737     10.930396      7.317477     12.057857
4        0.002109      0.002350      0.002584      0.002434      0.002537
..            ...           ...           ...           ...           ...
208    186.622555    179.139049    173.235546    173.687915    189.342116
209    391.732931    366.049857    341.223212    352.024311    351.735981
210           NaN           NaN           NaN           NaN           NaN
211   3874.974309   3820.613580   3732.316292   3987.806447   3973.115533
212  17563.935419  17508.014530  17462.222803  18434.684985  18991.504405

             1978  ...          2012          2013          2014  \
0        1.889470  ...      9.883010      8.172492      7.373225
1        6.818255  ...      4.557477      4.791336      5.114740
2       56.574179  ...    137.220502    141.534019    152.187214
3       14.239288  ...     24.199331     27.831635     30.420348
4        0.002902  ...      0.026023      0.027941      0.027896
..            ...  ...           ...           ...           ...
208    196.252916  ...    478.193813    486.338265    502.588404
209    354.008412  ...    616.930412    614.897420    636.150763
210           NaN  ...           NaN           NaN           NaN
211   4110.343613  ...   3254.124753   3175.294802   3033.813505
212  19651.264518  ...  35705.304527  36170.868926  36370.547696

             2015          2016          2017          2018          2019  \
0        7.711371      6.340675      8.608757      8.711733     12.047469
1        4.894060      4.724663      5.346659      5.372932      5.576278
2      161.479479    159.230628    162.096889    170.925174    176.625391
3       32.606670     33.071920     28.248618     26.454254     24.458093
4        0.028005      0.028340      0.029062      0.028223      0.027580
..            ...           ...           ...           ...           ...
208    530.376870    553.786633    584.863307    609.402253    615.885560
209    660.114846    678.676733    697.135045    703.568764    773.713838
210           NaN           NaN           NaN           NaN           NaN
211   3090.960274   3100.832680   3126.371796   3071.707125   2932.557013
212  36385.948190  36465.589461  36935.593268  37716.180670  37911.369128

             2020                     attribute
0       11.947864  fossil_CO2_totals_by_country
1        5.103103  fossil_CO2_totals_by_country
2      163.473371  fossil_CO2_totals_by_country
3       22.513601  fossil_CO2_totals_by_country
4        0.023859  fossil_CO2_totals_by_country
..            ...                           ...
208    337.116016  fossil_CO2_totals_by_country
209    764.816920  fossil_CO2_totals_by_country
210           NaN  fossil_CO2_totals_by_country
211   2621.850632  fossil_CO2_totals_by_country
212  35962.870638  fossil_CO2_totals_by_country

[213 rows x 53 columns]
eval_components
['$sheet_name']
['Country', 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
$sheet_name
['']
               country_name          1970          1971          1972  \
0               Afghanistan      1.718206      1.716487      1.712408
1                   Albania      4.813550      4.813862      5.497650
2                   Algeria     18.931573     22.315750     34.375052
3                    Angola      8.952568      8.538305     10.388538
4                  Anguilla      0.002168      0.002168      0.002264
..                      ...           ...           ...           ...
208  International Aviation    168.816953    168.816953    178.760913
209  International Shipping    353.856240    353.856240    370.877710
210                     NaN           NaN           NaN           NaN
211                    EU27   3528.485156   3540.483237   3684.623393
212            GLOBAL TOTAL  15829.197736  15782.710885  16585.857919

             1973          1974          1975          1976          1977  \
0        1.710739      2.170061      2.021272      1.854728      2.246084
1        4.938487      5.318426      5.413044      5.784296      6.196267
2       46.475229     39.302546     35.717157     46.326272     51.292040
3       11.372229     11.833737     10.930396      7.317477     12.057857
4        0.002109      0.002350      0.002584      0.002434      0.002537
..            ...           ...           ...           ...           ...
208    186.622555    179.139049    173.235546    173.687915    189.342116
209    391.732931    366.049857    341.223212    352.024311    351.735981
210           NaN           NaN           NaN           NaN           NaN
211   3874.974309   3820.613580   3732.316292   3987.806447   3973.115533
212  17563.935419  17508.014530  17462.222803  18434.684985  18991.504405

             1978  ...          2012          2013          2014  \
0        1.889470  ...      9.883010      8.172492      7.373225
1        6.818255  ...      4.557477      4.791336      5.114740
2       56.574179  ...    137.220502    141.534019    152.187214
3       14.239288  ...     24.199331     27.831635     30.420348
4        0.002902  ...      0.026023      0.027941      0.027896
..            ...  ...           ...           ...           ...
208    196.252916  ...    478.193813    486.338265    502.588404
209    354.008412  ...    616.930412    614.897420    636.150763
210           NaN  ...           NaN           NaN           NaN
211   4110.343613  ...   3254.124753   3175.294802   3033.813505

,rec_source,data_provider,country_iso_code,country_name,validity_date,attribute,value
0,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Afghanistan,1970,fossil_CO2_totals_by_country,1.718206
1,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Albania,1970,fossil_CO2_totals_by_country,4.81355
2,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Algeria,1970,fossil_CO2_totals_by_country,18.931573
3,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Angola,1970,fossil_CO2_totals_by_country,8.952568
4,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Anguilla,1970,fossil_CO2_totals_by_country,0.002168
...,...,...,...,...,...,...,...
95965,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Yemen,2020,fossil_CO2_per_GDP_by_country,0.206664
95966,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Zambia,2020,fossil_CO2_per_GDP_by_country,0.124774
95967,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Zimbabwe,2020,fossil_CO2_per_GDP_by_country,0.283339
95969,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,EU27,2020,fossil_CO2_per_GDP_by_country,0.141057
95970,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,GLOBAL TOTAL,2020,fossil_CO2_per_GDP_by_country,0.28245

In [15]:
import osc_ingest_trino as osc
columnschema = osc.create_table_schema_pairs(df) 

sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

drop table if exists osc_datacommons_iceberg_dev.pcaf_sovereign_footprint.pcaf_sovereign_values

[(True,)]

In [16]:
tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
print(qres.fetchall())

create table if not exists osc_datacommons_iceberg_dev.pcaf_sovereign_footprint.pcaf_sovereign_values(
    rec_source varchar,
    data_provider varchar,
    country_iso_code varchar,
    country_name varchar,
    validity_date varchar,
    attribute varchar,
    value double
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)

[(True,)]

In [ ]:
# Delete all data from our db, so we start with empty table
sql=f"""
delete from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
qres = engine.execute(sql)
print(qres.fetchall())

In [17]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
pd.read_sql(sql, engine)

Empty DataFrame
Columns: [rec_source, data_provider, country_iso_code, country_name, validity_date, attribute, value]
Index: []

In [24]:
print(ingest_catalog)
#df=df.drop(df[df.country_name=="cote d'ivoire"].index)
#df["country_iso_code"]='###'
#df.validity_date = df.validity_date.astype(str)
df.to_sql(ingest_table,
           con=engine, 
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

osc_datacommons_iceberg_dev
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 1000 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(1000,)]
inserting 517 records
constructed fully qualified table name as: "pcaf_sovereign_footprint.pcaf_sovereign_edgar"
batch insert result: [(517,)]

In [34]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}" + "where country_name='Germany' and validity_date='2020'"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_iso_code,country_name,validity_date,attribute,value
0,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_by_sector_and_countr(Power Industry),210.139514
1,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_by_sector_and_countr(Buildings),126.425378
2,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_by_sector_and_countr(Transport),142.123944
3,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_by_sector_and_countr(Other industri...,101.627986
4,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_by_sector_and_countr(Other sectors),56.559642
5,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_per_capita_by_countr,7.715932
6,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_per_GDP_by_country,0.150249
7,EDGARv6.0_FT2020_fossil_CO2_GHG_booklet2021.xls,EDGAR,###,Germany,2020,fossil_CO2_totals_by_country,636.876464