<font size="5">OECD CO2 emissions into Trino pipeline</font>

Load Environment Variables

In [2]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_oecd_imgr_fco2'

In [4]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
create schema if not exists {ingest_catalog}.{ingest_schema}
"""
qres = engine.execute(sql)
#print(qres.fetchall())

In [6]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('rmi',)
('sandbox',)
('wri_gppd',)

In [8]:
oecd_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/OECD/IMGR_FCO2.csv')
oecd_file.download_file('IMGR_FCO2.csv')

Load CO2 emissions file (updated from https://stats.oecd.org/Index.aspx?DataSetCode=IO_GHG_2021)

In [7]:
import pandas as pd
import csv
import ParseXLS as parser


oecd_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/OECD/IMGR_FCO2.csv')
oecd_file.download_file(f'/tmp/IMGR_FCO2.csv')


#df = parser.process('OECD_IMGR_FCO2.ini','OECD.csv') 
df =pd.read_csv(f'/tmp/IMGR_FCO2.csv')
df= df[['Indicator','COU','Country','PAR','IND','Industry','TIME','Value']]
df=df.convert_dtypes()
dict = {'Indicator': 'attribute',
        'COU': 'country_iso_code',
        'Country': 'country_name',
        'PAR': 'partner_iso_code',
        'IND': 'industry_code',
        'Industry' : 'industry_name',
        'TIME'   : 'validity_date',
        'Value' : 'value' }
 
# call rename () method
df.rename(columns=dict,
          inplace=True)


df['value_units'] = 'Mt CO2'



df[df['country_iso_code']=='GBR'].head(100)

,attribute,country_iso_code,country_name,partner_iso_code,industry_code,industry_name,validity_date,value,value_units
149184,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,WLD,DTOTAL,TOTAL,1995,219.299,Mt CO2
149185,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,WLD,DTOTAL,TOTAL,1996,230.305,Mt CO2
149186,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,WLD,DTOTAL,TOTAL,1997,246.581,Mt CO2
149187,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,WLD,DTOTAL,TOTAL,1998,271.334,Mt CO2
149188,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,WLD,DTOTAL,TOTAL,1999,286.115,Mt CO2
...,...,...,...,...,...,...,...,...,...
149279,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,AUT,DTOTAL,TOTAL,2018,1.194,Mt CO2
149280,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,BEL,DTOTAL,TOTAL,1995,5.629,Mt CO2
149281,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,BEL,DTOTAL,TOTAL,1996,5.985,Mt CO2
149282,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,BEL,DTOTAL,TOTAL,1997,7.032,Mt CO2
149283,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,BEL,DTOTAL,TOTAL,1998,7.587,Mt CO2

In [8]:
import pycountry
df_country = pd.DataFrame([country.__dict__['_fields'] for country in pycountry.countries])
df_country = df_country["alpha_3"].rename({'alpha_3':'country_iso_code'})
df_country

0      ABW
1      AFG
2      AGO
3      AIA
4      ALA
      ...
244    WSM
245    YEM
246    ZAF
247    ZMB
248    ZWE
Name: alpha_3, Length: 249, dtype: object

In [13]:
import pycountry
for country in pycountry.countries:
    print(country)

Country(alpha_2='AW', alpha_3='ABW', flag='🇦🇼', name='Aruba', numeric='533')
Country(alpha_2='AF', alpha_3='AFG', flag='🇦🇫', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan')
Country(alpha_2='AO', alpha_3='AGO', flag='🇦🇴', name='Angola', numeric='024', official_name='Republic of Angola')
Country(alpha_2='AI', alpha_3='AIA', flag='🇦🇮', name='Anguilla', numeric='660')
Country(alpha_2='AX', alpha_3='ALA', flag='🇦🇽', name='Åland Islands', numeric='248')
Country(alpha_2='AL', alpha_3='ALB', flag='🇦🇱', name='Albania', numeric='008', official_name='Republic of Albania')
Country(alpha_2='AD', alpha_3='AND', flag='🇦🇩', name='Andorra', numeric='020', official_name='Principality of Andorra')
Country(alpha_2='AE', alpha_3='ARE', flag='🇦🇪', name='United Arab Emirates', numeric='784')
Country(alpha_2='AR', alpha_3='ARG', flag='🇦🇷', name='Argentina', numeric='032', official_name='Argentine Republic')
Country(alpha_2='AM', alpha_3='ARM', flag='🇦🇲', name='Armenia', numeric='051', official_name='Republic of Armenia')
Country(alpha_2='AS', alpha_3='ASM', flag='🇦🇸', name='American Samoa', numeric='016')
Country(alpha_2='AQ', alpha_3='ATA', flag='🇦🇶', name='Antarctica', numeric='010')
Country(alpha_2='TF', alpha_3='ATF', flag='🇹🇫', name='French Southern Territories', numeric='260')
Country(alpha_2='AG', alpha_3='ATG', flag='🇦🇬', name='Antigua and Barbuda', numeric='028')
Country(alpha_2='AU', alpha_3='AUS', flag='🇦🇺', name='Australia', numeric='036')
Country(alpha_2='AT', alpha_3='AUT', flag='🇦🇹', name='Austria', numeric='040', official_name='Republic of Austria')
Country(alpha_2='AZ', alpha_3='AZE', flag='🇦🇿', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan')
Country(alpha_2='BI', alpha_3='BDI', flag='🇧🇮', name='Burundi', numeric='108', official_name='Republic of Burundi')
Country(alpha_2='BE', alpha_3='BEL', flag='🇧🇪', name='Belgium', numeric='056', official_name='Kingdom of Belgium')
Country(alpha_2='BJ', alpha_3='BEN', flag='🇧🇯', name='Benin', numeric='204', official_name='Republic of Benin')
Country(alpha_2='BQ', alpha_3='BES', flag='🇧🇶', name='Bonaire, Sint Eustatius and Saba', numeric='535', official_name='Bonaire, Sint Eustatius and Saba')
Country(alpha_2='BF', alpha_3='BFA', flag='🇧🇫', name='Burkina Faso', numeric='854')
Country(alpha_2='BD', alpha_3='BGD', flag='🇧🇩', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh")
Country(alpha_2='BG', alpha_3='BGR', flag='🇧🇬', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria')
Country(alpha_2='BH', alpha_3='BHR', flag='🇧🇭', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain')
Country(alpha_2='BS', alpha_3='BHS', flag='🇧🇸', name='Bahamas', numeric='044', official_name='Commonwealth of the Bahamas')
Country(alpha_2='BA', alpha_3='BIH', flag='🇧🇦', name='Bosnia and Herzegovina', numeric='070', official_name='Republic of Bosnia and Herzegovina')
Country(alpha_2='BL', alpha_3='BLM', flag='🇧🇱', name='Saint Barthélemy', numeric='652')
Country(alpha_2='BY', alpha_3='BLR', flag='🇧🇾', name='Belarus', numeric='112', official_name='Republic of Belarus')
Country(alpha_2='BZ', alpha_3='BLZ', flag='🇧🇿', name='Belize', numeric='084')
Country(alpha_2='BM', alpha_3='BMU', flag='🇧🇲', name='Bermuda', numeric='060')
Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', flag='🇧🇴', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia')
Country(alpha_2='BR', alpha_3='BRA', flag='🇧🇷', name='Brazil', numeric='076', official_name='Federative Republic of Brazil')
Country(alpha_2='BB', alpha_3='BRB', flag='🇧🇧', name='Barbados', numeric='052')
Country(alpha_2='BN', alpha_3='BRN', flag='🇧🇳', name='Brunei Darussalam', numeric='096')
Country(alpha_2='BT', alpha_3='BTN', flag='🇧🇹', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan')
Country(alpha_2='BV', alpha_3='BVT', flag='🇧🇻', name='Bouvet Island', numeric='074')
Country(alpha_2='BW', alpha_3='BWA', flag='🇧🇼', name='Botswana', numeric='072', official_name='Republic of Botswana')
Country(alpha_2='CF', alpha_3='CAF', flag='🇨🇫', name='Central African Republic', numeric='140')
Country(alpha_2='CA', alpha_3='CAN', flag='🇨🇦', name='Canada', numeric='124')
Country(alpha_2='CC', alpha_3='CCK', flag='🇨🇨', name='Cocos (Keeling) Islands', numeric='166')
Country(alpha_2='CH', alpha_3='CHE', flag='🇨🇭', name='Switzerland', numeric='756', official_name='Swiss Confederation')
Country(alpha_2='CL', alpha_3='CHL', flag='🇨🇱', name='Chile', numeric='152', official_name='Republic of Chile')
Country(alpha_2='CN', alpha_3='CHN', flag='🇨🇳', name='China', numeric='156', official_name="People's Republic of China")
Country(alpha_2='CI', alpha_3='CIV', flag='🇨🇮', name="Côte d'Ivoire", numeric='384', official_name="Republic of Côte d'Ivoire")
Country(alpha_2='CM', alpha_3='CMR', flag='🇨🇲', name='Cameroon', numeric='120', official_name='Republic of Cameroon')
Country(alpha_2='CD', alpha_3='COD', flag='🇨🇩', name='Congo, The Democratic Republic of the', numeric='180')
Country(alpha_2='CG', alpha_3='COG', flag='🇨🇬', name='Congo', numeric='178', official_name='Republic of the Congo')
Country(alpha_2='CK', alpha_3='COK', flag='🇨🇰', name='Cook Islands', numeric='184')
Country(alpha_2='CO', alpha_3='COL', flag='🇨🇴', name='Colombia', numeric='170', official_name='Republic of Colombia')
Country(alpha_2='KM', alpha_3='COM', flag='🇰🇲', name='Comoros', numeric='174', official_name='Union of the Comoros')
Country(alpha_2='CV', alpha_3='CPV', flag='🇨🇻', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde')
Country(alpha_2='CR', alpha_3='CRI', flag='🇨🇷', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica')
Country(alpha_2='CU', alpha_3='CUB', flag='🇨🇺', name='Cuba', numeric='192', official_name='Republic of Cuba')
Country(alpha_2='CW', alpha_3='CUW', flag='🇨🇼', name='Curaçao', numeric='531', official_name='Curaçao')
Country(alpha_2='CX', alpha_3='CXR', flag='🇨🇽', name='Christmas Island', numeric='162')
Country(alpha_2='KY', alpha_3='CYM', flag='🇰🇾', name='Cayman Islands', numeric='136')
Country(alpha_2='CY', alpha_3='CYP', flag='🇨🇾', name='Cyprus', numeric='196', official_name='Republic of Cyprus')
Country(alpha_2='CZ', alpha_3='CZE', flag='🇨🇿', name='Czechia', numeric='203', official_name='Czech Republic')
Country(alpha_2='DE', alpha_3='DEU', flag='🇩🇪', name='Germany', numeric='276', official_name='Federal Republic of Germany')
Country(alpha_2='DJ', alpha_3='DJI', flag='🇩🇯', name='Djibouti', numeric='262', official_name='Republic of Djibouti')
Country(alpha_2='DM', alpha_3='DMA', flag='🇩🇲', name='Dominica', numeric='212', official_name='Commonwealth of Dominica')
Country(alpha_2='DK', alpha_3='DNK', flag='🇩🇰', name='Denmark', numeric='208', official_name='Kingdom of Denmark')
Country(alpha_2='DO', alpha_3='DOM', flag='🇩🇴', name='Dominican Republic', numeric='214')
Country(alpha_2='DZ', alpha_3='DZA', flag='🇩🇿', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria")
Country(alpha_2='EC', alpha_3='ECU', flag='🇪🇨', name='Ecuador', numeric='218', official_name='Republic of Ecuador')
Country(alpha_2='EG', alpha_3='EGY', flag='🇪🇬', name='Egypt', numeric='818', official_name='Arab Republic of Egypt')
Country(alpha_2='ER', alpha_3='ERI', flag='🇪🇷', name='Eritrea', numeric='232', official_name='the State of Eritrea')
Country(alpha_2='EH', alpha_3='ESH', flag='🇪🇭', name='Western Sahara', numeric='732')
Country(alpha_2='ES', alpha_3='ESP', flag='🇪🇸', name='Spain', numeric='724', official_name='Kingdom of Spain')
Country(alpha_2='EE', alpha_3='EST', flag='🇪🇪', name='Estonia', numeric='233', official_name='Republic of Estonia')
Country(alpha_2='ET', alpha_3='ETH', flag='🇪🇹', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia')
Country(alpha_2='FI', alpha_3='FIN', flag='🇫🇮', name='Finland', numeric='246', official_name='Republic of Finland')
Country(alpha_2='FJ', alpha_3='FJI', flag='🇫🇯', name='Fiji', numeric='242', official_name='Republic of Fiji')
Country(alpha_2='FK', alpha_3='FLK', flag='🇫🇰', name='Falkland Islands (Malvinas)', numeric='238')
Country(alpha_2='FR', alpha_3='FRA', flag='🇫🇷', name='France', numeric='250', official_name='French Republic')
Country(alpha_2='FO', alpha_3='FRO', flag='🇫🇴', name='Faroe Islands', numeric='234')
Country(alpha_2='FM', alpha_3='FSM', flag='🇫🇲', name='Micronesia, Federated States of', numeric='583', official_name='Federated States of Micronesia')
Country(alpha_2='GA', alpha_3='GAB', flag='🇬🇦', name='Gabon', numeric='266', official_name='Gabonese Republic')
Country(alpha_2='GB', alpha_3='GBR', flag='🇬🇧', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland')
Country(alpha_2='GE', alpha_3='GEO', flag='🇬🇪', name='Georgia', numeric='268')
Country(alpha_2='GG', alpha_3='GGY', flag='🇬🇬', name='Guernsey', numeric='831')
Country(alpha_2='GH', alpha_3='GHA', flag='🇬🇭', name='Ghana', numeric='288', official_name='Republic of Ghana')
Country(alpha_2='GI', alpha_3='GIB', flag='🇬🇮', name='Gibraltar', numeric='292')
Country(alpha_2='GN', alpha_3='GIN', flag='🇬🇳', name='Guinea', numeric='324', official_name='Republic of Guinea')
Country(alpha_2='GP', alpha_3='GLP', flag='🇬🇵', name='Guadeloupe', numeric='312')
Country(alpha_2='GM', alpha_3='GMB', flag='🇬🇲', name='Gambia', numeric='270', official_name='Republic of the Gambia')
Country(alpha_2='GW', alpha_3='GNB', flag='🇬🇼', name='Guinea-Bissau', numeric='624', official_name='Republic of Guinea-Bissau')
Country(alpha_2='GQ', alpha_3='GNQ', flag='🇬🇶', name='Equatorial Guinea', numeric='226', official_name='Republic of Equatorial Guinea')
Country(alpha_2='GR', alpha_3='GRC', flag='🇬🇷', name='Greece', numeric='300', official_name='Hellenic Republic')
Country(alpha_2='GD', alpha_3='GRD', flag='🇬🇩', name='Grenada', numeric='308')
Country(alpha_2='GL', alpha_3='GRL', flag='🇬🇱', name='Greenland', numeric='304')
Country(alpha_2='GT', alpha_3='GTM', flag='🇬🇹', name='Guatemala', numeric='320', official_name='Republic of Guatemala')
Country(alpha_2='GF', alpha_3='GUF', flag='🇬🇫', name='French Guiana', numeric='254')
Country(alpha_2='GU', alpha_3='GUM', flag='🇬🇺', name='Guam', numeric='316')
Country(alpha_2='GY', alpha_3='GUY', flag='🇬🇾', name='Guyana', numeric='328', official_name='Republic of Guyana')
Country(alpha_2='HK', alpha_3='HKG', flag='🇭🇰', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China')
Country(alpha_2='HM', alpha_3='HMD', flag='🇭🇲', name='Heard Island and McDonald Islands', numeric='334')
Country(alpha_2='HN', alpha_3='HND', flag='🇭🇳', name='Honduras', numeric='340', official_name='Republic of Honduras')
Country(alpha_2='HR', alpha_3='HRV', flag='🇭🇷', name='Croatia', numeric='191', official_name='Republic of Croatia')
Country(alpha_2='HT', alpha_3='HTI', flag='🇭🇹', name='Haiti', numeric='332', official_name='Republic of Haiti')
Country(alpha_2='HU', alpha_3='HUN', flag='🇭🇺', name='Hungary', numeric='348', official_name='Hungary')
Country(alpha_2='ID', alpha_3='IDN', flag='🇮🇩', name='Indonesia', numeric='360', official_name='Republic of Indonesia')
Country(alpha_2='IM', alpha_3='IMN', flag='🇮🇲', name='Isle of Man', numeric='833')
Country(alpha_2='IN', alpha_3='IND', flag='🇮🇳', name='India', numeric='356', official_name='Republic of India')
Country(alpha_2='IO', alpha_3='IOT', flag='🇮🇴', name='British Indian Ocean Territory', numeric='086')
Country(alpha_2='IE', alpha_3='IRL', flag='🇮🇪', name='Ireland', numeric='372')
Country(alpha_2='IR', alpha_3='IRN', flag='🇮🇷', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran')
Country(alpha_2='IQ', alpha_3='IRQ', flag='🇮🇶', name='Iraq', numeric='368', official_name='Republic of Iraq')
Country(alpha_2='IS', alpha_3='ISL', flag='🇮🇸', name='Iceland', numeric='352', official_name='Republic of Iceland')
Country(alpha_2='IL', alpha_3='ISR', flag='🇮🇱', name='Israel', numeric='376', official_name='State of Israel')
Country(alpha_2='IT', alpha_3='ITA', flag='🇮🇹', name='Italy', numeric='380', official_name='Italian Republic')
Country(alpha_2='JM', alpha_3='JAM', flag='🇯🇲', name='Jamaica', numeric='388')
Country(alpha_2='JE', alpha_3='JEY', flag='🇯🇪', name='Jersey', numeric='832')
Country(alpha_2='JO', alpha_3='JOR', flag='🇯🇴', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan')
Country(alpha_2='JP', alpha_3='JPN', flag='🇯🇵', name='Japan', numeric='392')
Country(alpha_2='KZ', alpha_3='KAZ', flag='🇰🇿', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan')
Country(alpha_2='KE', alpha_3='KEN', flag='🇰🇪', name='Kenya', numeric='404', official_name='Republic of Kenya')
Country(alpha_2='KG', alpha_3='KGZ', flag='🇰🇬', name='Kyrgyzstan', numeric='417', official_name='Kyrgyz Republic')
Country(alpha_2='KH', alpha_3='KHM', flag='🇰🇭', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia')
Country(alpha_2='KI', alpha_3='KIR', flag='🇰🇮', name='Kiribati', numeric='296', official_name='Republic of Kiribati')
Country(alpha_2='KN', alpha_3='KNA', flag='🇰🇳', name='Saint Kitts and Nevis', numeric='659')
Country(alpha_2='KR', alpha_3='KOR', common_name='South Korea', flag='🇰🇷', name='Korea, Republic of', numeric='410')
Country(alpha_2='KW', alpha_3='KWT', flag='🇰🇼', name='Kuwait', numeric='414', official_name='State of Kuwait')
Country(alpha_2='LA', alpha_3='LAO', flag='🇱🇦', name="Lao People's Democratic Republic", numeric='418')
Country(alpha_2='LB', alpha_3='LBN', flag='🇱🇧', name='Lebanon', numeric='422', official_name='Lebanese Republic')
Country(alpha_2='LR', alpha_3='LBR', flag='🇱🇷', name='Liberia', numeric='430', official_name='Republic of Liberia')
Country(alpha_2='LY', alpha_3='LBY', flag='🇱🇾', name='Libya', numeric='434', official_name='Libya')
Country(alpha_2='LC', alpha_3='LCA', flag='🇱🇨', name='Saint Lucia', numeric='662')
Country(alpha_2='LI', alpha_3='LIE', flag='🇱🇮', name='Liechtenstein', numeric='438', official_name='Principality of Liechtenstein')
Country(alpha_2='LK', alpha_3='LKA', flag='🇱🇰', name='Sri Lanka', numeric='144', official_name='Democratic Socialist Republic of Sri Lanka')
Country(alpha_2='LS', alpha_3='LSO', flag='🇱🇸', name='Lesotho', numeric='426', official_name='Kingdom of Lesotho')
Country(alpha_2='LT', alpha_3='LTU', flag='🇱🇹', name='Lithuania', numeric='440', official_name='Republic of Lithuania')
Country(alpha_2='LU', alpha_3='LUX', flag='🇱🇺', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg')
Country(alpha_2='LV', alpha_3='LVA', flag='🇱🇻', name='Latvia', numeric='428', official_name='Republic of Latvia')
Country(alpha_2='MO', alpha_3='MAC', flag='🇲🇴', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China')
Country(alpha_2='MF', alpha_3='MAF', flag='🇲🇫', name='Saint Martin (French part)', numeric='663')
Country(alpha_2='MA', alpha_3='MAR', flag='🇲🇦', name='Morocco', numeric='504', official_name='Kingdom of Morocco')
Country(alpha_2='MC', alpha_3='MCO', flag='🇲🇨', name='Monaco', numeric='492', official_name='Principality of Monaco')
Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', flag='🇲🇩', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova')
Country(alpha_2='MG', alpha_3='MDG', flag='🇲🇬', name='Madagascar', numeric='450', official_name='Republic of Madagascar')
Country(alpha_2='MV', alpha_3='MDV', flag='🇲🇻', name='Maldives', numeric='462', official_name='Republic of Maldives')
Country(alpha_2='MX', alpha_3='MEX', flag='🇲🇽', name='Mexico', numeric='484', official_name='United Mexican States')
Country(alpha_2='MH', alpha_3='MHL', flag='🇲🇭', name='Marshall Islands', numeric='584', official_name='Republic of the Marshall Islands')
Country(alpha_2='MK', alpha_3='MKD', flag='🇲🇰', name='North Macedonia', numeric='807', official_name='Republic of North Macedonia')
Country(alpha_2='ML', alpha_3='MLI', flag='🇲🇱', name='Mali', numeric='466', official_name='Republic of Mali')
Country(alpha_2='MT', alpha_3='MLT', flag='🇲🇹', name='Malta', numeric='470', official_name='Republic of Malta')
Country(alpha_2='MM', alpha_3='MMR', flag='🇲🇲', name='Myanmar', numeric='104', official_name='Republic of Myanmar')
Country(alpha_2='ME', alpha_3='MNE', flag='🇲🇪', name='Montenegro', numeric='499', official_name='Montenegro')
Country(alpha_2='MN', alpha_3='MNG', flag='🇲🇳', name='Mongolia', numeric='496')
Country(alpha_2='MP', alpha_3='MNP', flag='🇲🇵', name='Northern Mariana Islands', numeric='580', official_name='Commonwealth of the Northern Mariana Islands')
Country(alpha_2='MZ', alpha_3='MOZ', flag='🇲🇿', name='Mozambique', numeric='508', official_name='Republic of Mozambique')
Country(alpha_2='MR', alpha_3='MRT', flag='🇲🇷', name='Mauritania', numeric='478', official_name='Islamic Republic of Mauritania')
Country(alpha_2='MS', alpha_3='MSR', flag='🇲🇸', name='Montserrat', numeric='500')
Country(alpha_2='MQ', alpha_3='MTQ', flag='🇲🇶', name='Martinique', numeric='474')
Country(alpha_2='MU', alpha_3='MUS', flag='🇲🇺', name='Mauritius', numeric='480', official_name='Republic of Mauritius')
Country(alpha_2='MW', alpha_3='MWI', flag='🇲🇼', name='Malawi', numeric='454', official_name='Republic of Malawi')
Country(alpha_2='MY', alpha_3='MYS', flag='🇲🇾', name='Malaysia', numeric='458')
Country(alpha_2='YT', alpha_3='MYT', flag='🇾🇹', name='Mayotte', numeric='175')
Country(alpha_2='NA', alpha_3='NAM', flag='🇳🇦', name='Namibia', numeric='516', official_name='Republic of Namibia')
Country(alpha_2='NC', alpha_3='NCL', flag='🇳🇨', name='New Caledonia', numeric='540')
Country(alpha_2='NE', alpha_3='NER', flag='🇳🇪', name='Niger', numeric='562', official_name='Republic of the Niger')
Country(alpha_2='NF', alpha_3='NFK', flag='🇳🇫', name='Norfolk Island', numeric='574')
Country(alpha_2='NG', alpha_3='NGA', flag='🇳🇬', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria')
Country(alpha_2='NI', alpha_3='NIC', flag='🇳🇮', name='Nicaragua', numeric='558', official_name='Republic of Nicaragua')
Country(alpha_2='NU', alpha_3='NIU', flag='🇳🇺', name='Niue', numeric='570', official_name='Niue')
Country(alpha_2='NL', alpha_3='NLD', flag='🇳🇱', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands')
Country(alpha_2='NO', alpha_3='NOR', flag='🇳🇴', name='Norway', numeric='578', official_name='Kingdom of Norway')
Country(alpha_2='NP', alpha_3='NPL', flag='🇳🇵', name='Nepal', numeric='524', official_name='Federal Democratic Republic of Nepal')
Country(alpha_2='NR', alpha_3='NRU', flag='🇳🇷', name='Nauru', numeric='520', official_name='Republic of Nauru')
Country(alpha_2='NZ', alpha_3='NZL', flag='🇳🇿', name='New Zealand', numeric='554')
Country(alpha_2='OM', alpha_3='OMN', flag='🇴🇲', name='Oman', numeric='512', official_name='Sultanate of Oman')
Country(alpha_2='PK', alpha_3='PAK', flag='🇵🇰', name='Pakistan', numeric='586', official_name='Islamic Republic of Pakistan')
Country(alpha_2='PA', alpha_3='PAN', flag='🇵🇦', name='Panama', numeric='591', official_name='Republic of Panama')
Country(alpha_2='PN', alpha_3='PCN', flag='🇵🇳', name='Pitcairn', numeric='612')
Country(alpha_2='PE', alpha_3='PER', flag='🇵🇪', name='Peru', numeric='604', official_name='Republic of Peru')
Country(alpha_2='PH', alpha_3='PHL', flag='🇵🇭', name='Philippines', numeric='608', official_name='Republic of the Philippines')
Country(alpha_2='PW', alpha_3='PLW', flag='🇵🇼', name='Palau', numeric='585', official_name='Republic of Palau')
Country(alpha_2='PG', alpha_3='PNG', flag='🇵🇬', name='Papua New Guinea', numeric='598', official_name='Independent State of Papua New Guinea')
Country(alpha_2='PL', alpha_3='POL', flag='🇵🇱', name='Poland', numeric='616', official_name='Republic of Poland')
Country(alpha_2='PR', alpha_3='PRI', flag='🇵🇷', name='Puerto Rico', numeric='630')

In [9]:
import osc_ingest_trino as osc
df = df.convert_dtypes()
columnschema = osc.create_table_schema_pairs(df) 

sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
#print(qres.fetchall())

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_oecd_imgr_fco2

In [10]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334656 entries, 0 to 334655
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   attribute         334656 non-null  string
 1   country_iso_code  334656 non-null  string
 2   country_name      334656 non-null  string
 3   partner_iso_code  334656 non-null  string
 4   industry_code     334656 non-null  string
 5   industry_name     334656 non-null  string
 6   validity_date     334656 non-null  Int64
 7   value             334656 non-null  Float64
 8   value_units       334656 non-null  string
dtypes: Float64(1), Int64(1), string(7)
memory usage: 23.6 MB

In [11]:
df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 5000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_oecd_imgr_fco2"
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'OECD', 'OECD member countries', 'WLD', 'DTOTAL', 'TOTAL', 1995, 1518.407, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'OECD', 'OECD member countries', 'WLD', 'DTOTAL', 'TOTAL', 1996, 1447.641, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'OECD', 'OECD member countries', 'WLD', 'DTOTAL', 'TOTAL', 1997, 1434.138, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'AUS', 'Australia', 'NONOECD', 'DTOTAL', 'TOTAL', 2002, 44.56, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'AUS', 'Australia', 'NONOECD', 'DTOTAL', 'TOTAL', 2003, 56.854, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'AUS', 'Australia', 'NONOECD', 'DTOTAL', 'TOTAL', 2004, 69.185, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'AUS', 'Australia', 'NONOECD', 'DTOTAL', 'TOTAL', 2005, 86.348, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'AUT', 'Austria', 'ZASI', 'DTOTAL', 'TOTAL', 2010, 9.565, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'AUT', 'Austria', 'ZASI', 'DTOTAL', 'TOTAL', 2011, 10.295, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'AUT', 'Austria', 'ZASI', 'DTOTAL', 'TOTAL', 2012, 10.043, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'AUT', 'Austria', 'ZASI', 'DTOTAL', 'TOTAL', 2013, 10.117, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'BEL', 'Belgium', 'CHE', 'D35', 'Electricity, gas, steam and air conditioning supply', 2018, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'BEL', 'Belgium', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 1995, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'BEL', 'Belgium', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 1996, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'BEL', 'Belgium', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 1997, 0.0, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'CAN', 'Canada', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2002, 14.417, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'CAN', 'Canada', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2003, 16.696, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CAN', 'Canada', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2004, 18.049, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CAN', 'Canada', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2005, 17.542, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'COL', 'Colombia', 'SVN', 'DTOTAL', 'TOTAL', 2010, 0.003, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'COL', 'Colombia', 'SVN', 'DTOTAL', 'TOTAL', 2011, 0.007, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'COL', 'Colombia', 'SVN', 'DTOTAL', 'TOTAL', 2012, 0.004, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'COL', 'Colombia', 'SVN', 'DTOTAL', 'TOTAL', 2013, 0.005, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'CRI', 'Costa Rica', 'TUN', 'DTOTAL', 'TOTAL', 2018, 0.001, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'CRI', 'Costa Rica', 'VNM', 'DTOTAL', 'TOTAL', 1995, 0.003, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CRI', 'Costa Rica', 'VNM', 'DTOTAL', 'TOTAL', 1996, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CRI', 'Costa Rica', 'VNM', 'DTOTAL', 'TOTAL', 1997, 0.001, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'CZE', 'Czech Republic', 'POL', 'D35', 'Electricity, gas, steam and air conditioning supply', 2002, 0.076, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'CZE', 'Czech Republic', 'POL', 'D35', 'Electricity, gas, steam and air conditioning supply', 2003, 0.104, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CZE', 'Czech Republic', 'POL', 'D35', 'Electricity, gas, steam and air conditioning supply', 2004, 0.2, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CZE', 'Czech Republic', 'POL', 'D35', 'Electricity, gas, steam and air conditioning supply', 2005, 1.332, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'DNK', 'Denmark', 'ASEAN', 'D35', 'Electricity, gas, steam and air conditioning supply', 2010, 0.003, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'DNK', 'Denmark', 'ASEAN', 'D35', 'Electricity, gas, steam and air conditioning supply', 2011, 0.003, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'DNK', 'Denmark', 'ASEAN', 'D35', 'Electricity, gas, steam and air conditioning supply', 2012, 0.004, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'DNK', 'Denmark', 'ASEAN', 'D35', 'Electricity, gas, steam and air conditioning supply', 2013, 0.004, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'FIN', 'Finland', 'MEX', 'DTOTAL', 'TOTAL', 2018, 0.097, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'FIN', 'Finland', 'NLD', 'DTOTAL', 'TOTAL', 1995, 0.763, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'FIN', 'Finland', 'NLD', 'DTOTAL', 'TOTAL', 1996, 0.77, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'FIN', 'Finland', 'NLD', 'DTOTAL', 'TOTAL', 1997, 0.763, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'FRA', 'France', 'VNM', 'DTOTAL', 'TOTAL', 2002, 1.104, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'FRA', 'France', 'VNM', 'DTOTAL', 'TOTAL', 2003, 1.222, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'FRA', 'France', 'VNM', 'DTOTAL', 'TOTAL', 2004, 1.322, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'FRA', 'France', 'VNM', 'DTOTAL', 'TOTAL', 2005, 1.481, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'DEU', 'Germany', 'LVA', 'D35', 'Electricity, gas, steam and air conditioning supply', 2010, 0.002, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'DEU', 'Germany', 'LVA', 'D35', 'Electricity, gas, steam and air conditioning supply', 2011, 0.003, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'DEU', 'Germany', 'LVA', 'D35', 'Electricity, gas, steam and air conditioning supply', 2012, 0.002, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'DEU', 'Germany', 'LVA', 'D35', 'Electricity, gas, steam and air conditioning supply', 2013, 0.001, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'GRC', 'Greece', 'ZAF', 'D35', 'Electricity, gas, steam and air conditioning supply', 2018, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'GRC', 'Greece', 'TWN', 'D35', 'Electricity, gas, steam and air conditioning supply', 1995, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'GRC', 'Greece', 'TWN', 'D35', 'Electricity, gas, steam and air conditioning supply', 1996, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'GRC', 'Greece', 'TWN', 'D35', 'Electricity, gas, steam and air conditioning supply', 1997, 0.0, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'ISL', 'Iceland', 'ITA', 'DTOTAL', 'TOTAL', 2002, 0.034, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'ISL', 'Iceland', 'ITA', 'DTOTAL', 'TOTAL', 2003, 0.053, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ISL', 'Iceland', 'ITA', 'DTOTAL', 'TOTAL', 2004, 0.065, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ISL', 'Iceland', 'ITA', 'DTOTAL', 'TOTAL', 2005, 0.074, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'IRL', 'Ireland', 'RUS', 'DTOTAL', 'TOTAL', 2010, 0.886, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'IRL', 'Ireland', 'RUS', 'DTOTAL', 'TOTAL', 2011, 0.938, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'IRL', 'Ireland', 'RUS', 'DTOTAL', 'TOTAL', 2012, 0.957, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'IRL', 'Ireland', 'RUS', 'DTOTAL', 'TOTAL', 2013, 1.017, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'ISR', 'Israel', 'HUN', 'D35', 'Electricity, gas, steam and air conditioning supply', 2018, 0.001, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'ISR', 'Israel', 'ISL', 'D35', 'Electricity, gas, steam and air conditioning supply', 1995, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ISR', 'Israel', 'ISL', 'D35', 'Electricity, gas, steam and air conditioning supply', 1996, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ISR', 'Israel', 'ISL', 'D35', 'Electricity, gas, steam and air conditioning supply', 1997, 0.0, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'ITA', 'Italy', 'PER', 'D35', 'Electricity, gas, steam and air conditioning supply', 2002, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'ITA', 'Italy', 'PER', 'D35', 'Electricity, gas, steam and air conditioning supply', 2003, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ITA', 'Italy', 'PER', 'D35', 'Electricity, gas, steam and air conditioning supply', 2004, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ITA', 'Italy', 'PER', 'D35', 'Electricity, gas, steam and air conditioning supply', 2005, 0.0, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'KOR', 'Korea', 'FRA', 'DTOTAL', 'TOTAL', 2010, 1.449, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'KOR', 'Korea', 'FRA', 'DTOTAL', 'TOTAL', 2011, 2.135, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'KOR', 'Korea', 'FRA', 'DTOTAL', 'TOTAL', 2012, 1.635, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'KOR', 'Korea', 'FRA', 'DTOTAL', 'TOTAL', 2013, 2.031, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'LVA', 'Latvia', 'LAO', 'DTOTAL', 'TOTAL', 2018, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'LVA', 'Latvia', 'MYS', 'DTOTAL', 'TOTAL', 1995, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'LVA', 'Latvia', 'MYS', 'DTOTAL', 'TOTAL', 1996, 0.002, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'LVA', 'Latvia', 'MYS', 'DTOTAL', 'TOTAL', 1997, 0.002, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'LTU', 'Lithuania', 'DNK', 'D35', 'Electricity, gas, steam and air conditioning supply', 2002, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'LTU', 'Lithuania', 'DNK', 'D35', 'Electricity, gas, steam and air conditioning supply', 2003, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'LTU', 'Lithuania', 'DNK', 'D35', 'Electricity, gas, steam and air conditioning supply', 2004, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'LTU', 'Lithuania', 'DNK', 'D35', 'Electricity, gas, steam and air conditioning supply', 2005, 0.0, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'LUX', 'Luxembourg', 'IND', 'D35', 'Electricity, gas, steam and air conditioning supply', 2010, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'LUX', 'Luxembourg', 'IND', 'D35', 'Electricity, gas, steam and air conditioning supply', 2011, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'LUX', 'Luxembourg', 'IND', 'D35', 'Electricity, gas, steam and air conditioning supply', 2012, 0.0, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'LUX', 'Luxembourg', 'IND', 'D35', 'Electricity, gas, steam and air conditioning supply', 2013, 0.0, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'NLD', 'Netherlands', 'CHL', 'DTOTAL', 'TOTAL', 2018, 0.284, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'NLD', 'Netherlands', 'COL', 'DTOTAL', 'TOTAL', 1995, 0.132, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'NLD', 'Netherlands', 'COL', 'DTOTAL', 'TOTAL', 1996, 0.19, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'NLD', 'Netherlands', 'COL', 'DTOTAL', 'TOTAL', 1997, 0.202, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'NZL', 'New Zealand', 'HRV', 'DTOTAL', 'TOTAL', 2002, 0.006, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'NZL', 'New Zealand', 'HRV', 'DTOTAL', 'TOTAL', 2003, 0.006, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'NZL', 'New Zealand', 'HRV', 'DTOTAL', 'TOTAL', 2004, 0.004, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'NZL', 'New Zealand', 'HRV', 'DTOTAL', 'TOTAL', 2005, 0.003, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'NOR', 'Norway', 'PHL', 'DTOTAL', 'TOTAL', 2010, 0.069, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'NOR', 'Norway', 'PHL', 'DTOTAL', 'TOTAL', 2011, 0.09, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'NOR', 'Norway', 'PHL', 'DTOTAL', 'TOTAL', 2012, 0.07, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'NOR', 'Norway', 'PHL', 'DTOTAL', 'TOTAL', 2013, 0.08, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'POL', 'Poland', 'BRN', 'D35', 'Electricity, gas, steam and air conditioning supply', 2018, 0.0, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'POL', 'Poland', 'BGR', 'D35', 'Electricity, gas, steam and air conditioning supply', 1995, 0.007, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'POL', 'Poland', 'BGR', 'D35', 'Electricity, gas, steam and air conditioning supply', 1996, 0.01, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'POL', 'Poland', 'BGR', 'D35', 'Electricity, gas, steam and air conditioning supply', 1997, 0.008, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'SVK', 'Slovak Republic', 'WLD', 'DTOTAL', 'TOTAL', 2002, 15.92, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'SVK', 'Slovak Republic', 'WLD', 'DTOTAL', 'TOTAL', 2003, 18.28, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'SVK', 'Slovak Republic', 'WLD', 'DTOTAL', 'TOTAL', 2004, 23.204, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'SVK', 'Slovak Republic', 'WLD', 'DTOTAL', 'TOTAL', 2005, 28.465, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'SVN', 'Slovenia', 'NONOECD', 'DTOTAL', 'TOTAL', 2010, 5.291, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'SVN', 'Slovenia', 'NONOECD', 'DTOTAL', 'TOTAL', 2011, 5.41, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'SVN', 'Slovenia', 'NONOECD', 'DTOTAL', 'TOTAL', 2012, 5.349, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'SVN', 'Slovenia', 'NONOECD', 'DTOTAL', 'TOTAL', 2013, 4.708, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'ESP', 'Spain', 'ZASI', 'DTOTAL', 'TOTAL', 2018, 33.637, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'ESP', 'Spain', 'ZSCA', 'DTOTAL', 'TOTAL', 1995, 1.678, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ESP', 'Spain', 'ZSCA', 'DTOTAL', 'TOTAL', 1996, 1.694, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'ESP', 'Spain', 'ZSCA', 'DTOTAL', 'TOTAL', 1997, 1.71, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'SWE', 'Sweden', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 2002, 0.049, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'SWE', 'Sweden', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 2003, 0.005, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'SWE', 'Sweden', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 2004, 0.004, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'SWE', 'Sweden', 'TUR', 'D35', 'Electricity, gas, steam and air conditioning supply', 2005, 0.004, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'CHE', 'Switzerland', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2010, 10.491, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'CHE', 'Switzerland', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2011, 13.247, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CHE', 'Switzerland', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2012, 10.982, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'CHE', 'Switzerland', 'G20', 'D35', 'Electricity, gas, steam and air conditioning supply', 2013, 9.876, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'GBR', 'United Kingdom', 'SVN', 'DTOTAL', 'TOTAL', 2018, 0.157, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'GBR', 'United Kingdom', 'ESP', 'DTOTAL', 'TOTAL', 1995, 6.879, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'GBR', 'United Kingdom', 'ESP', 'DTOTAL', 'TOTAL', 1996, 7.601, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'GBR', 'United Kingdom', 'ESP', 'DTOTAL', 'TOTAL', 1997, 8.927, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'USA', 'United States', 'EU15', 'DTOTAL', 'TOTAL', 2002, 143.935, 'Mt CO2')
batch insert result: [(5000,)]
inserting 5000 records
  ('Foreign CO2 emissions embodied in gross imports', 'USA', 'United States', 'EU15', 'DTOTAL', 'TOTAL', 2003, 141.15, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'USA', 'United States', 'EU15', 'DTOTAL', 'TOTAL', 2004, 145.329, 'Mt CO2')
  ('Foreign CO2 emissions embodied in gross imports', 'USA', 'United States', 'EU15', 'DTOTAL', 'TOTAL', 2005, 149.58, 'Mt CO2')
  ...
  ('Foreign CO2 emissions embodied in gross imports', 'NONOECD', 'Non-OECD economies and aggregates', 'POL', 'D35', 'Electricity, gas, steam and air conditioning supply', 2010, 0.167, 'Mt CO2')

In [20]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}" + "where validity_date=2010 and partner_iso_code='ARG' and industry_code='D35'"""
df_exp = pd.read_sql(sql, engine)
pd.set_option('display.max_rows', df_exp.shape[0]+1)
df_exp

,attribute,country_iso_code,country_name,partner_iso_code,industry_code,industry_name,validity_date,value,value_units
0,Foreign CO2 emissions embodied in gross imports,MMR,Myanmar,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
1,Foreign CO2 emissions embodied in gross imports,PHL,Philippines,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
2,Foreign CO2 emissions embodied in gross imports,ROU,Romania,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
3,Foreign CO2 emissions embodied in gross imports,GBR,United Kingdom,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
4,Foreign CO2 emissions embodied in gross imports,LAO,Lao PDR,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
5,Foreign CO2 emissions embodied in gross imports,EU13,EU28 excluding EU15,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
6,Foreign CO2 emissions embodied in gross imports,EA19,Euro area (19 countries),ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
7,Foreign CO2 emissions embodied in gross imports,ROW,Rest of the World,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.039,Mt CO2
8,Foreign CO2 emissions embodied in gross imports,G20,Group of Twenty,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
9,Foreign CO2 emissions embodied in gross imports,IND,India,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
10,Foreign CO2 emissions embodied in gross imports,IDN,Indonesia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
11,Foreign CO2 emissions embodied in gross imports,ZAF,South Africa,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
12,Foreign CO2 emissions embodied in gross imports,SAU,Saudi Arabia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
13,Foreign CO2 emissions embodied in gross imports,ISL,Iceland,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
14,Foreign CO2 emissions embodied in gross imports,BRN,Brunei Darussalam,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
15,Foreign CO2 emissions embodied in gross imports,NOR,Norway,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
16,Foreign CO2 emissions embodied in gross imports,POL,Poland,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
17,Foreign CO2 emissions embodied in gross imports,MYS,Malaysia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
18,Foreign CO2 emissions embodied in gross imports,PER,Peru,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
19,Foreign CO2 emissions embodied in gross imports,ZEUR,Europe,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
20,Foreign CO2 emissions embodied in gross imports,IRL,Ireland,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
21,Foreign CO2 emissions embodied in gross imports,THA,Thailand,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
22,Foreign CO2 emissions embodied in gross imports,TUN,Tunisia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
23,Foreign CO2 emissions embodied in gross imports,DEU,Germany,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
24,Foreign CO2 emissions embodied in gross imports,GRC,Greece,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
25,Foreign CO2 emissions embodied in gross imports,ISR,Israel,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
26,Foreign CO2 emissions embodied in gross imports,ITA,Italy,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
27,Foreign CO2 emissions embodied in gross imports,CRI,Costa Rica,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
28,Foreign CO2 emissions embodied in gross imports,ZOTH,Other regions,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.039,Mt CO2
29,Foreign CO2 emissions embodied in gross imports,BEL,Belgium,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
30,Foreign CO2 emissions embodied in gross imports,CAN,Canada,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
31,Foreign CO2 emissions embodied in gross imports,FRA,France,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
32,Foreign CO2 emissions embodied in gross imports,ESP,Spain,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
33,Foreign CO2 emissions embodied in gross imports,TWN,Chinese Taipei,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
34,Foreign CO2 emissions embodied in gross imports,AUT,Austria,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
35,Foreign CO2 emissions embodied in gross imports,JPN,Japan,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
36,Foreign CO2 emissions embodied in gross imports,NONOECD,Non-OECD economies and aggregates,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
37,Foreign CO2 emissions embodied in gross imports,ARG,Argentina,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
38,Foreign CO2 emissions embodied in gross imports,SGP,Singapore,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
39,Foreign CO2 emissions embodied in gross imports,KAZ,Kazakhstan,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
40,Foreign CO2 emissions embodied in gross imports,NLD,Netherlands,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
41,Foreign CO2 emissions embodied in gross imports,MLT,Malta,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
42,Foreign CO2 emissions embodied in gross imports,MAR,Morocco,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
43,Foreign CO2 emissions embodied in gross imports,ZNAM,North America,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
44,Foreign CO2 emissions embodied in gross imports,SVN,Slovenia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
45,Foreign CO2 emissions embodied in gross imports,EST,Estonia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
46,Foreign CO2 emissions embodied in gross imports,HUN,Hungary,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
47,Foreign CO2 emissions embodied in gross imports,ZASI,East and Southeastern Asia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
48,Foreign CO2 emissions embodied in gross imports,ZSCA,South and Central America,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
49,Foreign CO2 emissions embodied in gross imports,VNM,Viet Nam,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
50,Foreign CO2 emissions embodied in gross imports,TUR,Turkey,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
51,Foreign CO2 emissions embodied in gross imports,EU15,European Union (15 countries),ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
52,Foreign CO2 emissions embodied in gross imports,OECD,OECD member countries,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
53,Foreign CO2 emissions embodied in gross imports,EU28,European Union (28 countries),ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
54,Foreign CO2 emissions embodied in gross imports,APEC,Asia-Pacific Economic Cooperation,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
55,Foreign CO2 emissions embodied in gross imports,ASEAN,Association of South East Asian Nations,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
56,Foreign CO2 emissions embodied in gross imports,BGR,Bulgaria,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
57,Foreign CO2 emissions embodied in gross imports,NZL,New Zealand,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
58,Foreign CO2 emissions embodied in gross imports,MEX,Mexico,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
59,Foreign CO2 emissions embodied in gross imports,SWE,Sweden,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
60,Foreign CO2 emissions embodied in gross imports,CHE,Switzerland,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
61,Foreign CO2 emissions embodied in gross imports,HRV,Croatia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
62,Foreign CO2 emissions embodied in gross imports,USA,United States,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
63,Foreign CO2 emissions embodied in gross imports,KOR,Korea,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
64,Foreign CO2 emissions embodied in gross imports,RUS,Russian Federation,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
65,Foreign CO2 emissions embodied in gross imports,COL,Colombia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
66,Foreign CO2 emissions embodied in gross imports,AUS,Australia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
67,Foreign CO2 emissions embodied in gross imports,FIN,Finland,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
68,Foreign CO2 emissions embodied in gross imports,EASIA,Eastern Asia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
69,Foreign CO2 emissions embodied in gross imports,SVK,Slovak Republic,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
70,Foreign CO2 emissions embodied in gross imports,CHL,Chile,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
71,Foreign CO2 emissions embodied in gross imports,HKG,"Hong Kong, China",ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
72,Foreign CO2 emissions embodied in gross imports,KHM,Cambodia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
73,Foreign CO2 emissions embodied in gross imports,CHN,China (People's Republic of),ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
74,Foreign CO2 emissions embodied in gross imports,LVA,Latvia,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
75,Foreign CO2 emissions embodied in gross imports,EU27_2020,European Union (27 countries),ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
76,Foreign CO2 emissions embodied in gross imports,CYP,Cyprus,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
77,Foreign CO2 emissions embodied in gross imports,BRA,Brazil,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.405,Mt CO2
78,Foreign CO2 emissions embodied in gross imports,LTU,Lithuania,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
79,Foreign CO2 emissions embodied in gross imports,LUX,Luxembourg,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
80,Foreign CO2 emissions embodied in gross imports,PRT,Portugal,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
81,Foreign CO2 emissions embodied in gross imports,CZE,Czech Republic,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2
82,Foreign CO2 emissions embodied in gross imports,DNK,Denmark,ARG,D35,"Electricity, gas, steam and air conditioning s...",2010,0.000,Mt CO2