### The PRIMAP-hist national historical emissions time series (1750-2019) v2.3.1

<font size="3">https://zenodo.org/record/5494497#.YujsrTfP2Un</font>

Load Environment Variables

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [2]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_primap_emissions_with_LULUCF'

In [3]:
# Bucket must be configured with credentials for the Hive ingestion bucket
#hive_bucket = osc.attach_s3_bucket('S3_OSCCL2')
hive_bucket = osc.attach_s3_bucket('S3_HIVE')
hive_catalog = 'osc_datacommons_hive_ingest'
hive_schema = 'ingest'

In [4]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_LANDING")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
create schema if not exists {ingest_catalog}.{ingest_schema}
"""
qres = engine.execute(sql)
#print(qres.fetchall())

In [7]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('rmi',)
('sandbox',)
('wri_gppd',)

In [8]:
import pandas as pd
import csv
import ParseXLS as parser


primap_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/PRIMAP/Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv')
primap_file.download_file(f'/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv')
#df = parser.process('OECD_IMGR_FCO2.ini','OECD.csv') 

df = parser.process('PRIMAP_with_LULUCF.ini','PRIMAP.csv') 
df=df.astype({'validity_date': 'int32'})
df=df.astype({'country_iso_code': 'string'})
df=df.astype({'attribute': 'string'})
df= df.convert_dtypes()
df.info(verbose=True)

#df['validity_date_dt'] = pd.to_datetime(df.validity_date, format='%Y')
#df = df.convert_dtypes()
#df.validity_date_dt = df.validity_date_dt.astype('datetime64[ns]')

PRIMAP_with_LULUCF.ini
file_list:
['/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv']
/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv
2
csv
/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-202
<configparser.ConfigParser object at 0x7f27a8110ee0>
                    source scenario (PRIMAP-hist) area (ISO3) entity
0      PRIMAP-hist_v2.4_nr                 HISTCR         ABW    CH4  \
1      PRIMAP-hist_v2.4_nr                 HISTCR         ABW    CH4
2      PRIMAP-hist_v2.4_nr                 HISTCR         ABW    CH4
3      PRIMAP-hist_v2.4_nr                 HISTCR         ABW    CH4
4      PRIMAP-hist_v2.4_nr                 HISTCR         ABW    CH4
...                    ...                    ...         ...    ...
36385  PRIMAP-hist_v2.4_nr                 HISTTP         ZWE    N2O
36386  PRIMAP-hist_v2.4_nr                 HISTTP         ZWE    N2O
36387  PRIMAP-hist_v2.4_nr                 HISTTP         ZWE    N2O
36388  PRIMAP-hist_v2.4_nr                 HISTTP         ZWE    N2O
36389  PRIMAP-hist_v2.4_nr                 HISTTP         ZWE    N2O

                     unit category (IPCC2006_PRIMAP)      1750      1751
0      CH4 * gigagram / a                          0  0.014002  0.014107  \
1      CH4 * gigagram / a                          1  0.005636  0.005672
2      CH4 * gigagram / a                        1.A  0.005636  0.005672
3      CH4 * gigagram / a                        1.B  0.000000  0.000000
4      CH4 * gigagram / a                      1.B.1  0.000000  0.000000
...                   ...                        ...       ...       ...
36385  N2O * gigagram / a                          5  0.000000  0.002132
36386  N2O * gigagram / a                     M.0.EL  0.092951  0.096750
36387  N2O * gigagram / a                       M.AG  0.089902  0.091515
36388  N2O * gigagram / a                   M.AG.ELV  0.088846  0.090440
36389  N2O * gigagram / a                   M.LULUCF       NaN       NaN

           1752      1753  ...       2012       2013       2014       2015
0      0.014212  0.014317  ...   1.241118   1.621676   1.509056   1.394394  \
1      0.005708  0.005744  ...   0.191118   0.563476   0.445756   0.327995
2      0.005708  0.005744  ...   0.065678   0.071448   0.068800   0.066471
3      0.000000  0.000000  ...   0.125440   0.492029   0.376956   0.261523
4      0.000000  0.000000  ...   0.000440   0.001010   0.001580   0.001790
...         ...       ...  ...        ...        ...        ...        ...
36385  0.004264  0.006396  ...   0.850000   0.866000   0.871000   0.890000
36386  0.100549  0.104348  ...  20.665200  19.652320  17.678455  19.366524
36387  0.093128  0.094740  ...  17.520100  16.429900  14.429500  16.058700
36388  0.092033  0.093627  ...  17.242400  16.145800  14.241100  15.819100
36389       NaN       NaN  ...   0.453800   0.416700   0.291400   0.502300

            2016       2017       2018       2019       2020       2021
0       1.280200   1.167808   1.144008   1.130382   1.130516   1.130651
1       0.208700   0.089208   0.059308   0.059899   0.059111   0.058322
2       0.062750   0.058830   0.057118   0.057977   0.057095   0.056213
3       0.145951   0.030378   0.002190   0.001922   0.002015   0.002109
4       0.001860   0.001930   0.002190   0.001922   0.002015   0.002109
...          ...        ...        ...        ...        ...        ...
36385   0.873000   0.879000   0.930000   0.943124   0.962231   0.981338
36386  17.947726  18.637157  19.150837  19.337728  19.185631  19.157339
36387  14.639500  15.277700  15.652500  15.780700  15.557657  15.458419
36388  14.363100  15.081900  15.469200  15.559700  15.314264  15.212706
36389   0.406700   0.229400   0.387700   0.467900   0.420625   0.426749

[36390 rows x 278 columns]
['']
eval_components
['entity']
['source', 'scenario (PRIMAP-hist)', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
entity
eval_components
['unit']
['source', 'scenario (PRIMAP-hist)', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'attribute']
unit
Index(['column names original:source',
       'column names original:scenario (PRIMAP-hist)',
       'column names original:area (ISO3)', 'column names original:entity',
       'column names original:unit',
       'column names original:category (IPCC2006_PRIMAP)',
       'column names original:1750', 'column names original:1751',
       'column names original:1752', 'column names original:1753',
       ...
       'column names original:2014', 'column names original:2015',
       'column names original:2016', 'column names original:2017',
       'column names original:2018', 'column names original:2019',
       'column names original:2020', 'column names original:2021',
       'column names original:attribute', 'column names original:units'],
      dtype='object', length=280)
Index(['column names after rename:source',
       'column names after rename:scenario',
       'column names after rename:country_iso_code',
       'column names after rename:entity', 'column names after rename:unit',
       'column names after rename:category', 'column names after rename:1750',
       'column names after rename:1751', 'column names after rename:1752',
       'column names after rename:1753',
       ...
       'column names after rename:2014', 'column names after rename:2015',
       'column names after rename:2016', 'column names after rename:2017',
       'column names after rename:2018', 'column names after rename:2019',
       'column names after rename:2020', 'column names after rename:2021',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object', length=280)
eval_condition:df_collection[0][(df_collection[0].category=='M.LULUCF')]
eval_condition:df_collection[0][(df_collection[0].scenario=='HISTCR')]
eval_condition:df_collection[0][(df_collection[0].entity=='KYOTOGHG (AR4GWP100)')]
215
215
before melt
      country_iso_code          1750       1751       1752       1753
35                 ABW  0.000000e+00   0.000000   0.000000   0.000000  \
106                AFG  5.718812e-02   0.323036   0.588884   0.854731
186                AGO -2.140510e-13  -7.019342 -14.038684 -21.058026
241                AIA  0.000000e+00   0.000000   0.000000   0.000000
318                ALB  2.593481e-13  21.099219  42.198437  63.297656
...                ...           ...        ...        ...        ...
17840              WSM  0.000000e+00   0.000000   0.000000   0.000000
17908              YEM  0.000000e+00   0.000000   0.000000   0.000000
17997              ZAF -2.908784e-14  -1.984371  -3.968741  -5.953112
18092              ZMB  1.838529e-13   6.803915  13.607831  20.411746
18165              ZWE  2.731149e-14   1.187258   2.374515   3.561772

            1754        1755        1756        1757        1758  ...
35      0.000000    0.000000    0.000000    0.000000    0.000000  ...  \
106     1.120579    1.386427    1.652275    1.918122    2.183970  ...
186   -28.077367  -35.096709  -42.116051  -49.135393  -56.154735  ...
241     0.000000    0.000000    0.000000    0.000000    0.000000  ...
318    84.396875  105.496090  126.595310  147.694530  168.793750  ...
...          ...         ...         ...         ...         ...  ...
17840   0.000000    0.000000    0.000000    0.000000    0.000000  ...
17908   0.000000    0.000000    0.000000    0.000000    0.000000  ...
17997  -7.937483   -9.921853  -11.906224  -13.890594  -15.874965  ...
18092  27.215661   34.019576   40.823492   47.627407   54.431322  ...
18165   4.749030    5.936287    7.123545    8.310802    9.498060  ...

              2014         2015         2016         2017         2018
35         -0.0565      -0.0565      -0.1222      -0.1222      -0.1222  \
106      -246.2191    -246.2191     154.6574     154.6574     154.6574
186     83732.9610   98925.9800   80162.9980   85624.7750   83097.7710
241         0.0000       0.0000       0.0000       0.0000       0.0000
318      -844.4809    -836.6892    -235.3463    -231.3774    -237.8793
...            ...          ...          ...          ...          ...
17840     108.7940     108.7940     106.6336     106.6336     106.6336
17908   -1747.2330   -1747.2330   -1747.2330   -1747.2330   -1747.2330
17997  -24680.6250  -28420.3610  -29817.6380  -31201.2960    7608.6299
18092  321700.0300  345082.9500  359338.6100  312723.1400  297409.0900
18165   11405.8050   11468.6530   87283.9360   87231.1000   87278.2740

              2019          2020          2021             attribute
35         -0.1222      -0.12220      -0.12220  KYOTOGHG (AR4GWP100)  \
106       154.6574     154.65740     154.65740  KYOTOGHG (AR4GWP100)
186    105044.0500   88556.10700   88566.20500  KYOTOGHG (AR4GWP100)
241         0.0000       0.00000       0.00000  KYOTOGHG (AR4GWP100)
318      -237.8793    -235.47583    -235.44954  KYOTOGHG (AR4GWP100)
...            ...           ...           ...                   ...
17840     106.6336     106.72215     106.71385  KYOTOGHG (AR4GWP100)
17908   -1747.2330   -1747.23300   -1747.23300  KYOTOGHG (AR4GWP100)
17997    8670.1856  -11212.77900  -11212.18300  KYOTOGHG (AR4GWP100)
18092  320058.4400  323183.11000  323462.36000  KYOTOGHG (AR4GWP100)
18165   87302.1730   87288.08500   87289.91000  KYOTOGHG (AR4GWP100)

                    units
35     CO2 * gigagram / a
106    CO2 * gigagram / a
186    CO2 * gigagram / a
241    CO2 * gigagram / a
318    CO2 * gigagram / a
...                   ...
17840  CO2 * gigagram / a
17908  CO2 * gigagram / a
17997  CO2 * gigagram / a
18092  CO2 * gigagram / a
18165  CO2 * gigagram / a

[215 rows x 275 columns]
after melt
      country_iso_code             attribute               units  year
0                  ABW  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750  \
1                  AFG  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
2                  AGO  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
3                  AIA  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
4                  ALB  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
...                ...                   ...                 ...   ...
58475              WSM  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58476              YEM  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58477              ZAF  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58478              ZMB  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58479              ZWE  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021

              value
0      0.000000e+00
1      5.718812e-02
2     -2.140510e-13
3      0.000000e+00
4      2.593481e-13
...             ...
58475  1.067138e+02
58476 -1.747233e+03
58477 -1.121218e+04
58478  3.234624e+05
58479  8.728991e+04

[58480 rows x 5 columns]
list columns
['country_iso_code', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58480 entries, 0 to 58479
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58480 non-null  string
 1   data_provider     58480 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58480 non-null  string
 4   validity_date     58480 non-null  Int32
 5   attribute         58480 non-null  string
 6   value             58480 non-null  Float64
 7   value_units       58480 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [9]:
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)


'''
columnschema = osc.create_table_schema_pairs(df,typemap={'datetime64[ns]':'timestamp(6)'}) 
print(columnschema)


tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = ARRAY['country_iso_code']
)"""

print(tabledef)


#print(qres.fetchall())

table_create = engine.execute(tabledef)
#print(table_create.fetchall())
'''

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_primap_emissions_with_LULUCF

'\ncolumnschema = osc.create_table_schema_pairs(df,typemap={\'datetime64[ns]\':\'timestamp(6)\'}) \nprint(columnschema)\n\n\ntabledef = f"""\ncreate table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(\n{columnschema}\n) with (\n    format = \'ORC\',\n    partitioning = ARRAY[\'country_iso_code\']\n)"""\n\nprint(tabledef)\n\n\n#print(qres.fetchall())\n\ntable_create = engine.execute(tabledef)\n#print(table_create.fetchall())\n'

In [10]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58480 entries, 0 to 58479
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58480 non-null  string
 1   data_provider     58480 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58480 non-null  string
 4   validity_date     58480 non-null  Int32
 5   attribute         58480 non-null  string
 6   value             58480 non-null  Float64
 7   value_units       58480 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [11]:
'''
osc.fast_pandas_ingest_via_hive(
    df,
    engine,
    ingest_catalog, ingest_schema, ingest_table,
    hive_bucket, hive_catalog, hive_schema,
    partition_columns = ['country_iso_code'],
    overwrite = True,
    verbose = True
)
'''

"\nosc.fast_pandas_ingest_via_hive(\n    df,\n    engine,\n    ingest_catalog, ingest_schema, ingest_table,\n    hive_bucket, hive_catalog, hive_schema,\n    partition_columns = ['country_iso_code'],\n    overwrite = True,\n    verbose = True\n)\n"

In [12]:

df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_primap_emissions_with_LULUCF"
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ABW', 1750, 'KYOTOGHG (AR4GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'AFG', 1750, 'KYOTOGHG (AR4GWP100)', 0.057188118, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'AGO', 1750, 'KYOTOGHG (AR4GWP100)', -2.14051e-13, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LBY', 1796, 'KYOTOGHG (AR4GWP100)', 0.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LCA', 1796, 'KYOTOGHG (AR4GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LDC', 1796, 'KYOTOGHG (AR4GWP100)', 19161.43, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LIE', 1796, 'KYOTOGHG (AR4GWP100)', 1.4987012, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ALB', 1843, 'KYOTOGHG (AR4GWP100)', 1962.2273, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'AND', 1843, 'KYOTOGHG (AR4GWP100)', -1.7245458, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ANNEXI', 1843, 'KYOTOGHG (AR4GWP100)', 1169093.3, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ANT', 1843, 'KYOTOGHG (AR4GWP100)', 0.01050535, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LSO', 1889, 'KYOTOGHG (AR4GWP100)', 0.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LTU', 1889, 'KYOTOGHG (AR4GWP100)', 4442.4881, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LUX', 1889, 'KYOTOGHG (AR4GWP100)', 84.390581, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'LVA', 1889, 'KYOTOGHG (AR4GWP100)', 1539.2386, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ARE', 1936, 'KYOTOGHG (AR4GWP100)', 0.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ARG', 1936, 'KYOTOGHG (AR4GWP100)', 16811.536, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ARM', 1936, 'KYOTOGHG (AR4GWP100)', 1538.1573, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ATG', 1936, 'KYOTOGHG (AR4GWP100)', 0.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'MAR', 1982, 'KYOTOGHG (AR4GWP100)', 6321.6506, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 8480 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'MCO', 1982, 'KYOTOGHG (AR4GWP100)', 0.016008668, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'MDA', 1982, 'KYOTOGHG (AR4GWP100)', 121.45454, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'MDG', 1982, 'KYOTOGHG (AR4GWP100)', 44689.267, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_rounding_11-Oct-2022.csv', 'PRIMAP', NULL, 'ZWE', 2021, 'KYOTOGHG (AR4GWP100)', 87289.91, 'CO2 * gigagram / a')
batch insert result: [(8480,)]

/tmp/ipykernel_2052/2198143438.py:1: UserWarning: The provided table name 'sf_primap_emissions_with_LULUCF' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(ingest_table,

In [13]:
import pandas as pd
sql=f"""
select *  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021 and country_iso_code='TWN'"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_name,country_iso_code,validity_date,attribute,value,value_units
0,Guetschow-et-al-2022-PRIMAP-hist_v2.4_no_round...,PRIMAP,None,TWN,2021,KYOTOGHG (AR4GWP100),-21941.65,CO2 * gigagram / a

In [14]:
sql=f"""
select distinct country_iso_code  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021"""
pd.read_sql(sql, engine)

    country_iso_code
0                ARE
1                ARG
2              BASIC
3                CAF
4                CAN
..               ...
210              TKL
211              TLS
212              VAT
213              VCT
214              VUT

[215 rows x 1 columns]