### The PRIMAP-hist national historical emissions time series (1750-2019) v2.3.1

<font size="3">https://zenodo.org/record/5494497#.YujsrTfP2Un</font>

Load Environment Variables

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [2]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_primap_emissions_without_LULUCF'

In [3]:
# Bucket must be configured with credentials for the Hive ingestion bucket
hive_bucket = osc.attach_s3_bucket('S3_OSCCL2')
hive_catalog = 'osc_datacommons_hive_ingest'
hive_schema = 'ingest'

In [4]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_OSCCL2")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
create schema if not exists {ingest_catalog}.{ingest_schema}
"""
qres = engine.execute(sql)
#print(qres.fetchall())

In [7]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('rmi',)
('sandbox',)
('wri_gppd',)

In [8]:
import pandas as pd
import csv
import ParseXLS as parser


primap_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/PRIMAP/Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv')
primap_file.download_file(f'/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv')
#df = parser.process('OECD_IMGR_FCO2.ini','OECD.csv') 

df = parser.process('PRIMAP_without_LULUCF.ini','PRIMAP.csv') 
df=df.astype({'validity_date': 'int32'})
df=df.astype({'country_iso_code': 'string'})
df=df.astype({'attribute': 'string'})
df= df.convert_dtypes()
df.info(verbose=True)

#df['validity_date_dt'] = pd.to_datetime(df.validity_date, format='%Y')
#df = df.convert_dtypes()
#df.validity_date_dt = df.validity_date_dt.astype('datetime64[ns]')

PRIMAP_without_LULUCF.ini
file_list:
['/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv']
/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv
2
csv
/tmp/Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-202
<configparser.ConfigParser object at 0x7f18f5052850>
                 source scenario (PRIMAP-hist) area (ISO3) entity
0      PRIMAP-hist_v2.4                 HISTCR         ABW    CH4  \
1      PRIMAP-hist_v2.4                 HISTCR         ABW    CH4
2      PRIMAP-hist_v2.4                 HISTCR         ABW    CH4
3      PRIMAP-hist_v2.4                 HISTCR         ABW    CH4
4      PRIMAP-hist_v2.4                 HISTCR         ABW    CH4
...                 ...                    ...         ...    ...
29575  PRIMAP-hist_v2.4                 HISTTP         ZWE    N2O
29576  PRIMAP-hist_v2.4                 HISTTP         ZWE    N2O
29577  PRIMAP-hist_v2.4                 HISTTP         ZWE    N2O
29578  PRIMAP-hist_v2.4                 HISTTP         ZWE    N2O
29579  PRIMAP-hist_v2.4                 HISTTP         ZWE    N2O

                     unit category (IPCC2006_PRIMAP)     1750     1751
0      CH4 * gigagram / a                          1  0.00564  0.00567  \
1      CH4 * gigagram / a                        1.A  0.00564  0.00567
2      CH4 * gigagram / a                        1.B  0.00000  0.00000
3      CH4 * gigagram / a                      1.B.1  0.00000  0.00000
4      CH4 * gigagram / a                      1.B.2  0.00000  0.00000
...                   ...                        ...      ...      ...
29575  N2O * gigagram / a                          4  0.00305  0.00310
29576  N2O * gigagram / a                          5  0.00000  0.00213
29577  N2O * gigagram / a                     M.0.EL  0.09300  0.09680
29578  N2O * gigagram / a                       M.AG  0.08990  0.09150
29579  N2O * gigagram / a                   M.AG.ELV  0.08880  0.09040

          1752     1753  ...      2012      2013      2014      2015
0      0.00571  0.00574  ...   0.19100   0.56300   0.44600   0.32800  \
1      0.00571  0.00574  ...   0.06570   0.07140   0.06880   0.06650
2      0.00000  0.00000  ...   0.12500   0.49200   0.37700   0.26200
3      0.00000  0.00000  ...   0.00044   0.00101   0.00158   0.00179
4      0.00000  0.00000  ...   0.12500   0.49100   0.37500   0.26000
...        ...      ...  ...       ...       ...       ...       ...
29575  0.00316  0.00321  ...   0.47600   0.47500   0.48300   0.49500
29576  0.00426  0.00640  ...   0.85000   0.86600   0.87100   0.89000
29577  0.10100  0.10400  ...  20.70000  19.70000  17.70000  19.40000
29578  0.09310  0.09470  ...  17.50000  16.40000  14.40000  16.10000
29579  0.09200  0.09360  ...  17.20000  16.10000  14.20000  15.80000

           2016      2017      2018      2019      2020      2021
0       0.20900   0.08920   0.05930   0.05990   0.05910   0.05830
1       0.06270   0.05880   0.05710   0.05800   0.05710   0.05620
2       0.14600   0.03040   0.00219   0.00192   0.00202   0.00211
3       0.00186   0.00193   0.00219   0.00192   0.00202   0.00211
4       0.14400   0.02840   0.00000   0.00000   0.00000   0.00000
...         ...       ...       ...       ...       ...       ...
29575   0.51300   0.52500   0.53700   0.54400   0.55500   0.56500
29576   0.87300   0.87900   0.93000   0.94300   0.96200   0.98100
29577  17.90000  18.60000  19.20000  19.30000  19.20000  19.20000
29578  14.60000  15.30000  15.70000  15.80000  15.60000  15.50000
29579  14.40000  15.10000  15.50000  15.60000  15.30000  15.20000

[29580 rows x 278 columns]
['']
eval_components
['entity']
['source', 'scenario (PRIMAP-hist)', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
entity
eval_components
['unit']
['source', 'scenario (PRIMAP-hist)', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'attribute']
unit
Index(['column names original:source',
       'column names original:scenario (PRIMAP-hist)',
       'column names original:area (ISO3)', 'column names original:entity',
       'column names original:unit',
       'column names original:category (IPCC2006_PRIMAP)',
       'column names original:1750', 'column names original:1751',
       'column names original:1752', 'column names original:1753',
       ...
       'column names original:2014', 'column names original:2015',
       'column names original:2016', 'column names original:2017',
       'column names original:2018', 'column names original:2019',
       'column names original:2020', 'column names original:2021',
       'column names original:attribute', 'column names original:units'],
      dtype='object', length=280)
Index(['column names after rename:source',
       'column names after rename:scenario',
       'column names after rename:country_iso_code',
       'column names after rename:entity', 'column names after rename:unit',
       'column names after rename:category', 'column names after rename:1750',
       'column names after rename:1751', 'column names after rename:1752',
       'column names after rename:1753',
       ...
       'column names after rename:2014', 'column names after rename:2015',
       'column names after rename:2016', 'column names after rename:2017',
       'column names after rename:2018', 'column names after rename:2019',
       'column names after rename:2020', 'column names after rename:2021',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object', length=280)
eval_condition:df_collection[0][(df_collection[0].category=='M.0.EL')]
eval_condition:df_collection[0][(df_collection[0].scenario=='HISTCR')]
eval_condition:df_collection[0][(df_collection[0].entity=='KYOTOGHG (AR4GWP100)')]
215
215
before melt
      country_iso_code       1750       1751       1752       1753       1754
26                 ABW     0.3650     0.3690     0.3730     0.3770     0.3810  \
86                 AFG  2290.0000  2300.0000  2310.0000  2310.0000  2320.0000
150                AGO  1910.0000  1910.0000  1910.0000  1910.0000  1920.0000
196                AIA     0.0653     0.0658     0.0662     0.0666     0.0671
257                ALB   382.0000   384.0000   385.0000   386.0000   387.0000
...                ...        ...        ...        ...        ...        ...
14496              WSM     5.9500     5.9800     6.0200     6.0500     6.0900
14552              YEM  1530.0000  1530.0000  1530.0000  1540.0000  1540.0000
14626              ZAF   814.0000   823.0000   833.0000   842.0000   852.0000
14702              ZMB   947.0000   947.0000   948.0000   949.0000   949.0000
14763              ZWE    98.1000   100.0000   103.0000   105.0000   108.0000

            1755      1756       1757       1758  ...      2014      2015
26        0.3850     0.389     0.3930     0.3970  ...     934.0     956.0  \
86     2330.0000  2340.000  2350.0000  2360.0000  ...   29900.0   28800.0
150    1920.0000  1920.000  1920.0000  1920.0000  ...  109000.0  103000.0
196       0.0675     0.068     0.0684     0.0688  ...     144.0     159.0
257     388.0000   390.000   391.0000   392.0000  ...   10200.0    8910.0
...          ...       ...        ...        ...  ...       ...       ...
14496     6.1200     6.160     6.1900     6.2300  ...     461.0     502.0
14552  1540.0000  1540.000  1550.0000  1550.0000  ...   51100.0   33900.0
14626   861.0000   871.000   880.0000   890.0000  ...  578000.0  551000.0
14702   950.0000   951.000   952.0000   952.0000  ...   37300.0   38100.0
14763   110.0000   112.000   115.0000   117.0000  ...   24200.0   25400.0

           2016      2017      2018      2019      2020      2021
26        939.0     984.0    1010.0    1040.0     925.0    1030.0  \
86      27900.0   29200.0   29400.0   31300.0   32500.0   33000.0
150    104000.0  104000.0   97000.0  102000.0   99700.0  101000.0
196       159.0     148.0     152.0     157.0     139.0     155.0
257      8800.0    9930.0    9470.0    9450.0    9370.0    8430.0
...         ...       ...       ...       ...       ...       ...
14496     519.0     564.0     588.0     622.0     626.0     635.0
14552   29300.0   29300.0   36100.0   37300.0   38200.0   39400.0
14626  546000.0  535000.0  528000.0  537000.0  510000.0  512000.0
14702   38200.0   38900.0   39300.0   39900.0   40300.0   41000.0
14763   22900.0   22800.0   23700.0   23400.0   21600.0   22100.0

                  attribute               units
26     KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
86     KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
150    KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
196    KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
257    KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
...                     ...                 ...
14496  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
14552  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
14626  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
14702  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a
14763  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a

[215 rows x 275 columns]
after melt
      country_iso_code             attribute               units  year
0                  ABW  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750  \
1                  AFG  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
2                  AGO  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
3                  AIA  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
4                  ALB  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  1750
...                ...                   ...                 ...   ...
58475              WSM  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58476              YEM  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58477              ZAF  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58478              ZMB  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021
58479              ZWE  KYOTOGHG (AR4GWP100)  CO2 * gigagram / a  2021

             value
0           0.3650
1        2290.0000
2        1910.0000
3           0.0653
4         382.0000
...            ...
58475     635.0000
58476   39400.0000
58477  512000.0000
58478   41000.0000
58479   22100.0000

[58480 rows x 5 columns]
list columns
['country_iso_code', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58480 entries, 0 to 58479
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58480 non-null  string
 1   data_provider     58480 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58480 non-null  string
 4   validity_date     58480 non-null  Int32
 5   attribute         58480 non-null  string
 6   value             58243 non-null  Float64
 7   value_units       58480 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [9]:
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)


'''
columnschema = osc.create_table_schema_pairs(df,typemap={'datetime64[ns]':'timestamp(6)'}) 
print(columnschema)


tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = ARRAY['country_iso_code']
)"""

print(tabledef)


#print(qres.fetchall())

table_create = engine.execute(tabledef)
#print(table_create.fetchall())
'''

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_primap_emissions_without_LULUCF

'\ncolumnschema = osc.create_table_schema_pairs(df,typemap={\'datetime64[ns]\':\'timestamp(6)\'}) \nprint(columnschema)\n\n\ntabledef = f"""\ncreate table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(\n{columnschema}\n) with (\n    format = \'ORC\',\n    partitioning = ARRAY[\'country_iso_code\']\n)"""\n\nprint(tabledef)\n\n\n#print(qres.fetchall())\n\ntable_create = engine.execute(tabledef)\n#print(table_create.fetchall())\n'

In [10]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58480 entries, 0 to 58479
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58480 non-null  string
 1   data_provider     58480 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58480 non-null  string
 4   validity_date     58480 non-null  Int32
 5   attribute         58480 non-null  string
 6   value             58243 non-null  Float64
 7   value_units       58480 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [11]:
'''
osc.fast_pandas_ingest_via_hive(
    df,
    engine,
    ingest_catalog, ingest_schema, ingest_table,
    hive_bucket, hive_catalog, hive_schema,
    partition_columns = ['country_iso_code'],
    overwrite = True,
    verbose = True
)
'''

"\nosc.fast_pandas_ingest_via_hive(\n    df,\n    engine,\n    ingest_catalog, ingest_schema, ingest_table,\n    hive_bucket, hive_catalog, hive_schema,\n    partition_columns = ['country_iso_code'],\n    overwrite = True,\n    verbose = True\n)\n"

In [12]:

df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_primap_emissions_without_LULUCF"
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ABW', 1750, 'KYOTOGHG (AR4GWP100)', 0.365, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'AFG', 1750, 'KYOTOGHG (AR4GWP100)', 2290.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'AGO', 1750, 'KYOTOGHG (AR4GWP100)', 1910.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LBY', 1796, 'KYOTOGHG (AR4GWP100)', 251.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LCA', 1796, 'KYOTOGHG (AR4GWP100)', 1.23, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LDC', 1796, 'KYOTOGHG (AR4GWP100)', 78000.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LIE', 1796, 'KYOTOGHG (AR4GWP100)', 6.66, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ALB', 1843, 'KYOTOGHG (AR4GWP100)', 512.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'AND', 1843, 'KYOTOGHG (AR4GWP100)', 6.7, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ANNEXI', 1843, 'KYOTOGHG (AR4GWP100)', 651000.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ANT', 1843, 'KYOTOGHG (AR4GWP100)', 61.1, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LSO', 1889, 'KYOTOGHG (AR4GWP100)', 184.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LTU', 1889, 'KYOTOGHG (AR4GWP100)', 4380.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LUX', 1889, 'KYOTOGHG (AR4GWP100)', 339.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'LVA', 1889, 'KYOTOGHG (AR4GWP100)', 3020.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ARE', 1936, 'KYOTOGHG (AR4GWP100)', 196.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ARG', 1936, 'KYOTOGHG (AR4GWP100)', 71800.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ARM', 1936, 'KYOTOGHG (AR4GWP100)', 1320.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ATA', 1936, 'KYOTOGHG (AR4GWP100)', NULL, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'MAR', 1982, 'KYOTOGHG (AR4GWP100)', 27600.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 8480 records
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'MCO', 1982, 'KYOTOGHG (AR4GWP100)', 116.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'MDA', 1982, 'KYOTOGHG (AR4GWP100)', 43800.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'MDG', 1982, 'KYOTOGHG (AR4GWP100)', 21300.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2022.csv', 'PRIMAP', NULL, 'ZWE', 2021, 'KYOTOGHG (AR4GWP100)', 22100.0, 'CO2 * gigagram / a')
batch insert result: [(8480,)]

/tmp/ipykernel_2107/2198143438.py:1: UserWarning: The provided table name 'sf_primap_emissions_without_LULUCF' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(ingest_table,

In [13]:
import pandas as pd
sql=f"""
select *  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021 and country_iso_code='TWN'"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_name,country_iso_code,validity_date,attribute,value,value_units
0,Guetschow-et-al-2022-PRIMAP-hist_v2.4_11-Oct-2...,PRIMAP,None,TWN,2021,KYOTOGHG (AR4GWP100),305000.0,CO2 * gigagram / a

In [14]:
sql=f"""
select distinct country_iso_code  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021"""
pd.read_sql(sql, engine)

    country_iso_code
0                AND
1                ANT
2                AUT
3                AZE
4                BDI
..               ...
210              TTO
211              UKR
212              VGB
213              VNM
214              ZMB

[215 rows x 1 columns]