### The PRIMAP-hist national historical emissions time series (1750-2019) v2.3.1

<font size="3">https://zenodo.org/record/5494497#.YujsrTfP2Un</font>

Load Environment Variables

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [2]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_primap_emissions_without_LULUCF'

In [3]:
# Bucket must be configured with credentials for the Hive ingestion bucket
hive_bucket = osc.attach_s3_bucket('S3_OSCCL2')
hive_catalog = 'osc_datacommons_hive_ingest'
hive_schema = 'ingest'

In [4]:
import trino
from sqlalchemy.engine import create_engine
from sqlalchemy import text

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
#connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_OSCCL2")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
create schema if not exists {ingest_catalog}.{ingest_schema}
"""
with engine.connect() as conn:
    qres = conn.execute(text(sql))
    #print(qres.fetchall())

In [7]:
# Show available schemas to ensure trino connection is set correctly
with engine.connect() as conn:
    schema_read = conn.execute(text(f'show schemas in {ingest_catalog}'))
    for row in schema_read.fetchall():
        print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('rmi',)
('sandbox',)
('wri_gppd',)

In [8]:
# Specify the full path of the file you want to upload
file_path = '/opt/app-root/src/PCAF-sovereign-footprint/notebooks/Guetschow_et_al_2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv'

# Specify the key (i.e., the name of the file in the bucket)
s3_key = 'PCAF-sovereign-footprint/PRIMAP/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv'

# Upload the file to S3
source_bucket.upload_file(file_path, s3_key)

In [11]:
import pandas as pd
import csv
import ParseXLS as parser


primap_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/PRIMAP/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv')
primap_file.download_file(f'/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv')
#df = parser.process('OECD_IMGR_FCO2.ini','OECD.csv') 

df = parser.process('PRIMAP_without_LULUCF.ini','PRIMAP.csv') 
df=df.astype({'validity_date': 'int32'})
df=df.astype({'country_iso_code': 'string'})
df=df.astype({'attribute': 'string'})
df= df.convert_dtypes()
df.info(verbose=True)

#df['validity_date_dt'] = pd.to_datetime(df.validity_date, format='%Y')
#df = df.convert_dtypes()
#df.validity_date_dt = df.validity_date_dt.astype('datetime64[ns]')

PRIMAP_without_LULUCF.ini
file_list:
['/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv']
/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv
2
csv
/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-202
<configparser.ConfigParser object at 0x7f5244368910>
                       source scenario (PRIMAP-hist) provenance area (ISO3)  \
0      PRIMAP-hist_v2.5_final                 HISTCR   measured         ABW
1      PRIMAP-hist_v2.5_final                 HISTCR   measured         ABW
2      PRIMAP-hist_v2.5_final                 HISTCR   measured         ABW
3      PRIMAP-hist_v2.5_final                 HISTCR   measured         ABW
4      PRIMAP-hist_v2.5_final                 HISTCR   measured         ABW
...                       ...                    ...        ...         ...
45901  PRIMAP-hist_v2.5_final                 HISTTP   measured         ZWE
45902  PRIMAP-hist_v2.5_final                 HISTTP   measured         ZWE
45903  PRIMAP-hist_v2.5_final                 HISTTP   measured         ZWE
45904  PRIMAP-hist_v2.5_final                 HISTTP   measured         ZWE
45905  PRIMAP-hist_v2.5_final                 HISTTP   measured         ZWE

                 entity                unit category (IPCC2006_PRIMAP)  \
0                   CH4  CH4 * gigagram / a                          1
1                   CH4  CH4 * gigagram / a                        1.A
2                   CH4  CH4 * gigagram / a                        1.B
3                   CH4  CH4 * gigagram / a                      1.B.1
4                   CH4  CH4 * gigagram / a                      1.B.2
...                 ...                 ...                        ...
45901               N2O  N2O * gigagram / a                   M.AG.ELV
45902  PFCS (AR4GWP100)  CO2 * gigagram / a                          2
45903  PFCS (AR4GWP100)  CO2 * gigagram / a                     M.0.EL
45904               SF6  SF6 * gigagram / a                          2
45905               SF6  SF6 * gigagram / a                     M.0.EL

          1750     1751     1752  ...     2013     2014     2015     2016  \
0      0.00564  0.00567  0.00571  ...   1.1600   1.1300   1.0900   1.0500
1      0.00564  0.00567  0.00571  ...   0.1400   0.1400   0.1350   0.1300
2      0.00000  0.00000  0.00000  ...   1.0200   0.9880   0.9560   0.9200
3      0.00000  0.00000  0.00000  ...   0.0592   0.0635   0.0654   0.0619
4      0.00000  0.00000  0.00000  ...   0.9570   0.9240   0.8910   0.8580
...        ...      ...      ...  ...      ...      ...      ...      ...
45901  0.08650  0.08810  0.08960  ...  16.4000  14.3000  15.8000  14.3000
45902  0.00000  0.00000  0.00000  ...   0.0000   0.0000   0.0000   0.0000
45903  0.00000  0.00000  0.00000  ...   0.0000   0.0000   0.0000   0.0000
45904  0.00000  0.00000  0.00000  ...   0.0000   0.0000   0.0000   0.0000
45905  0.00000  0.00000  0.00000  ...   0.0000   0.0000   0.0000   0.0000

          2017     2018     2019     2020     2021     2022
0       1.0100   0.9870   0.9570   0.9150   0.8930   0.8780
1       0.1260   0.1320   0.1320   0.1200   0.1310   0.1360
2       0.8880   0.8560   0.8250   0.7950   0.7620   0.7420
3       0.0635   0.0643   0.0674   0.0703   0.0703   0.0837
4       0.8250   0.7910   0.7580   0.7250   0.6920   0.6580
...        ...      ...      ...      ...      ...      ...
45901  15.0000  15.1000  15.0000  13.4000  13.9000  13.7000
45902   0.0000   0.0000   0.0000   0.0000   0.0000   0.0000
45903   0.0000   0.0000   0.0000   0.0000   0.0000   0.0000
45904   0.0000   0.0000   0.0000   0.0000   0.0000   0.0000
45905   0.0000   0.0000   0.0000   0.0000   0.0000   0.0000

[45906 rows x 280 columns]
['']
eval_components
['entity']
['source', 'scenario (PRIMAP-hist)', 'provenance', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
entity
eval_components
['unit']
['source', 'scenario (PRIMAP-hist)', 'provenance', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', 'attribute']
unit
Index(['column names original:source',
       'column names original:scenario (PRIMAP-hist)',
       'column names original:provenance', 'column names original:area (ISO3)',
       'column names original:entity', 'column names original:unit',
       'column names original:category (IPCC2006_PRIMAP)',
       'column names original:1750', 'column names original:1751',
       'column names original:1752',
       ...
       'column names original:2015', 'column names original:2016',
       'column names original:2017', 'column names original:2018',
       'column names original:2019', 'column names original:2020',
       'column names original:2021', 'column names original:2022',
       'column names original:attribute', 'column names original:units'],
      dtype='object', length=282)
Index(['column names after rename:source',
       'column names after rename:scenario',
       'column names after rename:provenance',
       'column names after rename:country_iso_code',
       'column names after rename:entity', 'column names after rename:unit',
       'column names after rename:category', 'column names after rename:1750',
       'column names after rename:1751', 'column names after rename:1752',
       ...
       'column names after rename:2015', 'column names after rename:2016',
       'column names after rename:2017', 'column names after rename:2018',
       'column names after rename:2019', 'column names after rename:2020',
       'column names after rename:2021', 'column names after rename:2022',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object', length=282)
eval_condition:df_collection[0][(df_collection[0].category=='M.0.EL')]
eval_condition:df_collection[0][(df_collection[0].scenario=='HISTCR')]
eval_condition:df_collection[0][(df_collection[0].entity=='KYOTOGHG (AR6GWP100)')]
215
215
before melt
      country_iso_code       1750       1751       1752       1753       1754  \
41                 ABW     0.3760     0.3800     0.3840     0.3890     0.3930
139                AFG  2530.0000  2540.0000  2550.0000  2560.0000  2580.0000
237                AGO  2030.0000  2040.0000  2040.0000  2040.0000  2040.0000
299                AIA     0.0729     0.0734     0.0739     0.0743     0.0748
391                ALB   440.0000   442.0000   444.0000   445.0000   447.0000
...                ...        ...        ...        ...        ...        ...
22468              WSM     6.5900     6.6200     6.6600     6.6900     6.7300
22580              YEM  1700.0000  1710.0000  1710.0000  1710.0000  1720.0000
22688              ZAF   795.0000   804.0000   813.0000   821.0000   830.0000
22806              ZMB   656.0000   656.0000   657.0000   658.0000   658.0000
22920              ZWE   140.0000   144.0000   147.0000   150.0000   153.0000

            1755       1756       1757       1758  ...      2015      2016  \
41        0.3970     0.4020     0.4060     0.4100  ...     983.0     968.0
139    2590.0000  2600.0000  2610.0000  2620.0000  ...   43800.0   44800.0
237    2040.0000  2040.0000  2040.0000  2040.0000  ...  109000.0  109000.0
299       0.0753     0.0758     0.0762     0.0767  ...     159.0     159.0
391     449.0000   450.0000   452.0000   454.0000  ...    9890.0    9920.0
...          ...        ...        ...        ...  ...       ...       ...
22468     6.7600     6.7900     6.8300     6.8600  ...     516.0     504.0
22580  1720.0000  1720.0000  1730.0000  1730.0000  ...   37300.0   33100.0
22688   839.0000   848.0000   856.0000   865.0000  ...  562000.0  557000.0
22806   659.0000   659.0000   660.0000   660.0000  ...   29800.0   32400.0
22920   156.0000   159.0000   162.0000   166.0000  ...   32400.0   28200.0

           2017      2018      2019      2020      2021      2022  \
41        998.0    1020.0    1040.0     956.0     947.0     964.0
139     45500.0   46100.0   47600.0   49100.0   49900.0   50600.0
237    109000.0   99700.0  101000.0   90800.0   91300.0   97500.0
299       148.0     152.0     155.0     142.0     141.0     143.0
391     10600.0   10800.0   10900.0   10900.0   10700.0   11100.0
...         ...       ...       ...       ...       ...       ...
22468     505.0     523.0     491.0     523.0     537.0     548.0
22580   33500.0   41200.0   43800.0   43100.0   44400.0   45800.0
22688  556000.0  565000.0  569000.0  552000.0  550000.0  535000.0
22806   34200.0   35200.0   35500.0   34600.0   35300.0   38100.0
22920   28200.0   29300.0   29200.0   26000.0   28300.0   28400.0

                  attribute               units
41     KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
139    KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
237    KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
299    KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
391    KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
...                     ...                 ...
22468  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
22580  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
22688  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
22806  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a
22920  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a

[215 rows x 276 columns]
after melt
      country_iso_code             attribute               units  year  \
0                  ABW  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
1                  AFG  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
2                  AGO  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
3                  AIA  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
4                  ALB  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
...                ...                   ...                 ...   ...
58690              WSM  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58691              YEM  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58692              ZAF  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58693              ZMB  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58694              ZWE  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022

             value
0           0.3760
1        2530.0000
2        2030.0000
3           0.0729
4         440.0000
...            ...
58690     548.0000
58691   45800.0000
58692  535000.0000
58693   38100.0000
58694   28400.0000

[58695 rows x 5 columns]
list columns
['country_iso_code', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58695 entries, 0 to 58694
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58695 non-null  string
 1   data_provider     58695 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58695 non-null  string
 4   validity_date     58695 non-null  Int32
 5   attribute         58695 non-null  string
 6   value             58695 non-null  Float64
 7   value_units       58695 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [12]:
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
with engine.connect() as conn:
    qres = conn.execute(text(sql))


'''
columnschema = osc.create_table_schema_pairs(df,typemap={'datetime64[ns]':'timestamp(6)'}) 
print(columnschema)


tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = ARRAY['country_iso_code']
)"""

print(tabledef)


#print(qres.fetchall())

table_create = engine.execute(tabledef)
#print(table_create.fetchall())
'''

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_primap_emissions_without_LULUCF

'\ncolumnschema = osc.create_table_schema_pairs(df,typemap={\'datetime64[ns]\':\'timestamp(6)\'}) \nprint(columnschema)\n\n\ntabledef = f"""\ncreate table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(\n{columnschema}\n) with (\n    format = \'ORC\',\n    partitioning = ARRAY[\'country_iso_code\']\n)"""\n\nprint(tabledef)\n\n\n#print(qres.fetchall())\n\ntable_create = engine.execute(tabledef)\n#print(table_create.fetchall())\n'

In [13]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58695 entries, 0 to 58694
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58695 non-null  string
 1   data_provider     58695 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58695 non-null  string
 4   validity_date     58695 non-null  Int32
 5   attribute         58695 non-null  string
 6   value             58695 non-null  Float64
 7   value_units       58695 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [14]:
'''
osc.fast_pandas_ingest_via_hive(
    df,
    engine,
    ingest_catalog, ingest_schema, ingest_table,
    hive_bucket, hive_catalog, hive_schema,
    partition_columns = ['country_iso_code'],
    overwrite = True,
    verbose = True
)
'''

"\nosc.fast_pandas_ingest_via_hive(\n    df,\n    engine,\n    ingest_catalog, ingest_schema, ingest_table,\n    hive_bucket, hive_catalog, hive_schema,\n    partition_columns = ['country_iso_code'],\n    overwrite = True,\n    verbose = True\n)\n"

In [15]:

df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_primap_emissions_without_LULUCF"
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ABW', 1750, 'KYOTOGHG (AR6GWP100)', 0.376, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'AFG', 1750, 'KYOTOGHG (AR6GWP100)', 2530.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'AGO', 1750, 'KYOTOGHG (AR6GWP100)', 2030.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LBY', 1796, 'KYOTOGHG (AR6GWP100)', 287.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LCA', 1796, 'KYOTOGHG (AR6GWP100)', 1.4, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LDC', 1796, 'KYOTOGHG (AR6GWP100)', 85900.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LIE', 1796, 'KYOTOGHG (AR6GWP100)', 7.24, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ALB', 1843, 'KYOTOGHG (AR6GWP100)', 618.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'AND', 1843, 'KYOTOGHG (AR6GWP100)', 15.7, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ANNEXI', 1843, 'KYOTOGHG (AR6GWP100)', 680000.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ANT', 1843, 'KYOTOGHG (AR6GWP100)', 51.6, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LSO', 1889, 'KYOTOGHG (AR6GWP100)', 159.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LTU', 1889, 'KYOTOGHG (AR6GWP100)', 4620.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LUX', 1889, 'KYOTOGHG (AR6GWP100)', 312.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'LVA', 1889, 'KYOTOGHG (AR6GWP100)', 3170.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ARE', 1936, 'KYOTOGHG (AR6GWP100)', 253.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ARG', 1936, 'KYOTOGHG (AR6GWP100)', 77000.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ARM', 1936, 'KYOTOGHG (AR6GWP100)', 1310.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ATA', 1936, 'KYOTOGHG (AR6GWP100)', 1.1, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'MAR', 1982, 'KYOTOGHG (AR6GWP100)', 30700.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 8695 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'MCO', 1982, 'KYOTOGHG (AR6GWP100)', 115.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'MDA', 1982, 'KYOTOGHG (AR6GWP100)', 43900.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'MDG', 1982, 'KYOTOGHG (AR6GWP100)', 23500.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_15-Oct-2023.csv', 'PRIMAP', NULL, 'ZWE', 2022, 'KYOTOGHG (AR6GWP100)', 28400.0, 'CO2 * gigagram / a')
batch insert result: [(8695,)]

<ipython-input-15-febb7af06ac8>:1: UserWarning: The provided table name 'sf_primap_emissions_without_LULUCF' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(ingest_table,

In [16]:
import pandas as pd
sql=f"""
select *  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021 and country_iso_code='TWN'"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_name,country_iso_code,validity_date,attribute,value,value_units
0,Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_1...,PRIMAP,None,TWN,2021,KYOTOGHG (AR6GWP100),304000.0,CO2 * gigagram / a

In [17]:
sql=f"""
select distinct country_iso_code  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021"""
pd.read_sql(sql, engine)

    country_iso_code
0                BEL
1                BHS
2                BIH
3                BWA
4                CHL
..               ...
210              SAU
211              TJK
212              TUN
213              UGA
214              UZB

[215 rows x 1 columns]