### The PRIMAP-hist national historical emissions time series (1750-2019) v2.3.1

<font size="3">https://zenodo.org/record/5494497#.YujsrTfP2Un</font>

Load Environment Variables

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [2]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_primap_emissions_with_LULUCF'

In [3]:
# Bucket must be configured with credentials for the Hive ingestion bucket
#hive_bucket = osc.attach_s3_bucket('S3_OSCCL2')
hive_bucket = osc.attach_s3_bucket('S3_HIVE')
hive_catalog = 'osc_datacommons_hive_ingest'
hive_schema = 'ingest'

In [4]:
import trino
from sqlalchemy.engine import create_engine
from sqlalchemy import text

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
#connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_LANDING")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""create schema if not exists {ingest_catalog}.{ingest_schema}"""
with engine.connect() as conn:
    qres = conn.execute(text(sql))

In [7]:
# Show available schemas to ensure trino connection is set correctly
with engine.connect() as conn:
    schema_read = conn.execute(text(f'show schemas in {ingest_catalog}'))
    for row in schema_read.fetchall():
        print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('rmi',)
('sandbox',)
('wri_gppd',)

In [8]:
# Specify the full path of the file you want to upload
file_path = '/opt/app-root/src/PCAF-sovereign-footprint/notebooks/Guetschow_et_al_2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv'

# Specify the key (i.e., the name of the file in the bucket)
s3_key = 'PCAF-sovereign-footprint/PRIMAP/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv'

# Upload the file to S3
source_bucket.upload_file(file_path, s3_key)

In [9]:
# Get the current working directory
current_directory = os.getcwd()

# Print the current working directory
print("Current working directory:", current_directory)

Current working directory: /opt/app-root/src/PCAF-sovereign-footprint/notebooks

In [10]:
import pandas as pd
import csv
import ParseXLS as parser


primap_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/PRIMAP/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv')
primap_file.download_file(f'/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv')
#df = parser.process('OECD_IMGR_FCO2.ini','OECD.csv') 

df = parser.process('PRIMAP_with_LULUCF.ini','PRIMAP.csv') 
df=df.astype({'validity_date': 'int32'})
df=df.astype({'country_iso_code': 'string'})
df=df.astype({'attribute': 'string'})
df= df.convert_dtypes()
df.info(verbose=True)

#df['validity_date_dt'] = pd.to_datetime(df.validity_date, format='%Y')
#df = df.convert_dtypes()
#df.validity_date_dt = df.validity_date_dt.astype('datetime64[ns]')

PRIMAP_with_LULUCF.ini
file_list:
['/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv']
/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv
2
csv
/tmp/Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-202
<configparser.ConfigParser object at 0x7f2e483dd280>
                          source scenario (PRIMAP-hist) provenance  \
0      PRIMAP-hist_v2.5_final_nr                 HISTCR   measured
1      PRIMAP-hist_v2.5_final_nr                 HISTCR   measured
2      PRIMAP-hist_v2.5_final_nr                 HISTCR   measured
3      PRIMAP-hist_v2.5_final_nr                 HISTCR   measured
4      PRIMAP-hist_v2.5_final_nr                 HISTCR   measured
...                          ...                    ...        ...
56433  PRIMAP-hist_v2.5_final_nr                 HISTTP   measured
56434  PRIMAP-hist_v2.5_final_nr                 HISTTP   measured
56435  PRIMAP-hist_v2.5_final_nr                 HISTTP   measured
56436  PRIMAP-hist_v2.5_final_nr                 HISTTP   measured
56437  PRIMAP-hist_v2.5_final_nr                 HISTTP   measured

      area (ISO3)            entity                unit  \
0             ABW               CH4  CH4 * gigagram / a
1             ABW               CH4  CH4 * gigagram / a
2             ABW               CH4  CH4 * gigagram / a
3             ABW               CH4  CH4 * gigagram / a
4             ABW               CH4  CH4 * gigagram / a
...           ...               ...                 ...
56433         ZWE  PFCS (AR4GWP100)  CO2 * gigagram / a
56434         ZWE  PFCS (AR4GWP100)  CO2 * gigagram / a
56435         ZWE               SF6  SF6 * gigagram / a
56436         ZWE               SF6  SF6 * gigagram / a
56437         ZWE               SF6  SF6 * gigagram / a

      category (IPCC2006_PRIMAP)      1750      1751      1752  ...      2013  \
0                              0  0.012971  0.013068  0.013164  ...  2.166524
1                              1  0.005636  0.005672  0.005708  ...  1.156524
2                            1.A  0.005636  0.005672  0.005708  ...  0.139882
3                            1.B  0.000000  0.000000  0.000000  ...  1.016642
4                          1.B.1  0.000000  0.000000  0.000000  ...  0.059231
...                          ...       ...       ...       ...  ...       ...
56433                          2  0.000000  0.000000  0.000000  ...  0.000000
56434                     M.0.EL  0.000000  0.000000  0.000000  ...  0.000000
56435                          0  0.000000  0.000000  0.000000  ...  0.000000
56436                          2  0.000000  0.000000  0.000000  ...  0.000000
56437                     M.0.EL  0.000000  0.000000  0.000000  ...  0.000000

           2014      2015      2016      2017      2018      2019      2020  \
0      2.138020  2.111520  2.069980  2.043932  2.017481  1.977317  1.935500
1      1.128020  1.091520  1.049980  1.013932  0.987481  0.957317  0.915500
2      0.140282  0.135170  0.130320  0.125945  0.131889  0.131870  0.120299
3      0.987738  0.956351  0.919660  0.887987  0.855592  0.825447  0.795201
4      0.063548  0.065383  0.061914  0.063464  0.064291  0.067368  0.070345
...         ...       ...       ...       ...       ...       ...       ...
56433  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
56434  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
56435  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
56436  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
56437  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

           2021      2022
0      1.918773  1.905947
1      0.892681  0.877942
2      0.130702  0.135797
3      0.761979  0.742145
4      0.070345  0.083733
...         ...       ...
56433  0.000000  0.000000
56434  0.000000  0.000000
56435  0.000000  0.000000
56436  0.000000  0.000000
56437  0.000000  0.000000

[56438 rows x 280 columns]
['']
eval_components
['entity']
['source', 'scenario (PRIMAP-hist)', 'provenance', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
entity
eval_components
['unit']
['source', 'scenario (PRIMAP-hist)', 'provenance', 'area (ISO3)', 'entity', 'unit', 'category (IPCC2006_PRIMAP)', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1757', '1758', '1759', '1760', '1761', '1762', '1763', '1764', '1765', '1766', '1767', '1768', '1769', '1770', '1771', '1772', '1773', '1774', '1775', '1776', '1777', '1778', '1779', '1780', '1781', '1782', '1783', '1784', '1785', '1786', '1787', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798', '1799', '1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810', '1811', '1812', '1813', '1814', '1815', '1816', '1817', '1818', '1819', '1820', '1821', '1822', '1823', '1824', '1825', '1826', '1827', '1828', '1829', '1830', '1831', '1832', '1833', '1834', '1835', '1836', '1837', '1838', '1839', '1840', '1841', '1842', '1843', '1844', '1845', '1846', '1847', '1848', '1849', '1850', '1851', '1852', '1853', '1854', '1855', '1856', '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864', '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872', '1873', '1874', '1875', '1876', '1877', '1878', '1879', '1880', '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888', '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896', '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', 'attribute']
unit
Index(['column names original:source',
       'column names original:scenario (PRIMAP-hist)',
       'column names original:provenance', 'column names original:area (ISO3)',
       'column names original:entity', 'column names original:unit',
       'column names original:category (IPCC2006_PRIMAP)',
       'column names original:1750', 'column names original:1751',
       'column names original:1752',
       ...
       'column names original:2015', 'column names original:2016',
       'column names original:2017', 'column names original:2018',
       'column names original:2019', 'column names original:2020',
       'column names original:2021', 'column names original:2022',
       'column names original:attribute', 'column names original:units'],
      dtype='object', length=282)
Index(['column names after rename:source',
       'column names after rename:scenario',
       'column names after rename:provenance',
       'column names after rename:country_iso_code',
       'column names after rename:entity', 'column names after rename:unit',
       'column names after rename:category', 'column names after rename:1750',
       'column names after rename:1751', 'column names after rename:1752',
       ...
       'column names after rename:2015', 'column names after rename:2016',
       'column names after rename:2017', 'column names after rename:2018',
       'column names after rename:2019', 'column names after rename:2020',
       'column names after rename:2021', 'column names after rename:2022',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object', length=282)
eval_condition:df_collection[0][(df_collection[0].category=='M.LULUCF')]
eval_condition:df_collection[0][(df_collection[0].scenario=='HISTCR')]
eval_condition:df_collection[0][(df_collection[0].entity=='KYOTOGHG (AR6GWP100)')]
213
213
before melt
      country_iso_code          1750       1751       1752       1753  \
51                 ABW  0.000000e+00   0.000000   0.000000   0.000000
173                AFG  2.775558e-15   0.265637   0.531275   0.796912
294                AGO -2.140510e-13  -7.019342 -14.038684 -21.058026
368                AIA  0.000000e+00   0.000000   0.000000   0.000000
484                ALB  2.593481e-13  21.099219  42.198437  63.297656
...                ...           ...        ...        ...        ...
27584              WSM  0.000000e+00   0.000000   0.000000   0.000000
27724              YEM  0.000000e+00   0.000000   0.000000   0.000000
27855              ZAF -2.908784e-14  -1.984371  -3.968741  -5.953112
28001              ZMB  1.850073e-13   6.848572  13.697144  20.545717
28144              ZWE  2.731149e-14   1.187258   2.374515   3.561772

            1754        1755        1756        1757        1758  ...  \
51      0.000000    0.000000    0.000000    0.000000    0.000000  ...
173     1.062550    1.328187    1.593825    1.859462    2.125100  ...
294   -28.077367  -35.096709  -42.116051  -49.135393  -56.154735  ...
368     0.000000    0.000000    0.000000    0.000000    0.000000  ...
484    84.396875  105.496090  126.595310  147.694530  168.793750  ...
...          ...         ...         ...         ...         ...  ...
27584   0.000000    0.000000    0.000000    0.000000    0.000000  ...
27724   0.000000    0.000000    0.000000    0.000000    0.000000  ...
27855  -7.937483   -9.921853  -11.906224  -13.890594  -15.874965  ...
28001  27.394289   34.242861   41.091433   47.940006   54.788578  ...
28144   4.749030    5.936287    7.123545    8.310802    9.498060  ...

               2015          2016          2017          2018          2019  \
51          0.00000       0.00000       0.00000       0.00000       0.00000
173       443.67009     443.67009     443.67009     443.67009     443.67009
294    131030.71000  131030.71000  131030.71000  131030.71000  131030.71000
368         0.00000       0.00000       0.00000       0.00000       0.00000
484      1385.93490    1430.40310    1430.40310    1430.40310    1430.40310
...             ...           ...           ...           ...           ...
27584    -864.27000    -864.27000    -864.27000    -864.27000    -864.27000
27724   -1747.23300   -1747.23300   -1747.23300   -1747.23300   -1747.23300
27855  -28471.17000  -29891.03500  -31310.90000  -28612.45100  -28612.45100
28001  -33580.60000  -33659.25700  -34171.40000  -34171.40000  -34171.40000
28144   12371.07300   12848.44100   13325.81000   12609.75700   12609.75700

               2020          2021          2022             attribute  \
51          0.00000       0.00000       0.00000  KYOTOGHG (AR6GWP100)
173       443.67009     443.67009     443.67009  KYOTOGHG (AR6GWP100)
294    131030.71000  131030.71000  131030.71000  KYOTOGHG (AR6GWP100)
368         0.00000       0.00000       0.00000  KYOTOGHG (AR6GWP100)
484      1430.40310    1430.40310    1430.40310  KYOTOGHG (AR6GWP100)
...             ...           ...           ...                   ...
27584    -864.27000    -864.27000    -864.27000  KYOTOGHG (AR6GWP100)
27724   -1747.23300   -1747.23300   -1747.23300  KYOTOGHG (AR6GWP100)
27855  -28612.45100  -28612.45100  -28612.45100  KYOTOGHG (AR6GWP100)
28001  -34171.40000  -34171.40000  -34171.40000  KYOTOGHG (AR6GWP100)
28144   12609.75700   12609.75700   12609.75700  KYOTOGHG (AR6GWP100)

                    units
51     CO2 * gigagram / a
173    CO2 * gigagram / a
294    CO2 * gigagram / a
368    CO2 * gigagram / a
484    CO2 * gigagram / a
...                   ...
27584  CO2 * gigagram / a
27724  CO2 * gigagram / a
27855  CO2 * gigagram / a
28001  CO2 * gigagram / a
28144  CO2 * gigagram / a

[213 rows x 276 columns]
after melt
      country_iso_code             attribute               units  year  \
0                  ABW  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
1                  AFG  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
2                  AGO  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
3                  AIA  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
4                  ALB  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  1750
...                ...                   ...                 ...   ...
58144              WSM  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58145              YEM  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58146              ZAF  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58147              ZMB  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022
58148              ZWE  KYOTOGHG (AR6GWP100)  CO2 * gigagram / a  2022

              value
0      0.000000e+00
1      2.775558e-15
2     -2.140510e-13
3      0.000000e+00
4      2.593481e-13
...             ...
58144 -8.642700e+02
58145 -1.747233e+03
58146 -2.861245e+04
58147 -3.417140e+04
58148  1.260976e+04

[58149 rows x 5 columns]
list columns
['country_iso_code', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58149 entries, 0 to 58148
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58149 non-null  string
 1   data_provider     58149 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58149 non-null  string
 4   validity_date     58149 non-null  Int32
 5   attribute         58149 non-null  string
 6   value             58149 non-null  Float64
 7   value_units       58149 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [11]:
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
with engine.connect() as conn:
    qres = conn.execute(text(sql))


'''
columnschema = osc.create_table_schema_pairs(df,typemap={'datetime64[ns]':'timestamp(6)'}) 
print(columnschema)


tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = ARRAY['country_iso_code']
)"""

print(tabledef)


#print(qres.fetchall())

table_create = engine.execute(tabledef)
#print(table_create.fetchall())
'''

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_primap_emissions_with_LULUCF

'\ncolumnschema = osc.create_table_schema_pairs(df,typemap={\'datetime64[ns]\':\'timestamp(6)\'}) \nprint(columnschema)\n\n\ntabledef = f"""\ncreate table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(\n{columnschema}\n) with (\n    format = \'ORC\',\n    partitioning = ARRAY[\'country_iso_code\']\n)"""\n\nprint(tabledef)\n\n\n#print(qres.fetchall())\n\ntable_create = engine.execute(tabledef)\n#print(table_create.fetchall())\n'

In [12]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58149 entries, 0 to 58148
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        58149 non-null  string
 1   data_provider     58149 non-null  string
 2   country_name      0 non-null      Int64
 3   country_iso_code  58149 non-null  string
 4   validity_date     58149 non-null  Int32
 5   attribute         58149 non-null  string
 6   value             58149 non-null  Float64
 7   value_units       58149 non-null  string
dtypes: Float64(1), Int32(1), Int64(1), string(5)
memory usage: 3.5 MB

In [13]:
'''
osc.fast_pandas_ingest_via_hive(
    df,
    engine,
    ingest_catalog, ingest_schema, ingest_table,
    hive_bucket, hive_catalog, hive_schema,
    partition_columns = ['country_iso_code'],
    overwrite = True,
    verbose = True
)
'''

"\nosc.fast_pandas_ingest_via_hive(\n    df,\n    engine,\n    ingest_catalog, ingest_schema, ingest_table,\n    hive_bucket, hive_catalog, hive_schema,\n    partition_columns = ['country_iso_code'],\n    overwrite = True,\n    verbose = True\n)\n"

In [14]:

df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_primap_emissions_with_LULUCF"
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'ABW', 1750, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'AFG', 1750, 'KYOTOGHG (AR6GWP100)', 2.7755576e-15, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'AGO', 1750, 'KYOTOGHG (AR6GWP100)', -2.14051e-13, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'UZB', 1796, 'KYOTOGHG (AR6GWP100)', 25.220661, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'VAT', 1796, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'VCT', 1796, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'VEN', 1796, 'KYOTOGHG (AR6GWP100)', 2043.006, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'TTO', 1843, 'KYOTOGHG (AR6GWP100)', -25.179093, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'TUN', 1843, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'TUR', 1843, 'KYOTOGHG (AR6GWP100)', 3309.0838, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'TUV', 1843, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'SYC', 1890, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'SYR', 1890, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'TCA', 1890, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'TCD', 1890, 'KYOTOGHG (AR6GWP100)', 1.2053637, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'SLV', 1937, 'KYOTOGHG (AR6GWP100)', 2239.6233, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 10000 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'SMR', 1937, 'KYOTOGHG (AR6GWP100)', 6.8949586, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'SOM', 1937, 'KYOTOGHG (AR6GWP100)', 1579.3356, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'SRB', 1937, 'KYOTOGHG (AR6GWP100)', 13080.715, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'QAT', 1984, 'KYOTOGHG (AR6GWP100)', 0.0, 'CO2 * gigagram / a')
batch insert result: [(10000,)]
inserting 8149 records
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'ROU', 1984, 'KYOTOGHG (AR6GWP100)', 2325.919, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'RUS', 1984, 'KYOTOGHG (AR6GWP100)', 58539.379, 'CO2 * gigagram / a')
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'RWA', 1984, 'KYOTOGHG (AR6GWP100)', 2205.5571, 'CO2 * gigagram / a')
  ...
  ('Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_no_rounding_15-Oct-2023.csv', 'PRIMAP', NULL, 'ZWE', 2022, 'KYOTOGHG (AR6GWP100)', 12609.757, 'CO2 * gigagram / a')
batch insert result: [(8149,)]

<ipython-input-14-febb7af06ac8>:1: UserWarning: The provided table name 'sf_primap_emissions_with_LULUCF' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(ingest_table,

In [15]:
import pandas as pd
sql=f"""
select *  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021 and country_iso_code='TWN'"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_name,country_iso_code,validity_date,attribute,value,value_units
0,Guetschow-et-al-2023b-PRIMAP-hist_v2.5_final_n...,PRIMAP,None,TWN,2021,KYOTOGHG (AR6GWP100),-21941.75,CO2 * gigagram / a

In [16]:
sql=f"""
select distinct country_iso_code  from {ingest_catalog}.{ingest_schema}.{ingest_table} where validity_date=2021"""
pd.read_sql(sql, engine)

    country_iso_code
0                AFG
1                AGO
2                AIA
3              AOSIS
4                ARM
..               ...
208              TZA
209              VEN
210              WSM
211              YEM
212              ZWE

[213 rows x 1 columns]