<font size="5">Ingest WDI - "GDP per capita" data into Trino pipeline</font>

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib

Load Environment Variables

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_wdi_gdp'

In [4]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('default',)
('demo_dv',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('sandbox',)

Load GDP file (updated sporadically from https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD)

In [7]:
import pandas as pd
import ParseXLS as parser


## GDP
ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/WDI/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
ticker_file.download_file(f'/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')

df = parser.process('WDI_GDP.ini','WDI_GDP.csv') 

## GDP PPP

ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/WDI/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv')
ticker_file.download_file(f'/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv')

df2 = parser.process('WDI_GDP_PPP.ini','WDI_GDP_PPP.csv') 

# combine both dataframes

df =pd.concat([df,df2])

df=df.astype({'validity_date': 'int32'})
df= df.convert_dtypes()
df.info(verbose=True)
df= df[['rec_source','data_provider','country_iso_code','country_name','validity_date','attribute','value','value_units']].dropna(subset=['value'])
#df = df.convert_dtypes()
#print(df.info(verbose=True))
#df
#df

WDI_GDP.ini
file_list:
['/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv']
/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv
2
csv
/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_401930
<configparser.ConfigParser object at 0x7f5d4b4c7c70>
                    Country Name Country Code     Indicator Name  \
0                          Aruba          ABW  GDP (current US$)
1    Africa Eastern and Southern          AFE  GDP (current US$)
2                    Afghanistan          AFG  GDP (current US$)
3     Africa Western and Central          AFW  GDP (current US$)
4                         Angola          AGO  GDP (current US$)
..                           ...          ...                ...
261                       Kosovo          XKX  GDP (current US$)
262                  Yemen, Rep.          YEM  GDP (current US$)
263                 South Africa          ZAF  GDP (current US$)
264                       Zambia          ZMB  GDP (current US$)
265                     Zimbabwe          ZWE  GDP (current US$)

     Indicator Code          1960          1961          1962          1963  \
0    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1    NY.GDP.MKTP.CD  2.008272e+10  2.050945e+10  2.235043e+10  2.675866e+10
2    NY.GDP.MKTP.CD  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
3    NY.GDP.MKTP.CD  1.040428e+10  1.112805e+10  1.194335e+10  1.267652e+10
4    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
..              ...           ...           ...           ...           ...
261  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
262  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
263  NY.GDP.MKTP.CD  7.575397e+09  7.972997e+09  8.497997e+09  9.423396e+09
264  NY.GDP.MKTP.CD  7.130000e+08  6.962857e+08  6.931429e+08  7.187143e+08
265  NY.GDP.MKTP.CD  1.052990e+09  1.096647e+09  1.117602e+09  1.159512e+09

             1964          1965  ...          2013          2014  \
0             NaN           NaN  ...  2.727850e+09  2.790849e+09
1    2.446499e+10  2.787894e+10  ...  9.642424e+11  9.848071e+11
2    8.000000e+08  1.006667e+09  ...  2.014640e+10  2.049713e+10
3    1.383858e+10  1.486247e+10  ...  8.207876e+11  8.649666e+11
4             NaN           NaN  ...  1.367099e+11  1.457122e+11
..            ...           ...  ...           ...           ...
261           NaN           NaN  ...  6.735731e+09  7.074658e+09
262           NaN           NaN  ...  4.041524e+10  4.322859e+10
263  1.037400e+10  1.133440e+10  ...  4.008860e+11  3.811989e+11
264  8.394286e+08  1.082857e+09  ...  2.803724e+10  2.714102e+10
265  1.217138e+09  1.311436e+09  ...  1.909102e+10  1.949552e+10

             2015          2016          2017          2018          2019  \
0    2.962905e+09  2.983637e+09  3.092430e+09  3.202189e+09           NaN
1    9.199300e+11  8.733549e+11  9.853557e+11  1.012853e+12  1.009910e+12
2    1.913421e+10  1.811656e+10  1.875347e+10  1.805323e+10  1.879945e+10
3    7.607297e+11  6.905430e+11  6.837416e+11  7.416916e+11  7.945725e+11
4    1.161936e+11  1.011239e+11  1.221238e+11  1.013532e+11  8.941719e+10
..            ...           ...           ...           ...           ...
261  6.295820e+09  6.682833e+09  7.180813e+09  7.878509e+09  7.899879e+09
262  4.244510e+10  3.131737e+10  2.684013e+10  2.160614e+10           NaN
263  3.467098e+11  3.235855e+11  3.814488e+11  4.048421e+11  3.879346e+11
264  2.125122e+10  2.095841e+10  2.587360e+10  2.631159e+10  2.330867e+10
265  1.996312e+10  2.054868e+10  1.758489e+10  1.811554e+10  1.928429e+10

             2020  2021  Unnamed: 66
0             NaN   NaN          NaN
1    9.207923e+11   NaN          NaN
2    2.011614e+10   NaN          NaN
3    7.845876e+11   NaN          NaN
4    5.837598e+10   NaN          NaN
..            ...   ...          ...
261  7.716925e+09   NaN          NaN
262           NaN   NaN          NaN
263  3.354421e+11   NaN          NaN
264  1.811063e+10   NaN          NaN
265  1.805117e+10   NaN          NaN

[266 rows x 67 columns]
['0', '4']
eval_components
['Indicator Name']
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Indicator Name
eval_components
['USD']
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'attribute']
USD
Index(['column names original:Country Name',
       'column names original:Country Code',
       'column names original:Indicator Name',
       'column names original:Indicator Code', 'column names original:1960',
       'column names original:1961', 'column names original:1962',
       'column names original:1963', 'column names original:1964',
       'column names original:1965', 'column names original:1966',
       'column names original:1967', 'column names original:1968',
       'column names original:1969', 'column names original:1970',
       'column names original:1971', 'column names original:1972',
       'column names original:1973', 'column names original:1974',
       'column names original:1975', 'column names original:1976',
       'column names original:1977', 'column names original:1978',
       'column names original:1979', 'column names original:1980',
       'column names original:1981', 'column names original:1982',
       'column names original:1983', 'column names original:1984',
       'column names original:1985', 'column names original:1986',
       'column names original:1987', 'column names original:1988',
       'column names original:1989', 'column names original:1990',
       'column names original:1991', 'column names original:1992',
       'column names original:1993', 'column names original:1994',
       'column names original:1995', 'column names original:1996',
       'column names original:1997', 'column names original:1998',
       'column names original:1999', 'column names original:2000',
       'column names original:2001', 'column names original:2002',
       'column names original:2003', 'column names original:2004',
       'column names original:2005', 'column names original:2006',
       'column names original:2007', 'column names original:2008',
       'column names original:2009', 'column names original:2010',
       'column names original:2011', 'column names original:2012',
       'column names original:2013', 'column names original:2014',
       'column names original:2015', 'column names original:2016',
       'column names original:2017', 'column names original:2018',
       'column names original:2019', 'column names original:2020',
       'column names original:2021', 'column names original:attribute',
       'column names original:units'],
      dtype='object')
Index(['column names after rename:country_name',
       'column names after rename:country_iso_code',
       'column names after rename:Indicator Name',
       'column names after rename:Indicator Code',
       'column names after rename:1960', 'column names after rename:1961',
       'column names after rename:1962', 'column names after rename:1963',
       'column names after rename:1964', 'column names after rename:1965',
       'column names after rename:1966', 'column names after rename:1967',
       'column names after rename:1968', 'column names after rename:1969',
       'column names after rename:1970', 'column names after rename:1971',
       'column names after rename:1972', 'column names after rename:1973',
       'column names after rename:1974', 'column names after rename:1975',
       'column names after rename:1976', 'column names after rename:1977',
       'column names after rename:1978', 'column names after rename:1979',
       'column names after rename:1980', 'column names after rename:1981',
       'column names after rename:1982', 'column names after rename:1983',
       'column names after rename:1984', 'column names after rename:1985',
       'column names after rename:1986', 'column names after rename:1987',
       'column names after rename:1988', 'column names after rename:1989',
       'column names after rename:1990', 'column names after rename:1991',
       'column names after rename:1992', 'column names after rename:1993',
       'column names after rename:1994', 'column names after rename:1995',
       'column names after rename:1996', 'column names after rename:1997',
       'column names after rename:1998', 'column names after rename:1999',
       'column names after rename:2000', 'column names after rename:2001',
       'column names after rename:2002', 'column names after rename:2003',
       'column names after rename:2004', 'column names after rename:2005',
       'column names after rename:2006', 'column names after rename:2007',
       'column names after rename:2008', 'column names after rename:2009',
       'column names after rename:2010', 'column names after rename:2011',
       'column names after rename:2012', 'column names after rename:2013',
       'column names after rename:2014', 'column names after rename:2015',
       'column names after rename:2016', 'column names after rename:2017',
       'column names after rename:2018', 'column names after rename:2019',
       'column names after rename:2020', 'column names after rename:2021',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object')
266
266
before melt
                    country_name country_iso_code          1960          1961  \
0                          Aruba              ABW           NaN           NaN
1    Africa Eastern and Southern              AFE  2.008272e+10  2.050945e+10
2                    Afghanistan              AFG  5.377778e+08  5.488889e+08
3     Africa Western and Central              AFW  1.040428e+10  1.112805e+10
4                         Angola              AGO           NaN           NaN
..                           ...              ...           ...           ...
261                       Kosovo              XKX           NaN           NaN
262                  Yemen, Rep.              YEM           NaN           NaN
263                 South Africa              ZAF  7.575397e+09  7.972997e+09
264                       Zambia              ZMB  7.130000e+08  6.962857e+08
265                     Zimbabwe              ZWE  1.052990e+09  1.096647e+09

             1962          1963          1964          1965          1966  \
0             NaN           NaN           NaN           NaN           NaN
1    2.235043e+10  2.675866e+10  2.446499e+10  2.787894e+10  3.031384e+10
2    5.466667e+08  7.511112e+08  8.000000e+08  1.006667e+09  1.400000e+09
3    1.194335e+10  1.267652e+10  1.383858e+10  1.486247e+10  1.583285e+10
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
261           NaN           NaN           NaN           NaN           NaN
262           NaN           NaN           NaN           NaN           NaN
263  8.497997e+09  9.423396e+09  1.037400e+10  1.133440e+10  1.235500e+10
264  6.931429e+08  7.187143e+08  8.394286e+08  1.082857e+09  1.264286e+09
265  1.117602e+09  1.159512e+09  1.217138e+09  1.311436e+09  1.281750e+09

             1967  ...          2014          2015          2016  \
0             NaN  ...  2.790849e+09  2.962905e+09  2.983637e+09
1    3.137555e+10  ...  9.848071e+11  9.199300e+11  8.733549e+11
2    1.673333e+09  ...  2.049713e+10  1.913421e+10  1.811656e+10
3    1.442643e+10  ...  8.649666e+11  7.607297e+11  6.905430e+11
4             NaN  ...  1.457122e+11  1.161936e+11  1.011239e+11
..            ...  ...           ...           ...           ...
261           NaN  ...  7.074658e+09  6.295820e+09  6.682833e+09
262           NaN  ...  4.322859e+10  4.244510e+10  3.131737e+10
263  1.377739e+10  ...  3.811989e+11  3.467098e+11  3.235855e+11
264  1.368000e+09  ...  2.714102e+10  2.125122e+10  2.095841e+10
265  1.397002e+09  ...  1.949552e+10  1.996312e+10  2.054868e+10

             2017          2018          2019          2020  2021  \
0    3.092430e+09  3.202189e+09           NaN           NaN   NaN
1    9.853557e+11  1.012853e+12  1.009910e+12  9.207923e+11   NaN
2    1.875347e+10  1.805323e+10  1.879945e+10  2.011614e+10   NaN
3    6.837416e+11  7.416916e+11  7.945725e+11  7.845876e+11   NaN
4    1.221238e+11  1.013532e+11  8.941719e+10  5.837598e+10   NaN
..            ...           ...           ...           ...   ...
261  7.180813e+09  7.878509e+09  7.899879e+09  7.716925e+09   NaN
262  2.684013e+10  2.160614e+10           NaN           NaN   NaN
263  3.814488e+11  4.048421e+11  3.879346e+11  3.354421e+11   NaN
264  2.587360e+10  2.631159e+10  2.330867e+10  1.811063e+10   NaN
265  1.758489e+10  1.811554e+10  1.928429e+10  1.805117e+10   NaN

             attribute  units
0    GDP (current US$)    USD
1    GDP (current US$)    USD
2    GDP (current US$)    USD
3    GDP (current US$)    USD
4    GDP (current US$)    USD
..                 ...    ...
261  GDP (current US$)    USD
262  GDP (current US$)    USD
263  GDP (current US$)    USD
264  GDP (current US$)    USD
265  GDP (current US$)    USD

[266 rows x 66 columns]
after melt
      country_iso_code                 country_name          attribute units  \
0                  ABW                        Aruba  GDP (current US$)   USD
1                  AFE  Africa Eastern and Southern  GDP (current US$)   USD
2                  AFG                  Afghanistan  GDP (current US$)   USD
3                  AFW   Africa Western and Central  GDP (current US$)   USD
4                  AGO                       Angola  GDP (current US$)   USD
...                ...                          ...                ...   ...
16487              XKX                       Kosovo  GDP (current US$)   USD
16488              YEM                  Yemen, Rep.  GDP (current US$)   USD
16489              ZAF                 South Africa  GDP (current US$)   USD
16490              ZMB                       Zambia  GDP (current US$)   USD
16491              ZWE                     Zimbabwe  GDP (current US$)   USD

       year         value
0      1960           NaN
1      1960  2.008272e+10
2      1960  5.377778e+08
3      1960  1.040428e+10
4      1960           NaN
...     ...           ...
16487  2021           NaN
16488  2021           NaN
16489  2021           NaN
16490  2021           NaN
16491  2021           NaN

[16492 rows x 6 columns]
list columns
['country_iso_code', 'country_name', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'country_name', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
WDI_GDP_PPP.ini
file_list:
['/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv']
/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv
2
csv
/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v
<configparser.ConfigParser object at 0x7f5d4a009700>
                    Country Name Country Code  \
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
260                       Kosovo          XKX
261                  Yemen, Rep.          YEM
262                 South Africa          ZAF
263                       Zambia          ZMB
264                     Zimbabwe          ZWE

                         Indicator Name     Indicator Code  1960  1961  1962  \
0    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
1    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
2    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
3    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
4    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
..                                  ...                ...   ...   ...   ...
260  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
261  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
262  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
263  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
264  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN

     1963  1964  1965  ...          2012          2013          2014  \
0     NaN   NaN   NaN  ...  3.442856e+09  3.799467e+09  3.816822e+09
1     NaN   NaN   NaN  ...  1.772679e+12  1.893539e+12  2.025402e+12
2     NaN   NaN   NaN  ...  5.966700e+10  6.503984e+10  6.905834e+10
3     NaN   NaN   NaN  ...  1.396677e+12  1.526772e+12  1.645122e+12
4     NaN   NaN   NaN  ...  1.861242e+11  1.998656e+11  2.203648e+11
..    ...   ...   ...  ...           ...           ...           ...
260   NaN   NaN   NaN  ...  1.452770e+10  1.524200e+10  1.567947e+10
261   NaN   NaN   NaN  ...  8.544086e+10  9.275561e+10           NaN
262   NaN   NaN   NaN  ...  6.982210e+11  7.305176e+11  7.419156e+11
263   NaN   NaN   NaN  ...  4.950870e+10  5.341984e+10  5.450659e+10
264   NaN   NaN   NaN  ...  3.116064e+10  3.418729e+10  3.549468e+10

             2015          2016          2017          2018          2019  \
0    3.893071e+09  3.941354e+09  4.098240e+09           NaN           NaN
1    2.098286e+12  2.212573e+12  2.319151e+12  2.438518e+12  2.536280e+12
2    7.183170e+10  7.009796e+10  7.471192e+10  7.741557e+10  8.187980e+10
3    1.662297e+12  1.678674e+12  1.744087e+12  1.841811e+12  1.937451e+12
4    2.046036e+11  2.048747e+11  2.179873e+11  2.187486e+11  2.212628e+11
..            ...           ...           ...           ...           ...
260  1.673239e+10  1.778924e+10  1.869121e+10  1.979201e+10  2.110361e+10
261           NaN           NaN           NaN           NaN           NaN
262  7.589010e+11  7.727687e+11  7.901706e+11  8.211793e+11  8.367836e+11
263  5.447260e+10  5.571221e+10  5.873519e+10  6.257197e+10  6.460693e+10
264  3.701644e+10  3.937571e+10  5.403704e+10  5.800391e+10  5.541185e+10

             2020  Unnamed: 65
0             NaN          NaN
1    2.495345e+12          NaN
2    8.091834e+10          NaN
3    1.946297e+12          NaN
4    2.118373e+11          NaN
..            ...          ...
260  2.021738e+10          NaN
261           NaN          NaN
262  7.923981e+11          NaN
263  6.356455e+10          NaN
264  5.257540e+10          NaN

[265 rows x 66 columns]
['0', '4']
eval_components
['Indicator Name']

In [8]:
#%run -i TransposeXLS.py --config WDI.ini --output=WDI.csv

In [9]:
import osc_ingest_trino as osc
columnschema = osc.create_table_schema_pairs(df)

In [10]:
tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
print(qres.fetchall())

create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_gdp(
    rec_source varchar,
    data_provider varchar,
    country_iso_code varchar,
    country_name varchar,
    validity_date integer,
    attribute varchar,
    value double,
    value_units varchar
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)

[(True,)]

In [11]:
# Delete the data for the related attribute 
sql=f"""
delete from {ingest_catalog}.{ingest_schema}.{ingest_table} 
"""
qres = engine.execute(sql)
print(qres.fetchall())

[(20064,)]

In [12]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
pd.read_sql(sql, engine)

Empty DataFrame
Columns: [rec_source, data_provider, country_iso_code, country_name, validity_date, attribute, value, value_units]
Index: []

In [13]:
print(ingest_catalog)
#df=df.drop(df[df.country_name=="cote d'ivoire"].index)
df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

osc_datacommons_dev
constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_wdi_gdp"
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'AFE', 'Africa Eastern and Southern', 1960, 'GDP (current US$)', 20082715853.6891, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'AFG', 'Afghanistan', 1960, 'GDP (current US$)', 537777811.111111, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'AFW', 'Africa Western and Central', 1960, 'GDP (current US$)', 10404280784.1531, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CIV', 'Cote d''Ivoire', 1967, 'GDP (current US$)', 1082922892.15202, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CMR', 'Cameroon', 1967, 'GDP (current US$)', 936175404.642829, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'COD', 'Congo, Dem. Rep.', 1967, 'GDP (current US$)', 3384063371.75792, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'COG', 'Congo, Rep.', 1967, 'GDP (current US$)', 237397428.336411, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'EGY', 'Egypt, Arab Rep.', 1973, 'GDP (current US$)', 10098534613.4411, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'EMU', 'Euro area', 1973, 'GDP (current US$)', 1142236590690.38, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'ESP', 'Spain', 1973, 'GDP (current US$)', 78639525985.1513, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'EUU', 'European Union', 1973, 'GDP (current US$)', 1282020509407.61, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'VCT', 'St. Vincent and the Grenadines', 1978, 'GDP (current US$)', 60844771.4814815, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'VEN', 'Venezuela, RB', 1978, 'GDP (current US$)', 39316279069.7674, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'WLD', 'World', 1978, 'GDP (current US$)', 8646230866561.9, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'ZAF', 'South Africa', 1978, 'GDP (current US$)', 46739449961.9073, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CUB', 'Cuba', 1984, 'GDP (current US$)', 24039383608.4235, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CYP', 'Cyprus', 1984, 'GDP (current US$)', 2278248953.14058, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'DEU', 'Germany', 1984, 'GDP (current US$)', 725111123634.115, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'DMA', 'Dominica', 1984, 'GDP (current US$)', 109157070.740741, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CAN', 'Canada', 1989, 'GDP (current US$)', 565055743243.243, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CHE', 'Switzerland', 1989, 'GDP (current US$)', 208280848462.62, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CHL', 'Chile', 1989, 'GDP (current US$)', 29885685142.9107, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'CHN', 'China', 1989, 'GDP (current US$)', 347768051311.741, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MNA', 'Middle East & North Africa (excluding high income)', 1993, 'GDP (current US$)', 297115312194.621, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MNG', 'Mongolia', 1993, 'GDP (current US$)', 768401634.154573, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MOZ', 'Mozambique', 1993, 'GDP (current US$)', 2729550591.08977, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MRT', 'Mauritania', 1993, 'GDP (current US$)', 1847350611.72458, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SVN', 'Slovenia', 1997, 'GDP (current US$)', 20763101740.6963, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SWE', 'Sweden', 1997, 'GDP (current US$)', 268146144677.73, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SWZ', 'Eswatini', 1997, 'GDP (current US$)', 1716699913.19444, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SYC', 'Seychelles', 1997, 'GDP (current US$)', 562958836.519905, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'TUV', 'Tuvalu', 2001, 'GDP (current US$)', 13196544.946726, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'TZA', 'Tanzania', 2001, 'GDP (current US$)', 13581644245.7352, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'UGA', 'Uganda', 2001, 'GDP (current US$)', 5840503868.57246, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'UKR', 'Ukraine', 2001, 'GDP (current US$)', 39309580983.2282, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'TJK', 'Tajikistan', 2005, 'GDP (current US$)', 2312327536.41789, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'TKM', 'Turkmenistan', 2005, 'GDP (current US$)', 8103901996.37024, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'TLA', 'Latin America & the Caribbean (IDA & IBRD countries)', 2005, 'GDP (current US$)', 2709273103155.42, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'TLS', 'Timor-Leste', 2005, 'GDP (current US$)', 462283600.0, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SSD', 'South Sudan', 2009, 'GDP (current US$)', 12231264525.0671, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SSF', 'Sub-Saharan Africa', 2009, 'GDP (current US$)', 1219298578810.25, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'SST', 'Small states', 2009, 'GDP (current US$)', 342525336119.249, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'STP', 'Sao Tome and Principe', 2009, 'GDP (current US$)', 187820464.571058, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'PER', 'Peru', 2013, 'GDP (current US$)', 201175469114.327, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'PHL', 'Philippines', 2013, 'GDP (current US$)', 283902728259.788, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'PLW', 'Palau', 2013, 'GDP (current US$)', 221117200.0, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'PNG', 'Papua New Guinea', 2013, 'GDP (current US$)', 21261432791.2675, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MKD', 'North Macedonia', 2017, 'GDP (current US$)', 11307058382.3435, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MLI', 'Mali', 2017, 'GDP (current US$)', 15365714371.3316, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MLT', 'Malta', 2017, 'GDP (current US$)', 13221298307.8894, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 'WDI', 'MMR', 'Myanmar', 2017, 'GDP (current US$)', 61449391917.1299, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'PER', 'Peru', 1990, 'GDP, PPP (current international $)', 74143770963.5561, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'PHL', 'Philippines', 1990, 'GDP, PPP (current international $)', 163983834284.866, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'PNG', 'Papua New Guinea', 1990, 'GDP, PPP (current international $)', 6639095986.31893, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'POL', 'Poland', 1990, 'GDP, PPP (current international $)', 235596729851.94, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'IRL', 'Ireland', 1995, 'GDP, PPP (current international $)', 68330810592.2681, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'IRN', 'Iran, Islamic Rep.', 1995, 'GDP, PPP (current international $)', 538998362521.783, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'IRQ', 'Iraq', 1995, 'GDP, PPP (current international $)', 95785489865.231, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ISL', 'Iceland', 1995, 'GDP, PPP (current international $)', 6403700706.86113, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'TEA', 'East Asia & Pacific (IDA & IBRD countries)', 1999, 'GDP, PPP (current international $)', 5440184740703.24, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'TEC', 'Europe & Central Asia (IDA & IBRD countries)', 1999, 'GDP, PPP (current international $)', 2606761333643.38, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'TGO', 'Togo', 1999, 'GDP, PPP (current international $)', 4721039504.83477, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'THA', 'Thailand', 1999, 'GDP, PPP (current international $)', 430503738812.986, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BLR', 'Belarus', 2004, 'GDP, PPP (current international $)', 82603919631.1015, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BLZ', 'Belize', 2004, 'GDP, PPP (current international $)', 1875116458.80864, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BMU', 'Bermuda', 2004, 'GDP, PPP (current international $)', 4051323524.73477, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BOL', 'Bolivia', 2004, 'GDP, PPP (current international $)', 35037816368.9345, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'FIN', 'Finland', 2008, 'GDP, PPP (current international $)', 212980676990.544, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'FJI', 'Fiji', 2008, 'GDP, PPP (current international $)', 6574958071.44493, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'FRA', 'France', 2008, 'GDP, PPP (current international $)', 2259256991361.58, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'FSM', 'Micronesia, Fed. Sts.', 2008, 'GDP, PPP (current international $)', 318920730.936647, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ISL', 'Iceland', 2012, 'GDP, PPP (current international $)', 13471498420.0286, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ISR', 'Israel', 2012, 'GDP, PPP (current international $)', 251920597832.105, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ITA', 'Italy', 2012, 'GDP, PPP (current international $)', 2172383785077.79, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'JAM', 'Jamaica', 2012, 'GDP, PPP (current international $)', 23269052381.302, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'MAC', 'Macao SAR, China', 2016, 'GDP, PPP (current international $)', 70409197227.4455, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'MAR', 'Morocco', 2016, 'GDP, PPP (current international $)', 253685437088.192, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'MDA', 'Moldova', 2016, 'GDP, PPP (current international $)', 29732362696.7569, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'MDG', 'Madagascar', 2016, 'GDP, PPP (current international $)', 39996972856.607, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'POL', 'Poland', 2020, 'GDP, PPP (current international $)', 1299444847807.88, 'USD')
batch insert result: [(1000,)]
inserting 64 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'PRE', 'Pre-demographic dividend', 2020, 'GDP, PPP (current international $)', 3436884345477.2, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'PRI', 'Puerto Rico', 2020, 'GDP, PPP (current international $)', 112676686084.799, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'PRT', 'Portugal', 2020, 'GDP, PPP (current international $)', 351924219905.62, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ZWE', 'Zimbabwe', 2020, 'GDP, PPP (current international $)', 52575395539.3358, 'USD')
batch insert result: [(64,)]

In [14]:
import pandas as pd
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}" + " where country_iso_code='BHS' order by validity_date desc"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_iso_code,country_name,validity_date,attribute,value,value_units
0,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",2020,GDP (current US$),9.907500e+09,USD
1,API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2020,"GDP, PPP (current international $)",1.279573e+10,USD
2,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",2019,GDP (current US$),1.316440e+10,USD
3,API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2019,"GDP, PPP (current international $)",1.479005e+10,USD
4,API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2018,"GDP, PPP (current international $)",1.442929e+10,USD
...,...,...,...,...,...,...,...,...
87,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",1964,GDP (current US$),2.666667e+08,USD
88,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",1963,GDP (current US$),2.377451e+08,USD
89,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",1962,GDP (current US$),2.122549e+08,USD
90,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",1961,GDP (current US$),1.900980e+08,USD
91,API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv,WDI,BHS,"Bahamas, The",1960,GDP (current US$),1.698039e+08,USD