<font size="5">Ingest WDI - "GDP per capita" data into Trino pipeline</font>

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib

Load Environment Variables

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
# use a catalog that is configured for iceberg
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_wdi_gdp'

In [4]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('sandbox',)
('wri_gppd',)

Load GDP file (updated sporadically from https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD)

In [7]:
import pandas as pd
import ParseXLS as parser


## GDP
ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/WDI/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv')
ticker_file.download_file(f'/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv')

df = parser.process('WDI_GDP.ini','WDI_GDP.csv') 

## GDP PPP

ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/WDI/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv')
ticker_file.download_file(f'/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv')

df2 = parser.process('WDI_GDP_PPP.ini','WDI_GDP_PPP.csv') 

# combine both dataframes

df =pd.concat([df,df2])

df=df.astype({'validity_date': 'int32'})
df= df.convert_dtypes()
df.info(verbose=True)
df= df[['rec_source','data_provider','country_iso_code','country_name','validity_date','attribute','value','value_units']].dropna(subset=['value'])
#df = df.convert_dtypes()
#print(df.info(verbose=True))
#df
#df

WDI_GDP.ini
file_list:
['/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv']
/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv
2
csv
/tmp/API_NY.GDP.MKTP.CD_DS2_en_csv_v
<configparser.ConfigParser object at 0x7fdea9f37f40>
                    Country Name Country Code     Indicator Name  \
0                          Aruba          ABW  GDP (current US$)
1    Africa Eastern and Southern          AFE  GDP (current US$)
2                    Afghanistan          AFG  GDP (current US$)
3     Africa Western and Central          AFW  GDP (current US$)
4                         Angola          AGO  GDP (current US$)
..                           ...          ...                ...
261                       Kosovo          XKX  GDP (current US$)
262                  Yemen, Rep.          YEM  GDP (current US$)
263                 South Africa          ZAF  GDP (current US$)
264                       Zambia          ZMB  GDP (current US$)
265                     Zimbabwe          ZWE  GDP (current US$)

     Indicator Code          1960          1961          1962          1963  \
0    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1    NY.GDP.MKTP.CD  2.129059e+10  2.180847e+10  2.370702e+10  2.821004e+10
2    NY.GDP.MKTP.CD  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
3    NY.GDP.MKTP.CD  1.040414e+10  1.112789e+10  1.194319e+10  1.267633e+10
4    NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
..              ...           ...           ...           ...           ...
261  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
262  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
263  NY.GDP.MKTP.CD  8.748597e+09  9.225996e+09  9.813996e+09  1.085420e+10
264  NY.GDP.MKTP.CD  7.130000e+08  6.962857e+08  6.931429e+08  7.187143e+08
265  NY.GDP.MKTP.CD  1.052990e+09  1.096647e+09  1.117602e+09  1.159512e+09

             1964          1965  ...          2013          2014  \
0             NaN           NaN  ...  2.727933e+09  2.791061e+09
1    2.611879e+10  2.968217e+10  ...  9.839370e+11  1.003679e+12
2    8.000000e+08  1.006667e+09  ...  2.014640e+10  2.049713e+10
3    1.383837e+10  1.486223e+10  ...  8.207927e+11  8.649905e+11
4             NaN           NaN  ...  1.334016e+11  1.372444e+11
..            ...           ...  ...           ...           ...
261           NaN           NaN  ...  6.735731e+09  7.074658e+09
262           NaN           NaN  ...  4.041524e+10  4.322859e+10
263  1.195600e+10  1.306899e+10  ...  4.008860e+11  3.811989e+11
264  8.394286e+08  1.082857e+09  ...  2.803724e+10  2.714102e+10
265  1.217138e+09  1.311436e+09  ...  1.909102e+10  1.949552e+10

             2015          2016          2017          2018          2019  \
0    2.963128e+09  2.983799e+09  3.092179e+09  3.202235e+09  3.310056e+09
1    9.242525e+11  8.823551e+11  1.020647e+12  9.910223e+11  9.975340e+11
2    1.913421e+10  1.811656e+10  1.875347e+10  1.805323e+10  1.879945e+10
3    7.607345e+11  6.905464e+11  6.837487e+11  7.416899e+11  7.945430e+11
4    8.721929e+10  4.984049e+10  6.897276e+10  7.779294e+10  6.930910e+10
..            ...           ...           ...           ...           ...
261  6.295820e+09  6.682833e+09  7.180813e+09  7.878509e+09  7.899879e+09
262  4.244450e+10  3.131783e+10  2.684223e+10  2.160616e+10  2.188761e+10
263  3.467098e+11  3.235855e+11  3.814488e+11  4.048421e+11  3.879346e+11
264  2.125122e+10  2.095841e+10  2.587360e+10  2.631159e+10  2.330867e+10
265  1.996312e+10  2.054868e+10  1.758489e+10  1.811554e+10  1.928429e+10

             2020          2021  Unnamed: 66
0    2.496648e+09           NaN          NaN
1    9.216459e+11  1.082096e+12          NaN
2    2.011614e+10           NaN          NaN
3    7.844457e+11  8.358084e+11          NaN
4    5.361907e+10  7.254699e+10          NaN
..            ...           ...          ...
261  7.716925e+09  9.007159e+09          NaN
262  1.884051e+10  2.106169e+10          NaN
263  3.354421e+11  4.199464e+11          NaN
264  1.811063e+10  2.120306e+10          NaN
265  1.805117e+10  2.621773e+10          NaN

[266 rows x 67 columns]
['0', '4']
eval_components
['Indicator Name']
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
Indicator Name
eval_components
['USD']
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'attribute']
USD
Index(['column names original:Country Name',
       'column names original:Country Code',
       'column names original:Indicator Name',
       'column names original:Indicator Code', 'column names original:1960',
       'column names original:1961', 'column names original:1962',
       'column names original:1963', 'column names original:1964',
       'column names original:1965', 'column names original:1966',
       'column names original:1967', 'column names original:1968',
       'column names original:1969', 'column names original:1970',
       'column names original:1971', 'column names original:1972',
       'column names original:1973', 'column names original:1974',
       'column names original:1975', 'column names original:1976',
       'column names original:1977', 'column names original:1978',
       'column names original:1979', 'column names original:1980',
       'column names original:1981', 'column names original:1982',
       'column names original:1983', 'column names original:1984',
       'column names original:1985', 'column names original:1986',
       'column names original:1987', 'column names original:1988',
       'column names original:1989', 'column names original:1990',
       'column names original:1991', 'column names original:1992',
       'column names original:1993', 'column names original:1994',
       'column names original:1995', 'column names original:1996',
       'column names original:1997', 'column names original:1998',
       'column names original:1999', 'column names original:2000',
       'column names original:2001', 'column names original:2002',
       'column names original:2003', 'column names original:2004',
       'column names original:2005', 'column names original:2006',
       'column names original:2007', 'column names original:2008',
       'column names original:2009', 'column names original:2010',
       'column names original:2011', 'column names original:2012',
       'column names original:2013', 'column names original:2014',
       'column names original:2015', 'column names original:2016',
       'column names original:2017', 'column names original:2018',
       'column names original:2019', 'column names original:2020',
       'column names original:2021', 'column names original:attribute',
       'column names original:units'],
      dtype='object')
Index(['column names after rename:country_name',
       'column names after rename:country_iso_code',
       'column names after rename:Indicator Name',
       'column names after rename:Indicator Code',
       'column names after rename:1960', 'column names after rename:1961',
       'column names after rename:1962', 'column names after rename:1963',
       'column names after rename:1964', 'column names after rename:1965',
       'column names after rename:1966', 'column names after rename:1967',
       'column names after rename:1968', 'column names after rename:1969',
       'column names after rename:1970', 'column names after rename:1971',
       'column names after rename:1972', 'column names after rename:1973',
       'column names after rename:1974', 'column names after rename:1975',
       'column names after rename:1976', 'column names after rename:1977',
       'column names after rename:1978', 'column names after rename:1979',
       'column names after rename:1980', 'column names after rename:1981',
       'column names after rename:1982', 'column names after rename:1983',
       'column names after rename:1984', 'column names after rename:1985',
       'column names after rename:1986', 'column names after rename:1987',
       'column names after rename:1988', 'column names after rename:1989',
       'column names after rename:1990', 'column names after rename:1991',
       'column names after rename:1992', 'column names after rename:1993',
       'column names after rename:1994', 'column names after rename:1995',
       'column names after rename:1996', 'column names after rename:1997',
       'column names after rename:1998', 'column names after rename:1999',
       'column names after rename:2000', 'column names after rename:2001',
       'column names after rename:2002', 'column names after rename:2003',
       'column names after rename:2004', 'column names after rename:2005',
       'column names after rename:2006', 'column names after rename:2007',
       'column names after rename:2008', 'column names after rename:2009',
       'column names after rename:2010', 'column names after rename:2011',
       'column names after rename:2012', 'column names after rename:2013',
       'column names after rename:2014', 'column names after rename:2015',
       'column names after rename:2016', 'column names after rename:2017',
       'column names after rename:2018', 'column names after rename:2019',
       'column names after rename:2020', 'column names after rename:2021',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object')
266
266
before melt
                    country_name country_iso_code          1960          1961  \
0                          Aruba              ABW           NaN           NaN
1    Africa Eastern and Southern              AFE  2.129059e+10  2.180847e+10
2                    Afghanistan              AFG  5.377778e+08  5.488889e+08
3     Africa Western and Central              AFW  1.040414e+10  1.112789e+10
4                         Angola              AGO           NaN           NaN
..                           ...              ...           ...           ...
261                       Kosovo              XKX           NaN           NaN
262                  Yemen, Rep.              YEM           NaN           NaN
263                 South Africa              ZAF  8.748597e+09  9.225996e+09
264                       Zambia              ZMB  7.130000e+08  6.962857e+08
265                     Zimbabwe              ZWE  1.052990e+09  1.096647e+09

             1962          1963          1964          1965          1966  \
0             NaN           NaN           NaN           NaN           NaN
1    2.370702e+10  2.821004e+10  2.611879e+10  2.968217e+10  3.223912e+10
2    5.466667e+08  7.511112e+08  8.000000e+08  1.006667e+09  1.400000e+09
3    1.194319e+10  1.267633e+10  1.383837e+10  1.486223e+10  1.583259e+10
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
261           NaN           NaN           NaN           NaN           NaN
262           NaN           NaN           NaN           NaN           NaN
263  9.813996e+09  1.085420e+10  1.195600e+10  1.306899e+10  1.421139e+10
264  6.931429e+08  7.187143e+08  8.394286e+08  1.082857e+09  1.264286e+09
265  1.117602e+09  1.159512e+09  1.217138e+09  1.311436e+09  1.281750e+09

             1967  ...          2014          2015          2016  \
0             NaN  ...  2.791061e+09  2.963128e+09  2.983799e+09
1    3.351455e+10  ...  1.003679e+12  9.242525e+11  8.823551e+11
2    1.673333e+09  ...  2.049713e+10  1.913421e+10  1.811656e+10
3    1.442604e+10  ...  8.649905e+11  7.607345e+11  6.905464e+11
4             NaN  ...  1.372444e+11  8.721929e+10  4.984049e+10
..            ...  ...           ...           ...           ...
261           NaN  ...  7.074658e+09  6.295820e+09  6.682833e+09
262           NaN  ...  4.322859e+10  4.244450e+10  3.131783e+10
263  1.582139e+10  ...  3.811989e+11  3.467098e+11  3.235855e+11
264  1.368000e+09  ...  2.714102e+10  2.125122e+10  2.095841e+10
265  1.397002e+09  ...  1.949552e+10  1.996312e+10  2.054868e+10

             2017          2018          2019          2020          2021  \
0    3.092179e+09  3.202235e+09  3.310056e+09  2.496648e+09           NaN
1    1.020647e+12  9.910223e+11  9.975340e+11  9.216459e+11  1.082096e+12
2    1.875347e+10  1.805323e+10  1.879945e+10  2.011614e+10           NaN
3    6.837487e+11  7.416899e+11  7.945430e+11  7.844457e+11  8.358084e+11
4    6.897276e+10  7.779294e+10  6.930910e+10  5.361907e+10  7.254699e+10
..            ...           ...           ...           ...           ...
261  7.180813e+09  7.878509e+09  7.899879e+09  7.716925e+09  9.007159e+09
262  2.684223e+10  2.160616e+10  2.188761e+10  1.884051e+10  2.106169e+10
263  3.814488e+11  4.048421e+11  3.879346e+11  3.354421e+11  4.199464e+11
264  2.587360e+10  2.631159e+10  2.330867e+10  1.811063e+10  2.120306e+10
265  1.758489e+10  1.811554e+10  1.928429e+10  1.805117e+10  2.621773e+10

             attribute  units
0    GDP (current US$)    USD
1    GDP (current US$)    USD
2    GDP (current US$)    USD
3    GDP (current US$)    USD
4    GDP (current US$)    USD
..                 ...    ...
261  GDP (current US$)    USD
262  GDP (current US$)    USD
263  GDP (current US$)    USD
264  GDP (current US$)    USD
265  GDP (current US$)    USD

[266 rows x 66 columns]
after melt
      country_iso_code                 country_name          attribute units  \
0                  ABW                        Aruba  GDP (current US$)   USD
1                  AFE  Africa Eastern and Southern  GDP (current US$)   USD
2                  AFG                  Afghanistan  GDP (current US$)   USD
3                  AFW   Africa Western and Central  GDP (current US$)   USD
4                  AGO                       Angola  GDP (current US$)   USD
...                ...                          ...                ...   ...
16487              XKX                       Kosovo  GDP (current US$)   USD
16488              YEM                  Yemen, Rep.  GDP (current US$)   USD
16489              ZAF                 South Africa  GDP (current US$)   USD
16490              ZMB                       Zambia  GDP (current US$)   USD
16491              ZWE                     Zimbabwe  GDP (current US$)   USD

       year         value
0      1960           NaN
1      1960  2.129059e+10
2      1960  5.377778e+08
3      1960  1.040414e+10
4      1960           NaN
...     ...           ...
16487  2021  9.007159e+09
16488  2021  2.106169e+10
16489  2021  4.199464e+11
16490  2021  2.120306e+10
16491  2021  2.621773e+10

[16492 rows x 6 columns]
list columns
['country_iso_code', 'country_name', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'country_name', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
WDI_GDP_PPP.ini
file_list:
['/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv']
/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv
2
csv
/tmp/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v
<configparser.ConfigParser object at 0x7fdea9f22e50>
                    Country Name Country Code  \
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                         Indicator Name     Indicator Code  1960  1961  1962  \
0    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
1    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
2    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
3    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
4    GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
..                                  ...                ...   ...   ...   ...
261  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
262  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
263  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
264  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN
265  GDP, PPP (current international $)  NY.GDP.MKTP.PP.CD   NaN   NaN   NaN

     1963  1964  1965  ...          2013          2014          2015  \
0     NaN   NaN   NaN  ...  3.799583e+09  3.817112e+09  3.893364e+09
1     NaN   NaN   NaN  ...  1.893539e+12  2.025476e+12  2.098349e+12
2     NaN   NaN   NaN  ...  6.503984e+10  6.905834e+10  7.183170e+10
3     NaN   NaN   NaN  ...  1.526772e+12  1.645122e+12  1.662297e+12
4     NaN   NaN   NaN  ...  1.998656e+11  2.203648e+11  2.046036e+11
..    ...   ...   ...  ...           ...           ...           ...
261   NaN   NaN   NaN  ...  1.524200e+10  1.567947e+10  1.673239e+10
262   NaN   NaN   NaN  ...  9.275561e+10           NaN           NaN
263   NaN   NaN   NaN  ...  7.305176e+11  7.419156e+11  7.589010e+11
264   NaN   NaN   NaN  ...  5.341984e+10  5.450659e+10  5.447260e+10
265   NaN   NaN   NaN  ...  3.418729e+10  3.549468e+10  3.701644e+10

             2016          2017          2018          2019          2020  \
0    3.941568e+09  4.097907e+09  4.248976e+09  4.234776e+09  3.329266e+09
1    2.212683e+12  2.299420e+12  2.418685e+12  2.517975e+12  2.478218e+12
2    7.009796e+10  7.471192e+10  7.740652e+10  8.187310e+10  8.091174e+10
3    1.678674e+12  1.744087e+12  1.841595e+12  1.937545e+12  1.946025e+12
4    2.048747e+11  2.179873e+11  2.202571e+11  2.226275e+11  2.129186e+11
..            ...           ...           ...           ...           ...
261  1.778924e+10  1.869121e+10  1.978970e+10  2.110188e+10  2.021573e+10
262           NaN           NaN           NaN           NaN           NaN
263  7.727687e+11  7.901706e+11  8.210833e+11  8.367151e+11  7.923335e+11
264  5.571221e+10  5.873519e+10  6.256466e+10  6.460164e+10  6.355937e+10
265  3.937571e+10  3.439633e+10  3.691706e+10  3.526856e+10  3.346322e+10

             2021  Unnamed: 66
0             NaN          NaN
1    2.696407e+12          NaN
2             NaN          NaN
3    2.107259e+12          NaN
4    2.233185e+11          NaN
..            ...          ...
261  2.297765e+10          NaN
262           NaN          NaN
263  8.658160e+11          NaN
264  6.856572e+10          NaN
265  3.689248e+10          NaN

[266 rows x 67 columns]
['0', '4']
eval_components
['Indicator Name']

In [8]:
#%run -i TransposeXLS.py --config WDI.ini --output=WDI.csv

In [9]:
import osc_ingest_trino as osc
columnschema = osc.create_table_schema_pairs(df)

In [10]:
tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
#print(qres.fetchall())

create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_gdp(
    rec_source varchar,
    data_provider varchar,
    country_iso_code varchar,
    country_name varchar,
    validity_date integer,
    attribute varchar,
    value double,
    value_units varchar
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)

In [11]:
# Delete the data for the related attribute 
sql=f"""
delete from {ingest_catalog}.{ingest_schema}.{ingest_table} 
"""
qres = engine.execute(sql)
print(qres.fetchall())

[(20064,)]

In [12]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
pd.read_sql(sql, engine)

Empty DataFrame
Columns: [rec_source, data_provider, country_iso_code, country_name, validity_date, attribute, value, value_units]
Index: []

In [13]:
print(ingest_catalog)
#df=df.drop(df[df.country_name=="cote d'ivoire"].index)
df.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

osc_datacommons_dev
constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_wdi_gdp"
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'AFE', 'Africa Eastern and Southern', 1960, 'GDP (current US$)', 21290586002.8823, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'AFG', 'Afghanistan', 1960, 'GDP (current US$)', 537777811.111111, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'AFW', 'Africa Western and Central', 1960, 'GDP (current US$)', 10404135069.15, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'CHL', 'Chile', 1967, 'GDP (current US$)', 7013196078.43137, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'CHN', 'China', 1967, 'GDP (current US$)', 72881631326.6715, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'CIV', 'Cote d''Ivoire', 1967, 'GDP (current US$)', 1082922892.15202, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'CMR', 'Cameroon', 1967, 'GDP (current US$)', 936175404.642829, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'DNK', 'Denmark', 1973, 'GDP (current US$)', 30730626663.3606, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'DOM', 'Dominican Republic', 1973, 'GDP (current US$)', 2344800000.0, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'DZA', 'Algeria', 1973, 'GDP (current US$)', 8707847924.29022, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'EAP', 'East Asia & Pacific (excluding high income)', 1973, 'GDP (current US$)', 195584382050.168, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'TGO', 'Togo', 1978, 'GDP (current US$)', 824263841.539264, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'THA', 'Thailand', 1978, 'GDP (current US$)', 24006570178.1561, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'TLA', 'Latin America & the Caribbean (IDA & IBRD countries)', 1978, 'GDP (current US$)', 510062487286.572, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'TMN', 'Middle East & North Africa (IDA & IBRD countries)', 1978, 'GDP (current US$)', 181557433368.636, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'BTN', 'Bhutan', 1984, 'GDP (current US$)', 160459970.536972, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'BWA', 'Botswana', 1984, 'GDP (current US$)', 1240796364.75662, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'CAF', 'Central African Republic', 1984, 'GDP (current US$)', 637820620.670195, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'CAN', 'Canada', 1984, 'GDP (current US$)', 355372558103.621, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'BEL', 'Belgium', 1989, 'GDP (current US$)', 164221056511.057, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'BEN', 'Benin', 1989, 'GDP (current US$)', 1502294411.46202, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'BFA', 'Burkina Faso', 1989, 'GDP (current US$)', 2615587725.77391, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'BGD', 'Bangladesh', 1989, 'GDP (current US$)', 28781714763.8909, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LMC', 'Lower middle income', 1993, 'GDP (current US$)', 1046851950149.48, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LMY', 'Low & middle income', 1993, 'GDP (current US$)', 4001217916505.26, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LSO', 'Lesotho', 1993, 'GDP (current US$)', 835592802.276831, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LTE', 'Late-demographic dividend', 1993, 'GDP (current US$)', 2093878266810.99, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'QAT', 'Qatar', 1997, 'GDP (current US$)', 11297802115.3846, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'ROU', 'Romania', 1997, 'GDP (current US$)', 35574916294.6429, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'RUS', 'Russian Federation', 1997, 'GDP (current US$)', 404928954191.876, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'RWA', 'Rwanda', 1997, 'GDP (current US$)', 1851558301.7002, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'SYR', 'Syrian Arab Republic', 2001, 'GDP (current US$)', 86771314031.1804, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'TCA', 'Turks and Caicos Islands', 2001, 'GDP (current US$)', 358744800.0, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'TCD', 'Chad', 2001, 'GDP (current US$)', 1710843360.64955, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'TEA', 'East Asia & Pacific (IDA & IBRD countries)', 2001, 'GDP (current US$)', 1844705099622.4, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'SRB', 'Serbia', 2005, 'GDP (current US$)', 27683225959.2468, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'SSA', 'Sub-Saharan Africa (excluding high income)', 2005, 'GDP (current US$)', 820395670503.096, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'SSF', 'Sub-Saharan Africa', 2005, 'GDP (current US$)', 821319019565.733, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'SST', 'Small states', 2005, 'GDP (current US$)', 237916023767.328, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'PSE', 'West Bank and Gaza', 2009, 'GDP (current US$)', 8085700000.0, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'PSS', 'Pacific island small states', 2009, 'GDP (current US$)', 5960880972.95578, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'PST', 'Post-demographic dividend', 2009, 'GDP (current US$)', 40940842441351.9, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'QAT', 'Qatar', 2009, 'GDP (current US$)', 97798351648.3516, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'MUS', 'Mauritius', 2013, 'GDP (current US$)', 12129642296.4425, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'MWI', 'Malawi', 2013, 'GDP (current US$)', 5518880768.57955, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'MYS', 'Malaysia', 2013, 'GDP (current US$)', 323277158906.979, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'NAC', 'North America', 2013, 'GDP (current US$)', 18696254170835.0, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LCN', 'Latin America & Caribbean', 2017, 'GDP (current US$)', 5830760733039.75, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LDC', 'Least developed countries\: UN classification', 2017, 'GDP (current US$)', 1103873572550.27, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LIC', 'Low income', 2017, 'GDP (current US$)', 527246970766.453, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LIE', 'Liechtenstein', 2017, 'GDP (current US$)', 6474256118.61481, 'USD')
  ...
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LAO', 'Lao PDR', 2021, 'GDP (current US$)', 18827148530.0151, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LBN', 'Lebanon', 2021, 'GDP (current US$)', 18076624840.1841, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LBR', 'Liberia', 2021, 'GDP (current US$)', 3486741370.0, 'USD')
  ('API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv', 'WDI', 'LBY', 'Libya', 2021, 'GDP (current US$)', 41879579677.1747, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'COL', 'Colombia', 1994, 'GDP, PPP (current international $)', 216844486441.94, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'COM', 'Comoros', 1994, 'GDP, PPP (current international $)', 722664523.073747, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'CPV', 'Cabo Verde', 1994, 'GDP, PPP (current international $)', 578533337.188744, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'CRI', 'Costa Rica', 1994, 'GDP, PPP (current international $)', 21658169268.7315, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'MYS', 'Malaysia', 1998, 'GDP, PPP (current international $)', 249677679352.737, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'NAC', 'North America', 1998, 'GDP, PPP (current international $)', 9859337263733.76, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'NAM', 'Namibia', 1998, 'GDP, PPP (current international $)', 8405993281.65901, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'NER', 'Niger', 1998, 'GDP, PPP (current international $)', 8603783380.24822, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'TUV', 'Tuvalu', 2002, 'GDP, PPP (current international $)', 27658211.5263334, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'TZA', 'Tanzania', 2002, 'GDP, PPP (current international $)', 45688353048.1105, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'UGA', 'Uganda', 2002, 'GDP, PPP (current international $)', 32041170370.0928, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'UKR', 'Ukraine', 2002, 'GDP, PPP (current international $)', 249349470726.801, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BOL', 'Bolivia', 2007, 'GDP, PPP (current international $)', 43789629088.7436, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BRA', 'Brazil', 2007, 'GDP, PPP (current international $)', 2389038740932.39, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BRB', 'Barbados', 2007, 'GDP, PPP (current international $)', 4698118025.0051, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'BRN', 'Brunei Darussalam', 2007, 'GDP, PPP (current international $)', 30414305194.0122, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'EAS', 'East Asia & Pacific', 2011, 'GDP, PPP (current international $)', 28180607822196.5, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ECA', 'Europe & Central Asia (excluding high income)', 2011, 'GDP, PPP (current international $)', 6442535791189.4, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ECS', 'Europe & Central Asia', 2011, 'GDP, PPP (current international $)', 24695179823527.9, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ECU', 'Ecuador', 2011, 'GDP, PPP (current international $)', 150266909235.128, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'GUY', 'Guyana', 2015, 'GDP, PPP (current international $)', 8593945843.62234, 'USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'HIC', 'High income', 2015, 'GDP, PPP (current international $)', 54750384812661.8, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'HKG', 'Hong Kong SAR, China', 2015, 'GDP, PPP (current international $)', 411294477052.779, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'HND', 'Honduras', 2015, 'GDP, PPP (current international $)', 43955139193.462, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'KWT', 'Kuwait', 2019, 'GDP, PPP (current international $)', 218998184051.221, 'USD')
batch insert result: [(1000,)]
inserting 590 records
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'LAC', 'Latin America & Caribbean (excluding high income)', 2019, 'GDP, PPP (current international $)', 9314540010032.18, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'LAO', 'Lao PDR', 2019, 'GDP, PPP (current international $)', 58929384912.2818, 'USD')
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'LBN', 'Lebanon', 2019, 'GDP, PPP (current international $)', 103555890387.967, 'USD')
  ...
  ('API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv', 'WDI', 'ZWE', 'Zimbabwe', 2021, 'GDP, PPP (current international $)', 36892483563.149, 'USD')
batch insert result: [(590,)]

In [14]:
import pandas as pd
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}" + " where country_iso_code='BHS' order by validity_date desc"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_iso_code,country_name,validity_date,attribute,value,value_units
0,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2021,GDP (current US$),1.120860e+10,USD
1,API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2021,"GDP, PPP (current international $)",1.353788e+10,USD
2,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2020,GDP (current US$),9.699500e+09,USD
3,API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2020,"GDP, PPP (current international $)",1.142966e+10,USD
4,API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",2019,"GDP, PPP (current international $)",1.482532e+10,USD
...,...,...,...,...,...,...,...,...
89,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",1964,GDP (current US$),2.666667e+08,USD
90,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",1963,GDP (current US$),2.377451e+08,USD
91,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",1962,GDP (current US$),2.122549e+08,USD
92,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",1961,GDP (current US$),1.900980e+08,USD
93,API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv,WDI,BHS,"Bahamas, The",1960,GDP (current US$),1.698039e+08,USD